@font-face {
    font-family: 'Mariupol';
    src: local('Mariupol Regular'), local('Mariupol-Regular'),
        url('../build/fonts/Mariupol/Mariupol-Regular.woff2') format('woff2'),
        url('../build/fonts/Mariupol/Mariupol-Regular.woff') format('woff'),
        url('../build/fonts/Mariupol/Mariupol-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }