.about {
	padding-top: 35px;
	max-width: 1000px;

	.title {
		font-size: 18px;
		line-height: 17px;
		text-align: center;
		font-weight: bold;
		margin: 30px 0 12px;
	}

	.desc {
		font-size: 16px;
		line-height: 19px;
		max-width: 305px;
		margin: 0 auto;
	}

	.img {
		min-height: 206px;
		display: flex;
		justify-content: center;
    	align-items: flex-end;
	}

	.more {
		a {
			margin-top: 20px;
		}
	}
}