.uk-modal-dialog {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 25px;
	padding: 40px;
	max-width: 460px;
}

.uk-modal-close.uk-close {
	background: url(../../images/layout/user/close.svg) no-repeat center center;
    width: 40px;
    height: 40px;
    right: -8px;
    top: -9px;
    position: absolute;
    z-index: 9999999999;
    opacity: 1;

	&:after {
		content: '';
	}
}

.auth {
	color: #757575;
	font-size: 14px;
	line-height: 19px;
	
	.logo-box {
		margin: 0 auto 30px;

		.logo {
			min-width: 117px;
			width: 117px;
		}
	}

	.uk-form {
		input[type="text"],
		input[type="email"],
		input[type="password"] {
			background: #F9F9F9;
			border: 1px solid #E5E5E5;
			box-sizing: border-box;
			border-radius: 25px;
			color: #757575;
			height: 50px;
			line-height: 50px;
			box-sizing: border-box;
			padding-left: 50px;
			width: 100%;
			font-size: 16px;
		}

		.login-bg {
			background: url(../../images/layout/user/login.svg) no-repeat 20px center #F9F9F9 !important;
		}

		.password-bg {
			background: url(../../images/layout/user/password.svg) no-repeat 20px center #F9F9F9 !important;
		}

		.email-bg {
			background: url(../../images/layout/user/email.svg) no-repeat 20px center #F9F9F9 !important;
		}

		button[type=submit] {
			background: #ED2B31;
			box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(237, 43, 49, 0.12), 0px 4px 8px rgba(237, 43, 49, 0.18);
			border-radius: 25px;
			width: 100%;
			height: 50px;
			font-size: 18px;
			font-weight: bold;
			margin: 30px 0;
			color: #fff;

			&:hover {
				background: #fff;
				border: 1px solid $red;
				color: $red;
			}
		}
	}

	.muted-link {
		color: #757575;
		border-bottom: 1px solid #757575;

		&:hover {
			border-bottom: 1px solid transparent;
		}
	}

	.uk-form-row + .uk-form-row {
		margin-top: 10px;
	}

	.links {
		margin-top: 15px !important;
	}

	.social-account {
		margin: 30px 0 30px -10px;

		> * {
			padding-left: 10px;
		}

		a {
			width: 100%;
			display: block;
			height: 50px;
			line-height: 50px;
			border-radius: 25px;
			text-indent: -9999px;
			border-width: 1px;
			border-style: solid;
		}

		.facebook {
			background: url(../../images/layout/user/facebook.svg) no-repeat center center #007BE8;
			border-color: #007BE8;
		}

		.twitter {
			background: url(../../images/layout/user/twitter.svg) no-repeat center center #43BAFF;
			border-color: #43BAFF;
		}

		.google {
			background: url(../../images/layout/user/google.svg) no-repeat center center #DE4D3B;
			border-color: #DE4D3B;
		}
	}

	&.reg-form {
		.social-account {
			margin: 15px 0 15px -10px;
		}

		.text-line {
			margin-bottom: 15px;
		}
	}

	.form-title {
		font-weight: bold;
		font-size: 24px;
		line-height: 23px;
		text-align: center;
		color: #121212;
		margin-bottom: 30px;
	}

	&.password-reset-form {
		.desc {
			margin-bottom: 15px;
		}

		.uk-form {
			button[type=submit] {
				margin: 10px 0 15px;
			}
		}
	}
}