.content-inner {
	max-width: 770px;
	margin: 0 auto;
}

.blog {
	margin-top: 60px;

	.tags {
		margin: 0 0 25px;
		padding: 0;
		list-style: none;

		li {
			list-style: none;
			display: inline-block;
			margin-right: 15px;

			a {
				display: inline-block;
				line-height: 22px;
				font-size: 16px;
				color: #B2B2B2;

				&:hover {
					color: $red;
					text-decoration: none;
				}

				&:before {
					content: '#';
					color: $red;
					font-size: 20px;
				}
			}
		}

		&.as-buttons {
			li {
				margin-right: 15px;
			}

			a {
				padding: 0 30px 5px;
				background: #FFFFFF;
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
				border-radius: 5px;
				font-size: 24px;
				line-height: 35px;
				text-align: center;
				color: #121212;

				&:before {
					font-size: 24px;
				}
			}
		}
	}

	.header {
		font-size: 48px;
		line-height: 46px;
		margin-bottom: 12px;
		font-weight: bold;
	}

	.sub-header {
		font-size: 24px;
		line-height: 23px;
		font-weight: bold;
		margin-bottom: 28px;
	}
	
	.lead-img {
		border-radius: 25px;
	}

	.item-meta {
		display: flex;
		justify-content: space-between;
		font-size: 18px;
		line-height: 17px;
		color: #B2B2B2;
		text-transform: uppercase;
		line-height: 50px;
	}

	.author {
		img {
			margin-right: 10px;
			float: left;
		}
	}

	.item-text {
		margin: 20px 0 10px;
		font-size: 16px;
		line-height: 22px;
	}

	&.blog-page {
		.item-meta {
			margin: 30px 0 20px;
		}

		.item-text {
			margin-top: 25px;

			img {
				border-radius: 25px;
			}
		}
	}

	.related-item {
		margin-bottom: 55px;

		.header {
			font-size: 24px;
			line-height: 23px;
			color: #121212;
			text-decoration: none;

			&:hover {
				color: $red;
			}
		}

		.content-inner {
			max-width: 100%;
		}

		.item-meta {
			margin: 20px 0 15px;
			line-height: 17px;
		}
	}

	.read-more {
		font-size: 16px;
		line-height: 22px;
		text-decoration-line: underline;
		color: $red;
		font-weight: bold;

		&:hover {
			text-decoration: none;
		}
	}

	#commento {
		margin: 50px 0;
	}
}

.blog-item {
	margin-bottom: 65px;

	h3 {
		font-size: 36px;
		font-weight: bold;
		margin: 30px 0 25px;
		line-height: 35px;

		a {
			color: #121212;

			&:hover {
				text-decoration: none;
				color: $red;
			}
		}
	}
}

#loadmore {
	display: inline-block;
	width: 170px;
	line-height: 30px;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: #F1543F;
	border-radius: 25px;

	&:hover {
		text-decoration: none;
	}
}

.pagination-inner {
	position: relative;

	.uk-pagination {
		position: absolute;
		right: 0;
		top: 0;
		margin: 0;

		> li:first-child {
			margin-right: 15px;
		}

		> li:last-child {
			margin-left: 15px;
		}

		> li:first-child,
		> li:last-child {
			font-size: 15px;

			i {
				line-height: 22px;
			}

			a, span {
				background: transparent;
			}
		}

		> li > a {
			background: transparent;
			font-weight: bold;
		}

		> li > a:hover, 
		> li > a:focus, 
		> .uk-active > span {
		    color: #fff;
		    background: #F1543F;
		    border-radius: 5px;
		    font-weight: bold;
		}
	}
}

.share-btn {
	display: inline-block;

	> a {
		background: #E5E5E5;
	    width: 25px;
	    height: 25px;
	    text-align: center;
	    line-height: 25px;
	    color: #fff;
	    border-radius: 5px;
	    margin-right: 15px;

	    &:last-child {
	    	margin-right: 0;
	    }

	    &:hover {
	    	background: $red;
	    }
	}
}

.comments-count {
	color: #000;
	text-decoration: none;
	background: url(../../images/layout/blog/comment.svg) no-repeat left center;
	padding-left: 30px;
    line-height: 25px;
    display: inline-block;
    margin-left: 20px;

    &:hover,
    &:focus {
    	color: $red;
    	text-decoration: none;
    }
}