.breadcrumb {
	font-size: 15px;
	line-height: 15px;
	color: #B9B9B9;
	padding: 30px 0 14px;
	margin: 0;

	> li {
	    font-size: 15px;
	    line-height: 17px;
	}

	a {
		color: #969696;

		&:hover {
			color: $red;
			text-decoration: none;
		}
	}

	&.uk-breadcrumb > li:nth-child(n+2):before {
	    content: "";
	    display: inline-block;
	    width: 6px;
	    height: 16px;
	    margin: 0 5px 0px 3px;
	    background: url(../../images/layout/breadcrumb.svg) no-repeat left center;
	    float: left;
	}

	&.uk-breadcrumb > li:last-child {
	    font-weight: bold;
	}
}