.catalog-homepage {
	padding-top: 35px;

	.block-title {
		font-size: 24px;
		line-height: 23px;
		margin-bottom: 30px;
		color: #121212;
		font-weight: bold;
	}

	.uk-grid {
		margin-left: -30px;

		> * {
	    	padding-left: 30px;
	    }
	}

	.item {
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		background: #FFFFFF;
		border-radius: 25px;
		text-align: center;
		padding: 20px 0 23px;
		box-sizing: border-box;
		margin-bottom: 50px;

		.icon {
			margin-bottom: 23px;
		}

		.title {
			margin-bottom: 14px;
			font-size: 18px;
			line-height: 17px;
			font-weight: bold;

			a {
				color: #121212;

				&:hover {
					text-decoration: none;
					color: $red;
				}
			}
		}

		ul {
			margin: 0 0 0 30px;
			padding: 0;
			list-style: none;
			text-align: left;

			a {
				font-size: 16px;
				line-height: 15px;
				color: #121212;

				&:hover {
					text-decoration: none;
					color: $red;
				}
			}
		}

		.desc {
			font-size: 16px;
			line-height: 15px;
		}

		&.chargeback {
			padding-top: 230px;
			padding-bottom: 60px;
			background: url(../../images/layout/chargeback.svg) no-repeat center top #fff;
		}

		&.learn-and-work {
			padding-top: 230px;
			padding-bottom: 60px;
			background: url(../../images/layout/learn-and-work.svg) no-repeat center top #fff;
		}
	}
}