.category-bg {
	background: #F9F9F9;
	padding: 23px 0 0;
}

.category-total {
    border-radius: 25px;
    font-size: 24px;
    line-height: 17px;
    padding: 9px 0;
    margin: 2px 0 0 20px;
    float: right;
}

.category-heading {
    font-size: 27px;
    line-height: 31px;
    color: #121212;
    font-weight: bold;
    margin-bottom: 0;
}

.money-back {
	display: flex;
    align-items: center;
    margin-bottom: 20px;

	&:before {
		content: '';
		background: url(../../images/layout/weekly-calendar.svg) no-repeat center center;
		width: 40px;
		min-width: 40px;
		height: 35px;
		display: block;
		margin-right: 20px;
	}
}

.category-children {
	display: flex;
	flex-wrap: wrap;
	margin-left: 0;

	a {
		background: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(95, 125, 149, 0.1);
		border-radius: 10px;
		display: inline-block;
		line-height: 30px;
		padding: 0 20px;
		font-size: 15px;
		color: #121212;
		margin-right: 20px;
		margin-bottom: 20px;
		transition: box-shadow .15s ease-out,transform .15s ease-out;

		&:hover {
		box-shadow: 0px 4px 10px rgba(95, 125, 149, 0.15);
			transform: translateY(-5px);
			color: $red;
		}

		&:before {
			content: '#';
			color: #ED2B31;
		}

		.count {
			background: rgba(95, 125, 149, 0.1);
			font-size: 12px;
			color: #121212;
			border-radius: 10px;
			padding: 0 4px;
			line-height: 18px;
			display: inline-block;
		}
	}
}

.category-helper {
	background: url(../../images/layout/helper.svg) no-repeat left bottom #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	position: relative;
	min-height: 80px;
	margin-top: 10px;

	.text {
		font-size: 14px;
		line-height: 30px;
		background: #F9F9F9;
		border-radius: 30px;
		padding: 0 15px;
		position: absolute;
		bottom: 35px;
		left: 122px;

		&.sm {
		    line-height: 14px;
		    padding: 5px 15px;
		    max-width: 100px;

		    span {
	    	    display: block;
			    position: absolute;
			    top: 42px;
			    width: 135px;
		    }
		}
	}

	.switchers {
		display: flex;
		justify-content: flex-end;
		height: 80px;
    	align-items: center;
    	margin-right: 30px;

		> div {
			margin-left: 20px;
		}
	}

	.filter-toggle {
	    position: relative;
	    padding: 0 40px 0 10px;
	    height: 35px;
	    line-height: 35px;
	    -ms-flex-wrap: left;
	    flex-wrap: left;
	    cursor: pointer;
	    background: #FFFFFF;
	    box-sizing: border-box;
	    box-shadow: inset 0px 4px 10px rgba(18, 18, 18, 0.05);
	    border-radius: 10px;
	    font-size: 15px;
	    min-width: 180px;

		&:after {
			content: '';
			width: 15px;
			height: 15px;
			display: block;
			position: absolute;
			top: 7px;
			right: 10px;
			background: url(../../images/layout/select-down.svg) no-repeat left bottom #FFFFFF;
		}

		&.active {
			border-color: #ED2B31;

			&:after {
				top: 11px;
				transform: rotate(180deg);
			}
		}
	}
}

#filter-results {
	margin-top: 30px;
	padding-bottom: 50px;

	.sorting {
		display: flex;
		font-size: 15px;
		line-height: 17px;

		.links {
			margin-left: 10px;
			display: flex;
		}

		a {
			color: #121212;
			text-decoration: none;
			position: relative;
			padding-right: 17px;
			
			&:hover {
				text-decoration: none;
			}
			
			&.active span {
				border-bottom: 1px solid #121212;
				font-weight: bold;
			}

			&:after {
				content: '';
				border-right: 1px solid #121212;
				right: 8px;
				top: 2px;
				height: 15px;
				display: inline-block;
				opacity: 0.54;
				position: absolute;
			}

			&:last-child:after {
				display: none;
			}
		}
	}
}

.paginate-total {
	background: #FFFFFF;
	border-radius: 30px;
	line-height: 35px;
	padding: 0 15px;
	margin-right: 20px;
}

.pagination-short {
	display: flex;
}

.limitbox {
	display: flex;
	line-height: 17px;
	font-size: 15px;

	.lbl {
		margin-right: 5px;
	}

	.buttons {
		display: flex;
	}

	a {
		color: #121212;
		text-decoration: none;
		position: relative;
		padding-right: 17px;
		
		&:hover {
			text-decoration: none;
		}

		&.active {
			font-weight: bold;
		}

		&:after {
		    content: '';
		    border-right: 1px solid #121212;
		    right: 8px;
		    top: 1px;
		    height: 15px;
		    display: inline-block;
		    opacity: 0.54;
		    position: absolute;
		}

		&:last-child {
			padding-right: 0;

			&:after {
				display: none;
			}
		}
	}
}

.loadmore-block {
	position: relative;
	text-align: center;
	margin: 50px 0;
}

.loadmore {
	border-radius: 10px;
    color: #ED2B31;
    padding: 0 16px;
    background: transparent;
    line-height: 28px;
    border: 1px solid #ED2B31;
    width: 190px;
    font-size: 15px;
	
	&:active,
	&:focus,
	&:hover {
		background: transparent;
		border-color: #ED2B31;
		color: #ED2B31;
	}
}

.pagination-box {
	margin-top: 50px;
}

.pagination-status {
	font-size: 15px;
	float: right;
	text-align: right;
	line-height: 30px;
}

.uk-pagination {
	font-size: 15px;
	text-align: left;
	margin: 0;
	float: left;

	> li {
		&.uk-disabled:first-child {
			display: none;
		}

		&.uk-disabled:last-child {
			display: none;
		}

		&:first-child {
			> a {
				background: url(../../images/layout/page-prev.svg) no-repeat left center !important;
    			padding-left: 17px;
			}
		}

		&:last-child {
			> a {
				background: url(../../images/layout/page-next.svg) no-repeat right center !important;
    			padding-right: 17px;
			}
		}

		&:first-child,
		&:last-child {
			> a {
				border: 0 !important;
				
				&:active,
				&:focus,
				&:hover {
					color: $red;
				}
			}
		}

		> a {
			background: none;
			color: #121212;
			height: 30px;
			min-width: 30px;
			padding: 0 2px;
			display: inline-block;
			line-height: 30px;
			padding: 0;
			background: transparent;
			border: 1px solid transparent;
			box-sizing: border-box;
			
			&:active,
			&:focus,
			&:hover {
				border: 1px solid #ED2B31;
				border-radius: 10px;
				background: transparent;
			}
		}
	}

	> .uk-active {
		> span {
			display: inline-block;
			color: #121212;
			height: 30px;
			min-width: 30px;
			border-radius: 10px;
			line-height: 30px;
			padding: 0;
			background: transparent;
			border: 1px solid #ED2B31;
			box-sizing: border-box;
		}
	}

	> .uk-disabled > span {
		padding: 0;
	    background: none;
	    color: #999;
		height: 26px;
		width: 26px;
		display: inline-block;
	}

	.uk-icon-chevron-right {
		margin-right: -2px;
    	line-height: 28px;
	}

	.uk-icon-chevron-left {
		margin-left: -2px;
    	line-height: 28px;
	}
}

.category-tags {
	margin-top: 50px;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
	    flex-wrap: wrap;
	    justify-content: center;

		li {
			margin: 5px 5px 5px 0;

			a {
				font-size: 16px;
				line-height: 20px;
				color: #121212;
				padding: 5px 15px;
				background: #FFFFFF;
				border-radius: 25px;
				white-space: nowrap;
				text-decoration: none;
				border: 1px solid #fff;

				&:hover {
					background: #fff;
				    border-color: #F1543F;
				    color: #F1543F;
				    text-decoration: none;
				}
			}
		}
	}

	&.category-children-tags {
		margin: 0 0 30px;

		ul {
			justify-content: flex-start;
		}
	}
}

.category-advantages {
	margin-top: 0;
	padding: 50px 0;

	.title {
		text-align: left;
		margin: 0 0 15px 0;
		font-size: 17px;
		line-height: 19px;
	}

	.item {
		display: flex;
	}

	.text {
		margin-left: 15px;
		margin-top: 20px;
	}

	.desc {
		font-size: 15px;
		line-height: 20px;
	}

	.uk-grid {
	    margin-left: 0;

	    > * {
		    padding-left: 0;
		}
	}
}

.category-reviews {
	padding-top: 28px;
	padding-bottom: 50px;

	.text {
		border-radius: 25px;
		border-bottom-left-radius: 0;
		padding: 25px 20px 25px;
		min-height: 200px;
		box-sizing: border-box;
		background: #fff;
		position: relative;

		&:before {
			content: '';
		    display: block;
		    position: absolute;
		    bottom: -7px;
		    left: 0;
		    width: 17px;
		    height: 15px;
		    background: #ffffff;
		    border-bottom-right-radius: 32px;
		    border: 5px solid #ffffff;
		}

		&:after {
			content: '';
		    display: block;
		    position: absolute;
		    bottom: -31px;
		    left: 0;
		    background: url(../../images/layout/category-review.svg) no-repeat center bottom;
		    width: 100%;
		    height: 55px;
		}
	}

	.name {
		font-size: 16px;
		line-height: 18px;
		font-weight: bold;
		margin-top: 25px;
	}

	.spec {
		font-size: 14px;
		line-height: 18px;
		margin-top: 5px;
	}
}

#filter-results {
	.uk-grid.products-grid {
		margin-left: -30px;

		> * {
		    padding-left: 30px;
		}
	}
}

.filter {
	.uk-dropdown {
	    padding: 10px;
	    background: #ffffff;
	    color: #121212;
	    font-size: 14px;
	    border: 1px solid #E5E5E5;
	    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	    border-radius: 10px;

	    .uk-nav {
		    margin: 0;
		}
	}

	.uk-form input[type="checkbox"] {
	    border: 1px solid #e5e5e5;

	    &:disabled {
		    border-color: #f9f9f9;
		}
	}
}

.sidebar-content {
	display: flex;

	.main-content {
		flex-grow: 1;
	}
}

.sidebar {
	min-width: 270px;
	margin-right: 30px;
}

.filter-box {
	margin-top: 20px;
	padding-bottom: 20px;
	display: flex;
	align-items: flex-start;

	> div {
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}
	}

	.uk-button-dropdown {
		margin-left: 0;
	}

	input {
		margin-right: 5px;
	}

	div > {
		.checkbox-row {
			white-space: nowrap;
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	input {
		margin-top: -3px;
		border: 1px solid #A9A9A9;
		border-radius: 2px;
	}

	.title {
		line-height: 30px;
		margin-bottom: 10px;
		white-space: nowrap;
	}

	input[type=checkbox] {
		height: 15px;
		width: 15px;
		border: 1px solid #A9A9A9;
		box-sizing: border-box;
		border-radius: 2px;

		&:checked:before {
			font-size: 10px;
			line-height: 14px;
		}
	}

	.uk-button {
		border: 1px solid #A9A9A9;
		box-sizing: border-box;
		border-radius: 2px;
		background: transparent;
		width: 215px;
		padding: 0 20px;
		line-height: 40px;
		height: 40px;
		text-align: left;
		box-sizing: border-box;
		position: relative;

		&:after {
		    content: '';
		    width: 15px;
		    height: 15px;
		    display: block;
		    position: absolute;
		    top: 10px;
		    right: 10px;
		    background: url(../../images/layout/select-arrow.svg) no-repeat left bottom;
		}
	}

	.uk-open {
		.uk-button {
			&:after {
			    transform: rotate(180deg);
			}
		}
	}
}

#primary-property,
#secondary-property {
	position: relative;
	padding-right: 45px;

	&.active {
		&:after {
			content: '';
			display: block;
		    position: absolute;
		    top: calc(50% + 5px);
		    right: 0;
			background: url(../../images/layout/filter-arrow.svg) no-repeat right center;
			padding-right: 45px;
			height: 30px;
			width: 30px;
		}
	}
}

#ext-property {
	display: flex;
	flex-wrap: wrap;

	> div {
		margin-right: 30px;
    	margin-bottom: 10px;

		&:nth-child(3) {  
		  margin-right: 0;
		}
	}
}

#teaching-property,
#rate-property {
	display: flex;
	flex-wrap: wrap;

	> div {
		margin-right: 60px;
	}
}

#rate-property {
	img {
		margin-top: -8px;
	}
}

.loadmore-hide {
	.block-desc {
		padding-top: 20px;
	}
}

.products-grid-block {
	margin-top: 15px;
}