.cosmos {
	background: url(../../images/layout/cosmos.svg) no-repeat center top;
	min-height: 900px;
	display: flex;
	align-content: center;
	justify-content: center;
	font-size: 24px;
	line-height: 23px;
	color: #FFFFFF;
	text-shadow: 0px 1px 4px rgba(4, 0, 51, 0.5);
	flex-wrap: wrap;
	padding-bottom: 140px;
	box-sizing: border-box;

	.date {
		margin-bottom: 25px;
	}

	.desc {
		font-weight: bold;
		margin-bottom: 70px;
	}

	.title {
		font-size: 36px;
		line-height: 35px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	input[type='text'] {
		padding: 11px 31px 12px;
		background: #FFFFFF;
		border: 1px solid #E5E5E5;
		box-sizing: border-box;
		box-shadow: inset 0px 4px 10px rgba(18, 18, 18, 0.05);
		border-radius: 25px;
		font-size: 18px;
		line-height: 17px;
		color: #6A6A6A;
		height: 40px;
		margin-right: 20px;
		max-width: 260px;
	}

	.inputs {
		margin-top: 20px;
		font-size: 0;
	}

	button {
	    background: url(../../images/layout/send-btn.svg) no-repeat -10px -6px;
	    height: 40px;
	    width: 200px;
	    color: #fff;
	    font-size: 18px;
	    line-height: 17px;

	    &:disabled {
	    	color: #fff;
	    }
		
	    &:disabled,
		&:focus,
	    &:hover {
	    	background-color: transparent !important;
	    }
	}

	.phone-note {
		display: none;
	}
}

.simple-theme {
	.header-row {
		align-items: center;

		&.h-top {
			//margin-bottom: 0;
		}
	}

	header {
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.08);
		padding: 20px 0;
	}

	.logo-box {
		padding: 0;
	}

	.catalog-btn {
		//padding-right: 50px;
		//padding-left: 50px;
		width: auto;
		box-sizing: border-box;
	}

	.socials {
		> a {
			display: block;
			float: left;
			margin-right: 35px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	footer {
		padding: 15px 0;
		text-align: center;
		margin-top: 75px;

		.links {
			margin-left: 0;
		}

		.small-text {
	    	margin-top: 0;
	    }
	}
}