footer {
	margin-top: 115px;
	background: #F9F9F9;
	padding: 35px 0 60px;

	.logo-clmn {
		float: left;
	}

	.logo-box {
	    padding-top: 0;
	    margin-bottom: 35px;
	    width: 250px;

		.site-desc {
		    font-size: 14px;
		    line-height: 13px;
		    margin-left: 13px;
		}
	}

	.links {
		margin-left: 290px;
	}

	.menu {
		display: flex;
		justify-content: space-between;
		
		> ul {
			list-style: none;
			margin: 0;
			padding: 0;
			float: left;
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}

			li {
				margin-bottom: 30px;

				a {
					color: #121212;
				}
			}
		}
	}

	.social-wrapper {
		position: relative;
		height: 60px;

		.social {
			position: absolute;
			left: -50px;
			min-width: 320px;
		}
	}

	.small-text {
		margin-top: 30px;

		span, a {
			font-size: 14px;
			line-height: 13px;
			color: #AFAFAF;
			padding-right: 20px;
		}

		a {
			&:hover {
				text-decoration: none;
			}
		}
	}
}