header {
	padding-bottom: 30px;
	margin-bottom: 40px;
	background: #fff;

	&.front {
		position: relative;
	    z-index: 999 !important;
	}

	&.shadow {
		padding-bottom: 20px;
		margin-bottom: 0;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		position: relative;
    	z-index: 2;
	}
}

.site-desc {
	font-size: 14px;
    line-height: 13px;
    margin-left: 10px;
    max-width: 105px;
   	margin-top: 5px;
}

.logo-box {
    display: flex;
    position: relative;
    top: 6px;
    max-width: 280px;
}

.logo {
	display: block;
	background: url(../../images/layout/logo.svg) no-repeat left top;
	min-width: 120px;
    height: 38px;
}

.header-row {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&.h-top {
		line-height: 16px;
		margin-bottom: 20px;
		padding-top: 12px;
		align-items: flex-end;
	}

	.h-menu {
		display: flex;
		justify-content: flex-start;
	}

	.h-middle {
		display: flex;
		justify-content: space-between;
	}

	.h-right {
		width: 210px;
	}

	.h-full {
	    max-width: 100%;
	    flex-grow: 1;
	    margin-left: 30px;
	    align-items: center;
	    display: flex;
	    justify-content: space-between;
	}

	.menu {
		> ul {
			list-style: none;
			margin: 0;
			padding: 0;

			> li:first-child {
				margin-left: 0;
			}

			> li {
				display: inline-block;
				margin-left: 20px;

				> a {
					color: #121212;
					display: flex;
					align-items: flex-end;
					line-height: 12px;
					
					span {
						border-bottom: 1px solid transparent;	
					}

					&:before {
						content: '';
						display: block;
						margin-right: 12px;
					}

					&:hover {
						text-decoration: none;

						span {
							color: $red;
							border-color: $red;				
						}
					}
				}
			}
		}

		.user {
			&:before {
				background: url(../../images/layout/user.svg) no-repeat -7px bottom;
				width: 18px;
				height: 25px;
				position: relative;
    			top: 7px;
			}
		}

		.teacher {
			&:before {
				background: url(../../images/layout/teacher.svg) no-repeat left bottom;
			    width: 18px;
			    height: 21px;
				position: relative;
    			top: 4px;
			}
		}

		.partner {
			&:before {
				background: url(../../images/layout/partner.svg) no-repeat 0 bottom;
				width: 18px;
				height: 25px;
				position: relative;
    			top: 3px;
			}
		}

		.login {
			img {
				width: 30px;
    			height: 30px;
    			border-radius: 100px;
    			margin-right: 20px;
    			position: relative;
    			top: 7px;
			}

			&:before {
				display: none;
			}
		}
	}

	.top-menu {
		a {
			padding-left: 0;
		}
	}

	.phone-block {
		text-align: right;

		.phone {				
			color: #121212;
			text-decoration: none;
			font-weight: bold;

			&:hover {
				color: $red;
			}
		}
	}

	.catalog-btn {
		font-size: 20px;
		line-height: 48px;
		width: 100%;
		color: #ED2B31;
		font-weight: bold;
		display: inline-block;
		text-align: center;
		background: transparent;
		min-width: 270px;
		border: 1px solid #ED2B31;
		box-sizing: border-box;
		border-radius: 10px;

		&:hover {
			color: #fff;
			text-decoration: none;
			background: $red;
		}
	}

	.city-select {
		display: flex;
		align-items: flex-end;
		margin-right: 30px;

		ul {
			margin: 0;
		}

		.uk-button {
			color: $red;
			padding: 0;
			line-height: 20px;
    		min-height: 20px;
    		background: transparent;
		}

		&:after {
			content: '';
		    background: url(../../images/layout/down.svg) no-repeat right center;
		    width: 7px;
		    height: 15px;
		    margin-left: 5px;
		}

		.uk-dropdown {
		    padding: 10px;
		    background: #ffffff;
		    color: #121212;
		    font-size: 14px;
		    border: 1px solid #E5E5E5;
		    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		    border-radius: 10px;
		}
	}

	.h-left {
		min-width: 270px;
	}

	.user-menu {
		text-align: right;
		position: relative;
    	top: -1px;
	}
}