.img-bg-1 {
	background: linear-gradient(203.77deg, #FFD7EA 0%, #DEBEFF 96.58%);
}

.img-bg-2 {
	background: linear-gradient(202.07deg, #E6FDFF 3.35%, #B5C9FF 96.92%);
}

.img-bg-3 {
	background: linear-gradient(201.22deg, #DAFFDB 3.85%, #C0F0FF 98.79%);
}

.img-bg-4 {
	background: linear-gradient(201.47deg, #FFDEFA 8.74%, #FFF1C1 95.91%);
}

.img-bg-5 {
	background: linear-gradient(201.47deg, #DDFFF3 8.74%, #D8FFC6 45.82%, #FFD2E5 95.91%);
}

.img-bg-6 {
	background: linear-gradient(201.21deg, #DCFFD0 3.04%, #FFBDCA 99.34%);
}

.img-bg-7 {
	background: linear-gradient(201.47deg, #D4F9FE 8.74%, #B4B0BE 95.91%), #FFFFFF;
}

.img-bg-8 {
	background: linear-gradient(201.22deg, #F6F0FF 3.85%, #C2B4E2 98.79%);
}

.img-bg-9 {
	background: linear-gradient(202.07deg, #CEDCFF 9.7%, #FFFDD5 96.92%);
}

.img-bg-10 {
	background: linear-gradient(201.47deg, #C5F0F8 3.44%, #FFDED5 95.91%);
}