.bg-container {
	background: #F9F9F9;
}

.block-title {
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 30px;
    color: #121212;
    font-weight: bold;
}

.more {
	text-align: center;
	
	a {
		margin-top: 30px;
	}
}

.action-btn,
.more a {
	display: inline-block;
	font-size: 16px;
	line-height: 15px;
	background: #F1543F;
	border-radius: 25px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	border: 1px solid #ED2B31;
	padding: 0 15px;
	box-sizing: border-box;
	min-width: 160px;
	outline: 0;
	cursor: pointer;

	&:hover {
		text-decoration: none;
		color: #121212;
		background: transparent;
	}
}

.shadow-block {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	background: #FFFFFF;
	border-radius: 25px;
	padding: 30px 20px;

	.block-content {
		margin-top: 30px;
	}
}

.big-btn {
	background: #ED2B31;
	box-shadow: 0px 4px 10px rgba(237, 43, 49, 0.25);
	border-radius: 25px;
	font-size: 18px;
	line-height: 17px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 50px;
	padding: 0 25px;
	display: inline-block;

	&:hover {
		text-decoration: none;
		color: #fff;
		background: #bb1f45;
	}
}

.grey-bg {
	background: #F9F9F9;
}

.white-bg {
	background: #fff;
}

.alert {
	padding: 20px;
}

.uk-form {
	input[type="radio"],
	input[type="checkbox"] {
		border: 1px solid #E5E5E5;
		box-sizing: border-box;
		border-radius: 2px;
	}
}

.uk-button-hover {
	&:hover {
		border: 1px solid $red;
		background: #fff;
	}
}

.text-line {
	position: relative;

	&:before {
		content: '';
		height: 1px;
		background: #E5E5E5;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -1px;
	}

	span {
		position: relative;
		background: #fff;
		padding: 0 15px;
	}
}

.see-more {
	text-align: right;
	text-transform: uppercase;
	margin-top: 30px;
	
	a {
		font-size: 18px;
		line-height: 17px;
		color: #121212;
		border-bottom: 1px solid #121212;
		text-decoration: none;
	}
}

#to-top {
	position: fixed;
	bottom: 40px;
	right: 40px;
	background: url(../../images/layout/totop.svg) no-repeat center center #fff;
	width: 60px;
	height: 60px;
	display: block;
	border-radius: 100px;
	box-shadow: 0px 4px 10px rgba(95, 125, 149, 0.1);
	display: block;
	cursor: pointer;
	display: none;
}