.main-menu {
	position: relative;
}

#dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  background: #fff;
  z-index: 200;
  top: 60px;
  width: 1170px;
  border: 1px solid #ED2B31;
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;

	img {
		width: 36px;
		height: 36px;
	}

  &:before {
    display: block;
    content: '';
    position: absolute;
    top: -10px;
    height: 10px;
    width: 100%;
  }

	a,
	span {
		font-size: 16px;
		line-height: 18px;
		color: #000000;
		text-decoration: none;
	    cursor: pointer;
	    display: flex;
	    align-items: center;
	    padding: 11px 20px;
	    border-right: 1px solid transparent;

	    &:hover {
	      color: $red;
	      text-decoration: none;
	      font-weight: bold;
	      background: #F9F9F9;
	    }
	}

  .product-count {
    color: #757575;
    font-size: 14px;
    line-height: 11px;
    padding: 0;
    font-weight: normal;
    white-space: nowrap;
    margin-left: 15px;
  }

  .active {
    > a,
    > span {
      color: $red;
      text-decoration: none;
      font-weight: bold;
      background: #F9F9F9;
      border-right: 1px solid #ED2B31;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
    }
  }

  > ul {
    box-sizing: border-box;
    width: 280px;
    min-width: 280px;
    margin: 20px 0;
    border-right: 1px solid #E5E5E5;

    &:last-child {
      border-color: transparent;

      li > a:hover,
      li > span {
        border-color: transparent;
      }

      .active {
        > a,
        > span {
          border-color: transparent;
        }
      }
    }

    &.index {
      width: 270px;
      min-width: 270px;
      background: #F9F9F9;
      border-right: 0;
      margin: 0;
      padding: 20px 0;

      > li {
        > span,
        a {
          justify-content: flex-start;
          margin-right: 0;
        }

        > a,
        > a:hover,
        > span {
          padding: 2px 20px;
        }
      }
    }

    > li {
      margin-bottom: 5px;
      
      > span,
      > a {
        justify-content: space-between;
      }

      &.menu-header {
        border-top: 1px solid #C2E5EB;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 10px;
      }
    }

    ul {
      display: none;
    }
  }
  
  li {
    .header-item {
      color: rgba(0, 0, 0, 0.54);
    }
  }

	span.icon {
		margin-right: 10px;
		min-width: 36px;
		padding: 0;
	}
}

.main-menu-inner {
  position: relative;
  z-index: 101;

  &:hover {
    #dropdown-menu {
      display: flex;
    }

    .catalog-btn {
      &:after {
        content: '';
        height: 15px;
        width: 100%;
        position: absolute;
        bottom: -10px;
        left: 0;
      }
    }
  }
}

.menu-label {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  border-radius: 3px;

  &.label-yellow {
    background: #FFC700;
  }

  &.label-blue {
    background: #0500FF;
  }
}