.news-widget {
	padding-bottom: 35px;
	
	.uk-grid {
		margin-left: -30px;

		> * {
		    padding-left: 30px;
		}
	}

	.item {
		&.lead {
			img {
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
				border-radius: 25px 25px 25px 0px;
				margin-bottom: 18px;
			}
		}

		&.num-1,
		&.num-4 {
			img {
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
				border-radius: 25px 25px 0px 25px;
			}
		}

		&.num-2,
		&.num-3 {
			img {	
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
				border-radius: 0px 25px 25px 25px;
			}
		}

		&.secondary {
			display: flex;
			margin-bottom: 28px;

			.desc {
				align-self: center;
				margin-left: 10px;
				width: 190px;
			}
		}

		.date {
			font-size: 14px;
			line-height: 13px;
			color: #B200AA;
			margin-bottom: 15px;
		}

		.title {
			font-size: 16px;
			line-height: 15px;
			color: #121212;
			margin-bottom: 7px;
			display: block;
			
			&:hover {
				text-decoration: none;
				color: $red;
			}
		}

		.author {
			font-size: 14px;
			line-height: 13px;
			color: #C9C9C9;
		}

		.stat {
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 14px;
			line-height: 13px;
			margin-top: 15px;

			li {
				display: inline-block;
				margin-right: 20px;
				list-style: none;
				padding: 0 0 0 25px;
				line-height: 20px;

				&.views {
					background: url(../../images/layout/users.svg) no-repeat left center;
				}

				&.comments {
					background: url(../../images/layout/comments.svg) no-repeat left center;
				}

				&.likes {
					background: url(../../images/layout/like.svg) no-repeat left center;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}