#notifications {
	.uk-button {
		background: transparent;
	    height: 20px;
	    padding: 0;
	    min-height: 20px;
	    position: relative;
	    top: -8px;

	    i {
	    	font-size: 18px;
	    }

		.count {
		    color: #fff;
		    background: #e0e0e0;
		    font-size: 10px;
		    width: 15px;
		    height: 15px;
		    line-height: 15px;
		    border-radius: 100%;
		    position: absolute;
		    top: -2px;
		    display: block;
		    right: -4px;
		    
		    &.active {
		    	background: $red;
		    }
		}
	}
	
	.uk-dropdown {
		padding: 15px;
	    background: #ffffff;
	    color: #121212;
	    font-size: 14px;
	    border: 1px solid #E5E5E5;
	    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	    border-radius: 10px;
	    width: 290px;
	    text-align: left;
	}

	li {
		border-bottom: 1px solid #e6e6e6;
	}

	a {
		color: #121212;

		span {
			font-weight: bold;
		}

		&:hover {
			color: $red;
		}
	}
}