.product-page {
	background: #F4F4F4;
}

.main-container {
	.card {
		width: 370px;
		position: absolute;
	    top: 0;
	    right: 15px;

	    .card-inner	{
			border-radius: 25px;
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
			background: #FFFFFF;
			overflow: hidden;
	    }

		.inner {
			padding: 20px 23px 35px;
			border-radius: 25px;
		    position: relative;
		    z-index: 99;
		    background: white;

		    &.with-icon {
		    	margin-top: -25px;
		    }
		}

		.play-video {
			display: block;
			position: relative;
			text-align: center;

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -31px;
				margin-left: -31px;
				width: 62px;
				height: 62px;
				background: url(../../images/layout/play-big.svg) no-repeat center center;
			}
		}

		.login {
			box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(237, 43, 49, 0.12), 0px 4px 8px rgba(237, 43, 49, 0.18);
			padding: 0 30px;
			display: inline-block;
			width: auto;
			font-weight: normal;
		}
	}

	.action {
		font-size: 24px;
		line-height: 23px;
		text-align: center;
		color: #FFFFFF;
		background: #ED2B31;
		box-shadow: 0px 0px 30px rgba(237, 43, 49, 0.5);
		border-radius: 25px;
		line-height: 50px;
		width: 250px;
		text-align: center;
		display: block;
		margin: 0 auto 30px;
		font-weight: bold;

		&:hover {
			text-decoration: none;
		}
	}

	.price-box {
		margin-bottom: 20px;
		text-align: center;
	}

	.price {
		font-size: 48px;
		line-height: 46px;
		font-weight: bold;
	}

	.price-old {
		font-size: 32px;
		line-height: 31px;
		color: #B2B2B2;
		display: inline-block;

		&:after {
			display: block;
		    content: '';
		    border: 1px solid #ED2B31;
		    position: relative;
		    top: -16px;
		}
	}

	.discount {
		font-size: 24px;
		line-height: 23px;
		display: inline-block;
		color: #ED2B31;
		margin-left: 15px;
	}

	.price-old-wrapper {
		margin-top: 25px;
	}

	.features {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			padding: 0 10px 0 40px;
			margin-bottom: 30px;
			list-style: none;
			background: transparent no-repeat left center;

			&.icon-point {
				background-image: url(../../images/layout/list-point.svg);
				padding: 0 0px 0 17px;
    			margin-bottom: 10px;
			}

			&.icon-camera {
				background-image: url(../../images/layout/camera.svg);
			}

			&.icon-mobile {
				background-image: url(../../images/layout/mobile.svg);
			}

			&.icon-desktop {
				background-image: url(../../images/layout/desktop.svg);
			}

			&.icon-certificate {
				background-image: url(../../images/layout/certificate.svg);
			}

			&.icon-discuss {
				background-image: url(../../images/layout/discuss.svg);
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.meta-wrap {
		align-items: center;
		display: flex;
		flex-wrap: nowrap;
	}

	.meta-row {
		display: flex;
		align-items: center;
		line-height: 15px;
		font-size: 16px;
		color: #000;

		.title {
			font-weight: bold;
		}

		> div {
			margin-right: 30px;
		}

		+ .meta-row {
			margin-top: 10px;
		}

		.rate-stars,
		.rate-counter {
			font-weight: bold;
		}

		.rate-stars {
			display: flex;
			align-items: center;
			margin-right: 20px;
			
			.rate {
				margin: 0 0 0 10px;
			}
		}

		.rate-counter {
			margin-right: 30px;
		}
	}

	.meta-block {
		max-width: 770px;
		width: 100%;
		background: url(../../images/layout/box-bg.svg) no-repeat right top #fff;

		.name {
			margin-bottom: 10px;
			padding-right: 130px;

			h1 {
				font-size: 36px;
				line-height: 38px;
				font-weight: bold;
				display: inline;
			}
		}

		.preview-desc {
			font-size: 24px;
			line-height: 26px;
			margin: 35px 0;
		}
	}

	.uk-container {
		position: relative;
	}

	.block-title {
		font-size: 24px;
		line-height: 23px;
		margin-bottom: 30px;
	}
}

.experience {
	line-height: 19px;
    font-size: 16px;

	.block-content {
		max-width: 500px;
	}

	.block-title {
		font-size: 18px;
		line-height: 17px;
		max-width: 500px;
		text-align: center;
		margin: 0;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		> li {
			list-style: none;
			padding-left: 37px;
			padding-right: 20px;
			position: relative;
			margin-bottom: 20px;
			float: left;
			width: 50%;
			box-sizing: border-box;
			background: url(../../images/layout/features.svg) no-repeat left center;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.product-body {
	width: 770px; 
}

.block-cources {
	margin: 50px 0;

	img {
		border-radius: 25px;
	}

	> ul {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			list-style: none;
			background: #FFFFFF;
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
			border-radius: 25px 25px 0px 25px;
			padding: 20px;
			margin-bottom: 20px;
			position: relative;

			&:nth-child(2n) {
				border-radius: 25px 0px 25px 25px;
			}
		}

		.play-btn {
			display: block;
			width: 40px;
			height: 40px;		
			background: url(../../images/layout/play.svg) no-repeat left top;
			position: absolute;
			top: 0;
			left: 0;
		}

		.num {
			display: block;	
			font-size: 18px;
			line-height: 19px;
			font-weight: bold;
			position: absolute;
			top: 0;
			left: 0;
			line-height: 40px;
		    width: 40px;
		    text-align: center;
		}

		.preview {
			position: relative;
			width: 100%;
			box-sizing: border-box;
			padding: 0 83px 0 60px;

			.title {
				font-size: 18px;
				line-height: 19px;
				font-weight: bold;
			}

			.duration {
				font-size: 18px;
				line-height: 17px;
				color: #757575;
				margin-left: 35px;
			}
		}

		.toggle.button {
			display: block;
			width: 50px;
			height: 50px;
			background: url(../../images/layout/show.svg) no-repeat left top;
			position: absolute;
			top: -5px;
			right: 0;
			cursor: pointer;
		}

		.active {
			.toggle.button {
				background-image: url(../../images/layout/hide.svg);
			}
		}

		.title-wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			min-height: 40px;
		}

		.toggle-body {
			display: none;
		}

		.desc {
			padding: 30px 0 24px 60px;
			color: #757575;

			&:after {
				content: '';
				display: block;
				clear: both;
			}

			.title {
				font-size: 18px;
				line-height: 17px;
				margin-bottom: 15px;
			}

			.text {
				margin-right: 215px;
			}

			.img {
				position: relative;
				float: right;

				.play-btn {
					top: 50%;
				    left: 50%;
				    margin-top: -20px;
				    margin-left: -20px;
				    opacity: 0.8;
				}
			}

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					list-style: none;
				    padding: 0;
				    margin: 0 0 15px;
				    padding-left: 30px;
				    position: relative;

					&:before {
						content: '';
					    position: absolute;
					    background: #ED2B31;
					    width: 7px;
					    height: 7px;
					    top: 6px;
					    left: 10px;
					    border-radius: 10px;
					}
				}
			}
		}
	}
}

.block-desc {
	font-size: 16px;
	line-height: 22px;

	.hash:before {
		content: '#';
		color: red;
		font-weight: bold;
		font-size: 20px;
		line-height: 22px;
		padding-right: 5px;
	}

	.show-more {
		a {
			color: $red;
			border-bottom: 1px solid $red;
			text-decoration: none;

			&:hover {
				border-bottom: none;
				text-decoration: none;
			}
		}
	}
}

.block-authors {
	margin-top: 65px;

	.item {
		background: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
		border-radius: 25px;
		margin-bottom: 35px;
		position: relative;
		min-height: 343px;
		overflow: hidden;
	}

	.personal {
		padding: 32px 40px 32px 55px;
		margin-right: 500px;
	}

	.img {
		float: left;
		text-align: center;

		img {
			border-radius: 1000px;
		}
	}

	.text {
		margin-left: 225px;
	}

	.name {
		font-size: 16px;
		line-height: 19px;
		font-weight: bold;
	}

	.about {
		font-size: 16px;
		line-height: 19px;
		padding-top: 20px;
	}

	.connect {
		position: absolute;
		right: 0;
		top: 0;
		width: 500px;
		height: 100%;
		padding: 0 56px 0 100px;
		background: #F8F8F8;
		box-sizing: border-box;
		display: flex;
		align-items: center;

		.inner {
		}
	}

	.quote {
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 65px;
		position: relative;

		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 15px;
			background: url(../../images/layout/quote-start.svg) no-repeat left top;
			position: absolute;
			left: 0;
    		top: -20px;
		}

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 15px;
			background: url(../../images/layout/quote-end.svg) no-repeat right top;
			position: absolute;
			right: 0;
    		bottom: -20px;
		}
	}
}

.block-related	{
	margin-top: 65px;
	
	.item {			
		background: #FFFFFF;
		border-radius: 25px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		text-align: center;
		margin-bottom: 20px;
		overflow: hidden;
	}

	.text {
		padding: 20px 30px 37px;
	}

	.title {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 10px;
		font-weight: bold;
	}

	.desc {
		font-size: 16px;
		line-height: 19px;
	}
}

.rate {
	margin: 20px 0;

	.star {
		display: inline-block;
		background: url('../../images/layout/star.svg') no-repeat center center;
		width: 26px;
		height: 23px;
	}	
}

.labels {
	display: flex;
}

.label {
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 15px;
	background: #FF584D;
	border-radius: 3px;
	display: inline-block;

	&.learning {
		background: #FF3181;
	}

	+ .label {
		margin-left: 10px;
	}

	&.free {
		background: #ED2B5A;
	}
}

#product-tabs {
	margin-top: 30px;

	.uk-tab {
		border: 0;

		> li {
			margin-right: 40px;
			margin-bottom: 0;

			> a {
				font-size: 18px;
				line-height: 17px;
				color: #BEBEBE;
				font-weight: bold;
				padding: 0 0 0 65px;
				margin: 0;
			    margin-bottom: 0;
			    border: 0;

				&:hover {
				    color: #ED2B31;
				    text-shadow: 0px 0px 10px rgba(237, 43, 49, 0.3);
				}
			}

			&.uk-active {
				> a {
				    border: 0;
				    background: transparent;
				    color: #ED2B31;
				    text-shadow: 0px 0px 10px rgba(237, 43, 49, 0.3);
				}
			}

			+ li {
				a {
					background: url(../../images/layout/tab-arrow.svg) no-repeat left center;

					&:hover {
						background: url(../../images/layout/tab-arrow-active.svg) no-repeat left center;
					}
				}

				&.uk-active {
					> a {
					    background: url(../../images/layout/tab-arrow-active.svg) no-repeat left center;
					}
				}
			}
		}
	}
}

#product-tabs-switcher {
	margin-top: 30px;
}

.you-get {
	text-align: center;
	margin-top: 35px;

	.img {
		margin-bottom: 20px;
		text-align: center;
	}

	.title {
		height: 30px;
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 19px;
		color: #757575;
		font-weight: bold;
	}
}

.advantages {
	margin-top: 50px;

	.title {
		font-weight: bold;
		font-size: 18px;
		line-height: 17px;
		text-align: center;
		margin: 20px 0 15px;
	}

	.desc {
		max-width: 220px;
		margin: 0 auto;
	}
}

.product-items {
	.item {
		position: relative;

		&:hover {
			.img-cnt:before {
				background: rgba(34, 34, 34, 0.2);
			}

			.title {
				color: $red;
			}

			.fav-btn {
				display: block;
			}
		}
	}

	.item-link {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 14;
	}

	.item-icon {
		width: 30px;
		height: 30px;
		position: absolute;
		top: -1px;
		left: -1px;
		border-radius: 10px 0px;
		background: rgba(255, 255, 255, 0.9);
		backdrop-filter: blur(4px);
		z-index: 12;
		text-align: center;
		line-height: 25px;
	}

	.subtitle {
		font-size: 16px;
		line-height: 19px;
		margin-top: 10px;
	}

	.author {
		position: relative;
		z-index: 9;
		font-size: 13px;
		line-height: 15px;
		color: #696969;
		margin-bottom: 5px;
		white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
	}

	.product-desc {
		margin: 15px 0;

		.title {
			font-size: 17px;
			line-height: 17px;
			color: #121212;
			line-height: 20px;
			font-weight: bold;

			&:hover {
				color: $red;
				text-decoration: none;
			}
		}
	}

	.img-cnt {
		position: relative;

		&:before {
			content: '';
			width: 100%;
			height: 100%;
			background: url(../../images/layout/img-layout.svg) no-repeat right top transparent;
			background-size: contain;
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			z-index: 11;
			border-radius: 10px;
			transition: background-color 0.3s ease-out;
		}

		a {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			&.with-icon {
				height: 217px;
			}

			&.video {
				&:before {
					content: '';
					display: block;
					position: absolute;
					z-index: 3;
					background: url(../../images/layout/play-btn.svg) no-repeat center center #D42428;
					width: 40px;
					height: 40px;
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					border-radius: 50px;
				}
			}

			&:after {
				content: '';
				background: #fff;
				border-radius: 50px;
				width: 95px;
				height: 95px;
				position: absolute;
				display: block;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				z-index: 1;
			}
		}

		img {
			position: relative;
			z-index: 2;
			width: 80px;
			height: 80px;
			box-shadow: 0px 4px 10px rgba(95, 125, 149, 0.1);
			border-radius: 10px;
		}
	}

	.info-icons {
		display: flex;
		font-size: 13px;
		line-height: 15px;

		> * {
			margin-right: 10px;
		}

		.pay {
			color: #ED2B31;
		}

		.views {
			display: flex;
			align-items: center;

			&:before {
				content: '';
			    background: url(../../images/layout/listing/views.svg) no-repeat left top;
			    width: 16px;
			    height: 10px;
			    margin-right: 5px;
			}
		}

		.comments {
			display: flex;
			align-items: center;

			&:before {
				content: '';
			    background: url(../../images/layout/listing/comments.svg) no-repeat left top;
			    width: 14px;
			    height: 10px;
			    margin-right: 5px;
			}
		}

		.star {
			display: flex;
			align-items: center;

			&:before {
				content: '';
			    background: url(../../images/layout/listing/rate.svg) no-repeat left top;
			    width: 10px;
			    height: 10px;
			    margin-right: 5px;
			}
		}
	}

	.fav-btn {
		display: none;
		border: 0;
	    text-indent: -9999px;
	    background: url(../../images/layout/listing/fav-btn.svg) no-repeat 0px 10px transparent;
	    width: 33px;
	    height: 32px;
	    position: absolute;
	    top: 0;
	    right: 0;
	    z-index: 15;
	    outline: 0;
	    cursor: pointer;

	    &:focus,
	    &:active {
	    	outline: 0;
	    }

	    &.active {
	    	display: block;
	    	background-image: url(../../images/layout/listing/fav-btn-active.svg);
	    }
	}
}

.video-wrap {
	margin: 0 0 10px;
	overflow: hidden;
	border-radius: 25px;
	width: 100%;
	max-width: 770px;
}

#product-container {
    .img-cnt {
    	padding-bottom: 25px;

		img {
		    position: relative;
		    z-index: 2;
		    width: 80px;
		    height: 80px;
		}

    	> div {
    		min-height: 170px;
    		display: flex;
    		justify-content: center;
    		align-items: center;

    		&:after {
			    content: '';
			    background: #fff;
			    border-radius: 50px;
			    width: 95px;
			    height: 95px;
			    position: absolute;
			    display: block;
			    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			    z-index: 1;
			}
    	}
    }
}

.fav-btn-block {
	margin-top: 10px;

	.fav-btn {
		background: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		border-radius: 25px;
		font-size: 18px;
		line-height: 40px;
		color: #ED2B31;
		font-weight: bold;
		text-align: center;
		border: 0;
		width: 100%;
		display: flex;
		outline: 0;
		cursor: pointer;
		justify-content: center;
		align-items: center;

		&:hover {
			color: #000;
		}

		&:after {
			content: '';
			display: inline-block;
			width: 20px;
			height: 18px;
			background: url(../../images/layout/favorite.svg) no-repeat center center;
			margin-left: 10px;
		}
	}

	.fav-tip {
		margin-top: 15px;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		color: #121212;
	}
}

.product-banner {
	background: #ECECEC;

	.product-banner-badge {
		font-size: 24px;
		line-height: 50px;
		text-align: center;
		text-transform: uppercase;
		color: #121212;
	}

	.product-banner-text {
		background: url(../../images/layout/product-banner.svg) no-repeat center 20px #fff;
		font-size: 24px;
		line-height: 32px;
		font-weight: bold;
		text-align: center;
		padding: 290px 50px 35px;
		border-radius: 25px;
	}
}