.review-form {
	margin-bottom: 50px;

	&.reply-form {
		margin-top: 20px;
		margin-bottom: 0;
		padding-left: 80px;
		box-sizing: border-box;
	}

	.uk-form-row {
		display: flex;
	}

	img {
		border-radius: 100px;
		min-width: 60px;
	}

	.img {
		margin-right: 20px;
	}

	textarea {
		border: 0;
		resize: none;
		height: auto;
		padding: 0;
		width: 100%;

		&:focus {
			background: #fff;
		}

		&.uk-form-danger {
			border-color: 0 !important;
		    background: transparent !important;

		    &::placeholder {
		    	color: #d85030 !important;
		    }
		}
	}

	.uk-form-row + .uk-form-row {
		padding-top: 20px;
	}

	.uk-button {
		font-size: 24px;
		border-radius: 25px;
		background: #ED2B31;
		color: #fff;
		font-weight: bold;
		width: 250px;
		text-align: center;
		line-height: 50px;
		margin-top: 30px;
	}

	.shadow-block {
		padding: 30px;
	}

	#review-rating {
		display: flex;
		margin-left: 15px;

		.star {
			width: 26px;
			height: 25px;
			background: url(../../images/layout/reviews/star-empty.svg) no-repeat left center;
			margin-right: 2px;
			cursor: pointer;
			
			&.hover,
			&.active {
				background-image: url(../../images/layout/reviews/star.svg);
			}
		}
	}

	.rate-inner {
		display: flex;
		width: 100%;
		align-items: center;
		font-size: 16px;
		line-height: 15px;
		color: #757575;

		input {
			position: absolute;
		}

		.error-lbl {
			color: #d85030;
		}
	}

	.uk-form-row + .uk-form-row {
		border-top: 1px solid #E5E5E5;
		margin-top: 20px;
	}
	
	#review-rate {
		position: absolute;
		left: -9999px;
	}
}

#product-reviews {
	padding-bottom: 30px;

	.filter-body {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 40px;

		a {
			background: #F9F9F9;
			border-radius: 25px;
			margin-right: 10px;
			text-decoration: none;
			color: #121212;
			line-height: 28px;
			padding: 0 20px;
			display: flex;
			align-items: center;
			border: 1px solid #f9f9f9;
			margin-bottom: 10px;
			
			&.active,
			&:hover {
				border-color: #ED2B31;
			}

			span {
				margin-right: 10px;
				margin-top: -4px;
			}
		}
	}

	.avg-rate {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		.stars {
			margin-right: 15px;

			span {
				overflow: hidden;
				display: flex;
			}
		}
	}

	.avg {
		font-size: 24px;
		line-height: 23px;
		color: #121212;
		font-weight: bold;
	}

	.rate {
		margin: 0;
		line-height: 11px;
		margin-bottom: 10px;

		img {
			height: 11px;
		}
	}

	#product-reviews-items > .review {
		border-bottom: 1px solid #E5E5E5;
		margin-bottom: 30px;
		padding-bottom: 30px;


		&:last-child {
			margin-bottom: 0;
		}
	}

	.review-body {
		display: flex;
		position: relative;

		.name {
			font-weight: bold;
			line-height: 16px;
			margin-bottom: 10px;
		}

		.img {
			margin-right: 20px;
		}

		img {
			border-radius: 100px;
		}

		.review-desc {
			flex-grow: 1;
		}

		.created-date {
			font-size: 16px;
			color: #b2b2b2;
			position: absolute;
			top: 0;
			right: 0;
			line-height: 16px;
		}

		.review-actions {
			color: #b2b2b2;
			font-size: 12px;
			margin-top: 20px;
			display: flex;
			justify-content: space-between;
		}

		.actions {
			display: flex;
		}

		.status {
			margin-right: 20px;
		}
	}

	.status {
		display: flex;

		> span {
			line-height: 12px;
    		padding-top: 6px;
			margin-right: 10px;
			padding-left: 25px;
			cursor: pointer;
		}
	}

	.likes {
		background: url(../../images/layout/reviews/like.svg) no-repeat left center;

		&.active {
			background-image: url(../../images/layout/reviews/like-active.svg);
		}
	}

	.dislikes {
		background: url(../../images/layout/reviews/dislike.svg) no-repeat left center;

		&.active {
			background-image: url(../../images/layout/reviews/dislike-active.svg);
		}
	}

	.reply-btn {
		cursor: pointer;

		&:hover {
			color: $red;
		}
	}

	.replies {
		padding-left: 80px;
		margin-top: 20px;
		box-sizing: border-box;

		> div {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.review-product-title {
		font-size: 18px;
		line-height: 19px;
		color: #121212;
		margin-bottom: 15px;
		font-weight: bold;

		a {
			color: #121212;

			&:hover {
				color: $red;
			}
		}
	}
}

#reviews-pagination {
	text-align: right;

	a {
		color: $red;
		text-decoration: none;
	}
}

@media screen and (max-width: 680px) {
	.review-form {
		&.reply-form {
			.reply-form {
				padding-left: 20px;
			}
		}
	}

	#product-reviews {
		.replies {
			.replies {
				padding-left: 20px;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.product-reviews-box {
		margin-top: 30px;
	}
}

@media screen and (max-width: 500px) {
	.created-date {
		display: none;
	}

	.review-form {
		&.reply-form {
			padding-left: 0;

			.reply-form {
				padding-left: 0;
			}
		}
	}

	#product-reviews {
		padding-bottom: 20px;

		.replies {
			padding-left: 0;

			.replies {
				padding-left: 0;
			}
		}

		#product-reviews-items {
			> .review {
			    margin-bottom: 20px;
			    padding-bottom: 20px;
			}
		}
	}

	#reviews-pagination {
		font-size: 14px;
	}
}