#search-holder {
  width: 100%;
  position: relative;

  button {
    position: absolute;
    z-index: 2;
    background: transparent url(../../images/layout/search.svg) no-repeat 10px center;
      width: 55px;
      height: 50px;
      border: 0;
      top: 0;
      right: 0;
      padding: 0;
      outline: 0;
      cursor: pointer;
  }
}

#search-box {
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 10px rgba(18, 18, 18, 0.05);
  border-radius: 10px;
  height: 50px;
  width: 100%;
  padding: 2px 30px 0;
  border: 0.3px solid rgba(95, 125, 149, 0.15);
  line-height: 18px;
}

#autocomplete-results {
  position: relative;
  display: none;
  position: absolute;
  z-index: 999;
  top: 60px;
  width: 870px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 15px;
  padding: 30px 45px 40px;

  .action-btn {
    margin-top: 20px;
  }

  .uk-container {
    padding: 10px 45px 20px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    em,
    .match {
      color: $red;
      font-style: normal;
    }
  }

  li {
    border-bottom: 1px solid #E5E5E5;

    a {
      color: #121212;
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 40px;
      padding: 0 0 0 5px;
      text-decoration: none;

      &:hover {
        background: #F8F8F8;
      }
    }

    .title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .total {
      font-size: 14px;
      line-height: 13px;
      text-align: right;
      color: #757575;
    }
  }

  .start-search {
    .total {
      color: $red;
    }
  }

  .menu-container {
    display: flex;
    justify-content: space-between;

    .nav {
      width: 360px;

      &.products {
        width: 100%;
      }
    }

    li {
      .title {
        &.bold {
          font-weight: bold;
        }
      }

      .category-title {
        width: 250px;
      }

      .product-title {
        width: calc(100% - 300px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .category-arrow {
        margin: 0 20px;
      }
    }

    .header {
      font-size: 16px;
      line-height: 15px;
      color: #757575;
      padding-left: 25px;
      position: relative;
      margin-bottom: 15px;

      &.star {
        background: url(../../images/layout/search/star.svg) left center no-repeat;
      }

      &.cash {
        background: url(../../images/layout/search/cash.svg) left center no-repeat;
      }
    }
  }

  .more-inner {
    text-align: right;
  }
}

#search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 99;
}