.sidebar-menu {
	.parent-link {
		a {
			background: linear-gradient(252.3deg, #FE9916 -1.79%, #FF391F 103.35%);
			border-radius: 5px;
			display: block;
			padding: 30px 22px 30px 57px;
			font-size: 18px;
			line-height: 17px;
			color: #FFFFFF;
			text-decoration: none;
			font-weight: bold;
			position: relative;

			&:before {
				content: '';
				display: block;
				width: 25px;
				height: 25px;
				background: url(../../images/layout/menu-back.svg) no-repeat center center;
				top: 25px;
				left: 23px;
				position: absolute;
			}
		}
	}

	ul {
		margin: 0;
		list-style: none;
		padding: 0;

		li {
			list-style: none;
		}
	}

	> ul {
		margin-top: 20px;

		> li {
			background: #F8F8F8;
			border-radius: 5px;
			margin-bottom: 5px;
			padding: 20px 18px 24px 52px;
			position: relative;

			a {
				font-size: 18px;
				line-height: 17px;
				font-weight: bold;
				color: #121212;
				text-decoration: none;
				padding-right: 30px;
			}

			.toggle {
				position: absolute;
				content: '';
				display: block;
				width: 25px;
				height: 25px;
				background: url(../../images/layout/menu-open.svg) no-repeat center center #E9E9E9;
				border-radius: 100px;
				right: 18px;
	    		top: 16px;
				cursor: pointer;
			}

			ul {
				display: none;

				li {
					padding: 10px 0 10px 20px;
					position: relative;

					&:last-child {
						padding-bottom: 0;
					}
				}

				a {
					font-size: 18px;
					line-height: 17px;
					text-decoration: underline;
					color: #121212;
				}

				a:hover {
					text-decoration: none;
				}
			}

			&.active {
				ul {
					display: block;
				}
			}
		}
	}

	.count {
		position: absolute;
		content: '';
		display: block;
		width: 25px;
		height: 25px;
		background: #E9E9E9;
		border-radius: 100px;
		right: 0;
		top: 6px;
		font-size: 14px;
		line-height: 25px;
		text-align: center;
	}
}