.social {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin: 0 20px 0 0;
		display: inline-block;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		display: inline-block;
		width: 50px;
		height: 50px;
		border: 2px solid #121212;
		border-radius: 100px;
	}

	.fb {
		background: url(../../images/layout/fb.svg) no-repeat center center;
	}

	.vk {
		background: url(../../images/layout/vk.svg) no-repeat center center;
	}

	.twitter {
		background: url(../../images/layout/twitter.svg) no-repeat center center;
	}

	.yt {
		background: url(../../images/layout/yt.svg) no-repeat center center;
	}

	.instagram {
		background: url(../../images/layout/instagram.svg) no-repeat center center;
	}
}

@media screen and (max-width: 600px) {
	.social a {
		width: 35px;
		height: 35px;
		background-size: 18px !important;

		&.fb {
			background-size: 10px !important;
		}
	}
}