.subscribe {
	background: url(../../images/layout/welcome.png) no-repeat right top;
	min-height: 570px;

	.title {
		font-size: 64px;
		line-height: 62px;
		font-weight: bold;
		width: 540px;
	}

	.subtitle {
		margin-top: 37px;
		font-size: 24px;
		line-height: 23px;
		font-weight: bold;
	}

	.desc {
		font-size: 18px;
		line-height: 17px;
		font-weight: bold;
		margin-top: 75px;
	}

	form {
		margin-top: 28px;
		position: relative;
		width: 600px;

		.email {
			width: 100%;
			display: block;
			background: #F9F9F9;
			border: 1px solid #E5E5E5;
			box-sizing: border-box;
			border-radius: 25px;
			height: 50px;
			line-height: 50px;
			padding: 0 285px 0 43px;
			font-size: 16px;
			line-height: 15px;
			box-sizing: border-box;
		}

		button {
		    background: url(../../images/layout/subscribe-bg.png) no-repeat right center;
		    position: absolute;
		    right: -9px;
		    top: 0px;
		    width: 260px;
		    height: 59px;
		    color: #fff;
		    font-size: 16px;
		    text-transform: uppercase;
		    text-align: center;
		    padding-bottom: 5px;
		    box-sizing: border-box;

		    &:focus,
		    &:active,
		    &:hover,
			&:disabled  {
			    color: #fff;
		    	background-color: transparent;
		    }
		}

		.note {
			font-size: 14px;
			line-height: 13px;
			margin-top: 20px;
			color: #757575;
		}
	}
}