.tab-carousel {
	margin-bottom: 35px;
	
	.tab-content > div {
		display: none;

		&.active {
			display: block;
		}
	}

	.block-title {
		float: left;
	}

	.switcher {
		float: right;
		text-align: right;

		li {
			font-size: 16px;
			line-height: 15px;
			margin-left: 21px;
			display: inline-block;
			cursor: pointer;

			&:hover, 
			&.active {
				color: $red;
				border-bottom: 1px solid $red;
			}
		}
	}

	.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	    background: #ED2B31;
	}

	.owl-theme .owl-dots .owl-dot span {
		background: #FFB2B4;
	}

	button {
		outline: none;
	}

	.owl-carousel {
		position: relative;
	}

	.owl-dots {
		margin-top: 35px;
	}

	.owl-nav {
		margin-top: 0 !important;

		button {
			display: block;
			position: absolute;
			top: 50%;
			margin-top: -55px !important;
			width: 55px;
			height: 55px;
			border-radius: 100px !important;
			background: url('../../images/layout/array-right.svg') no-repeat center center rgba(255, 192, 192, 0.3) !important;
			font-size: 0 !important;
		}

		.owl-prev {
			left: -32px;
			transform: rotate(180deg);
		}

		.owl-next {
			right: -32px;
		}
	}

	.owl-stage {
		display: flex;
	}

	.owl-item {
		min-width: 270px;
		margin-right: 30px;

		.item {
			height: 100%;
		}
	}

	.owl-carousel .owl-item img {
	    display: inline-block;
	    width: auto;
	}
}