.auth {
	padding-top: 30px;

	.site-desc {
	    font-size: 14px;
	    line-height: 13px;
	    margin-left: 13px;
	}

	.logo-box {
	    display: flex;
	    align-items: center;
	    position: relative;
	    top: 6px;
	    max-width: 280px;
	}

	.logo {
		display: block;
		background: url(../../images/layout/logo.svg) no-repeat left top;
		width: 185px;
		height: 38px;
	}
}

@media screen and (max-width: 480px) {
	.auth {
		font-size: 10px;
		line-height: 12px;
		padding-top: 0;

		.social-account {
			a {
				height: 40px;
				line-height: 40px;
			}
		}

		.uk-form {
			button[type=submit] {
				height: 40px;
				margin: 30px 0 15px;
				font-size: 14px;
			}

			input[type="text"], 
			input[type="email"], 
			input[type="password"] {
				font-size: 14px;
				height: 40px;
				line-height: 40px;
			}
		}

		input {
			font-size: 14px;
		}

		.logo-box {
			justify-content: center;
		    margin-bottom: 20px;

			.logo {
			    min-width: 70px;
			    width: 70px;
			    height: 22px;
			    background-size: contain;
			}
		}

		.social-account {
		    margin: 15px 0 20px -10px;
		}

		.site-desc {
		    font-size: 10px;
		    line-height: 11px;
		    margin-left: 10px;
		    max-width: 80px;
		}
	}
}