.uk-breadcrumb-container {
	background: #fff;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
}

.uk-breadcrumb {
	background: #FFFFFF;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    margin: 0;

	> li {
		font-size: 15px;
		
		&:nth-child(n+2):before {
		    content: "-";
		    display: inline-block;
		    margin: 0 8px;
		}
	}

	a {
		color: #969696;
		text-decoration: none;
	}
}

@media screen and (max-width: 780px) {
	.uk-breadcrumb {
		> li {
			display: none;

			&.goback {
				display: block;

				&:before {
					content: '';
				    margin: 0;
				    background: url(../../images/mobile/goback.svg) no-repeat left center;
				    width: 16px;
				    height: 15px;
				    display: inline-block;
				    position: relative;
				    top: 2px;
				}

				a {
					&:before {
						content: 'Назад';
						font-size: 18px;
					}

					span {
						display: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.uk-breadcrumb {
		> li {
			&.goback {
				a {
					&:before {
						font-size: 14px;
					}
				}
			}
		}
	}
}