.catalog-homepage {
	margin-top: 15px;

	.item {
		background: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		border-radius: 25px;
		margin-bottom: 10px;
	}

	.header {
		font-size: 14px;
		line-height: 13px;
		color: #121212;
		font-weight: bold;

		.icon {
			display: block;
			margin-right: 15px;
			float: left;
		}

		.title {
			display: block;
			float: left;
			line-height: 40px;
		}

		a,
		a:hover,
		a:active,
		a:focus {
			color: #121212;
			text-decoration: none;
		}

		&:after {
			content: '';
			display: block;
			clear: both;
		}

		img {
			max-width: 40px;
		}
	}

	.content {
		display: none;
		padding: 15px 0;

		ul {
			margin: 0 0 0 55px;
			padding: 0;
			list-style: none;
			text-align: left;

			a {
				font-size: 16px;
				line-height: 15px;
				color: #121212;

				&:hover {
					text-decoration: none;
					color: $red;
				}
			}
		}
	}

	.toggle {
		display: block;
		float: right;
		height: 40px;
		width: 40px;
		background: url(../../images/mobile/accordeon-open.svg) no-repeat center center;

		&.active {
			background-image: url(../../images/mobile/accordeon-close.svg);
		}
	}

	.more {
		a {
			margin: 15px 0 0;
		}
	}
}