.category-children {
	flex-wrap: nowrap;
	
	.item {
		margin-left: 10px;
		margin-bottom: 10px;
	}

	a {
	    margin-right: 10px;
	    margin-bottom: 10px;
	    white-space: nowrap;
	}
}

.money-back {
	font-size: 18px;
	line-height: 17px;
}

.category-helper {
    border-radius: 0;
    margin: 0 -10px 0;

	.text {
		&.sm {
			max-width: 100%;
		}
	}

	form {
		margin-right: 10px;
	}
}

#filter-results {
    margin-top: 15px;
    padding-bottom: 0;
}

.uk-grid.products-grid {
	margin-left: -20px;

	> * {
	    padding-left: 20px;
	    margin-bottom: 30px;
	}
}

.paginate-total {
    background: transparent;
    border-radius: 0;
    line-height: 20px;
    padding: 0 ;
    margin-right: 0;

    span {
    	font-weight: bold;
    }
}

.pagination-short {
    margin-top: 0;
}

.heading-block {
	padding: 30px 0 20px;
	margin-bottom: 20px;
}

.category-heading {
	margin-bottom: 0;
	font-size: 48px;
    line-height: 46px;
    overflow: hidden;
}

.category-heading-inner {
	padding: 0 10px 0;
}

.category-total {
    font-size: 14px;
    line-height: 13px;
    margin-top: 10px;
    white-space: nowrap;
}

#category-reviews {
	.item {
		width: 243px;
	}
}

.category-reviews {
	padding-bottom: 30px;

	.text {
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		padding: 20px;
		font-size: 14px;
		line-height: 18px;
		height: 180px;

		&:after {
	    	background: url(../../images/mobile/category-review.svg) no-repeat center bottom;
	    }
	}
}

.frame { width: 100%; padding: 0; overflow: hidden;}
.frame .slidee { margin: 0; padding: 0; height: 100%; list-style: none; }
.frame .slidee li { float: left; margin: 0 10px 0 0; padding: 0; width: 243px; height: 100%; }

.category-advantages {
    margin-top: 0;
    padding: 0 10px;
    background-color: #fff;

    .block-title {
    	margin-bottom: 15px;
    	font-size: 21px;
    	line-height: 22px;
    }

	.text {
		margin: 0;
	}

	.item {
		flex-direction: column;
	}

	.img {
		min-height: 165px;
	    vertical-align: middle;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}

	.title {
		text-align: center;
	}
}

.money-back {
    font-size: 16px;
    line-height: 15px;
}

.category-heading-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.category-total {
	margin-top: 0;
}

.heading-block {
	.uk-container {
		padding: 0;

		.category-heading-inner {
			padding: 10px;
		}
	}
}

.loadmore-block {
	margin: 0 0 30px;
}

@media screen and (max-width: 930px) {
	.sorting-nav,
	.category-helper {
		display: none;
	}
}

@media screen and (max-width: 740px) {
	.category-advantages {
		.item {
			flex-direction: row;
		}

		.title {
			text-align: left;
		}

		.img {
			min-height: 0;
		    vertical-align: middle;
		    display: block;
		}
	}
}

@media screen and (max-width: 620px) {
	.category-advantages {
		background: #fff;
	}

	.heading-block {
		padding: 0;
	}

	.category-children {
		.after-6 {
			display: none;
		}
	}

	.category-heading {
	    font-size: 21px;
	    line-height: 23px;
	}
}

@media screen and (max-width: 530px) {
	.category-advantages {
		.block {
			margin: 20px 0;
		}
	}

	.money-back {
		font-size: 12px;
		line-height: 12px;

		&:before {
		    content: '';
		    width: 20px;
		    min-width: 20px;
		    height: 20px;
		    background-size: cover;
		    margin-right: 10px;
		}
	}
}

@media screen and (max-width: 470px) {
	.category-children {
		.after-4 {
			display: none;
		}
	}
}