@media screen and (max-width: 680px) {
	.comment-form {
		&.reply-form {
			.reply-form {
				padding-left: 20px;
			}
		}
	}

	#comments {
		.replies {
			.replies {
				padding-left: 20px;
			}
		}
	}
}

@media screen and (max-width: 640px) {
	#comment-rate-label {
		display: none;
	}

	#comment-rating {
		margin-left: 0 !important;
	}
}

@media screen and (max-width: 600px) {
	.comments-box {
		margin-top: 30px;
	}
}

@media screen and (max-width: 500px) {
	.created-date {
		display: none;
	}

	.comment-form {
		&.reply-form {
			padding-left: 0;

			.reply-form {
				padding-left: 0;
			}
		}
	}

	#comments {
		padding-bottom: 20px;

		.replies {
			padding-left: 0;

			.replies {
				padding-left: 0;
			}
		}

		#comment-items {
			> .review {
			    margin-bottom: 20px;
			    padding-bottom: 20px;
			}
		}
	}

	#comments-pagination {
		font-size: 14px;
	}
}