#filter-header {
  display: none;
  background: #fff;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 40px;
  border-bottom: 1px solid #f6f6f6;
  box-shadow: 0 0px 20px -5px rgba(132, 132, 132, 0.51);

  a {
    text-transform: uppercase;

    &:active {
      text-decoration: none;
    }
  }

  h4 {
    font-size: 1.3rem;
    line-height: 40px;
  }
}

#filter-popup {
  padding-bottom: 80px;

  .filter-option {
    border-bottom: 6px solid #f6f6f6;
    padding-top: 20px;
  }
}

#filter-show-results-holder {
  display: none;
  background: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 9999;
  box-sizing: border-box;
  padding: 20px 10px;

  button {
    border-radius: 25px
  }
}

#filter-show-results {
  text-transform: none;
}

.filter-active {
  #filter-show-results-holder,
  #filter-header {
    display: block;
  }
}

#filter-btn {
  cursor: pointer;
  display: block;
  position: fixed;
  z-index: 100;
  border-radius: 50%;
  opacity: 1;
  bottom: 80px;
  right: 10px;
}

#filter-modal {
  .uk-offcanvas-bar {
    background: #fff;
    width: 100%;
  }
}

#filter-form-modal {
  .option-title {
    line-height: 40px;
    border-bottom: 1px solid #DADADA;
    font-size: 13px;
    padding: 0 10px;
    background: url(../../images/mobile/filter/down.svg) no-repeat calc(100% - 10px) center;
  }

  .opened {
    .option-title {
      background-image: url(../../images/mobile/filter/up.svg);
    }
  }

  .active {
    > .option-title {
      &:after {
        content: '';
        width: 8px;
        height: 8px;
        background: $red;
        display: inline-block;
        border-radius: 50px;
        margin-left: 3px;
      }
    }
  }

  .option-body {
    display: none;
    background: #F5F5F5;
    
    .checkbox-lbl {
      border-bottom: 1px solid #DADADA;

      input[type="checkbox"] {
        position: absolute;
        left: -9999px;

        &:checked + label {
          background: url(../../images/mobile/filter/selected.svg) no-repeat calc(100% - 10px) center #CDF2F9;
        }
      }

      label {
        font-weight: normal;
        font-size: 13px;
        line-height: 39px;
        margin-bottom: 0;
        padding: 0 10px;
          display: block;
      }

      img {
        border-radius: 200px;
        width: 22px;
        height: 22px;
        margin-right: 8px;
        position: relative;
        top: 2px;
      }
    }
  }
}

#selected-options {
  font-size: 0;

  > span {
    font-size: 14px;
    background: url(../../images/mobile/filter/option-clear.svg) no-repeat calc(100% - 6px) center $red;
    padding: 0 23px 0 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    line-height: 25px;
    height: 25px;
    color: #fff;
    display: inline-block;
  }

  &.active {
    margin: 20px 0 0;
  }

  #filter-reset-sm { 
    background: url(../../images/mobile/filter/trash.svg) no-repeat 7px center #E3E3E3;
    padding: 0 7px 0 23px;
    font-size: 13px;
    float: right;
    margin-right: 0;
    color: #000;
  }
}

#filter-header {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);

  a {
    display: block;
    position: absolute;
    top: 12px;
    right: 10px;
    width: 18px;
    height: 18px;
    background: url(../../images/mobile/filter/close.svg) no-repeat center center;
  }
}

.modal-body {
  padding: 0;
}

#filter-reset-row {
  text-align: right;
  height: 46px;
  background: #F5F5F5;
  line-height: 46px;
  padding: 0 10px;
}

#filter-reset-lg {
  color: $red;
  background: url(../../images/mobile/filter/reset.svg) no-repeat left center;
  padding-left: 20px;
  text-decoration: underline;
}

.filter-total-products {
  font-size: 10px;
  line-height: 11px;
  padding: 0 10px;
  margin-bottom: 10px;

  span {
    font-weight: bold;
  }
}

.filter-btn {
  width: 100%;
  line-height: 30px;
  height: 30px;
  color: #121212;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  background: #fff;
  padding: 0 5px 0 10px;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(95, 125, 149, 0.1);
  border-radius: 10px;
  border: 1px solid #F5F5F5;

  &:hover,
  &:active,
  &:focus {
    color: #000;
    text-decoration: none;
  }

  &:after {
    content: '';
    display: inline-block;
    width: 17px;
    height: 15px;
    margin-right: 5px;
    background: url(../../images/mobile/filter/filter-icon.svg) no-repeat center center;
    margin-left: -8px;
  }
}

#filter-total-text {
  background: $red;
  color: #fff;
  line-height: 40px;
  border: 0;
  width: 100%;
  padding: 0;

  span {
    font-weight: bold;
  }
}

#filter-header {
  padding: 8px 10px;
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

#filter-show-results-holder {
    display: none;
}

.filter-active #filter-show-results-holder {
    display: block;
}

.option-body {
  > div {
    padding-right: 0 !important;

    > div {
      margin-right: 0 !important;
      width: 100%;
    }
  }

  .option-row {
    width: 100%;
  }
}

.filter-field {
  .option-title {
    font-weight: bold;
  }
}