footer {
	margin-top: 50px;
	background: #F9F9F9;
	text-align: center;
	padding-top: 15px;

	.socials {
		margin-bottom: 15px;

		> a {
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.small-text {
		> span {
			display: block;
			margin-bottom: 5px;
		}

		span, a {
			font-size: 12px;
			line-height: 13px;
			color: #AFAFAF;
		}

		a {
			&:hover {
				text-decoration: none;
			}
		}
	}
}