.cosmos {
	.uk-form-width-large {
	    max-width: 500px;
	    width: 100%;
	}

	.uk-form {
		input[type=text] {
			background: #FFFFFF;
		    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.06);
		    border-radius: 25px;
		    font-size: 14px;
		    line-height: 40px;
		    color: #757575;
		    padding: 0 20px;
		    height: 40px;
		    width: 100%;
		}
	}
}