header {
	background: #ED2B31;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
	height: 40px;
	position: relative;
	z-index: 99999;

	.logo-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&.shadow {
		padding-bottom: 0;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		margin-bottom: 0;
	}

	.userbar {
		margin: 0;
		padding: 0;
		list-style: 0;
		display: flex;

		li {
			margin-right: 15px;
			list-style: none;

			&:last-child {
				margin-right: 0;
			}
		}

		a {
			color: #fff;
		}
	}
}

.logo {
	display: block;
	background: url(../../images/mobile/logo.svg) no-repeat left center;
	width: 70px;
	height: 40px;
}

.about-block {
	padding-top: 20px;
	padding-bottom: 15px;
	background: #ED2B31;
	color: #FFFFFF;

	.title {
		font-weight: bold;
		font-size: 24px;
		line-height: 25px;
		margin-bottom: 10px;
	}

	.desc {
		font-size: 14px;
		line-height: 19px;
	}
}

.search-form {
	margin-top: 15px;
	position: relative;

	input[type=text] {
		background: #FFFFFF;
		box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.06);
		border-radius: 25px;
		font-size: 14px;
		line-height: 40px;
		color: #757575;
		padding: 0 20px;
		height: 40px;
		width: 100%;
	}

	button {
		background: url(../../images/mobile/search.svg) no-repeat left center;
		position: absolute;
		top: 0;
	    right: 0;
	    width: 45px;
	    height: 40px;
	    border: 0;
	    outline: 0;
	    padding: 0;
	}
}