.uk-container {
    padding: 0 10px;
}

.bg-container {
	background: #F9F9F9;
}

.block {
	margin: 30px 0;
}

.block-title {
    font-size: 18px;
	line-height: 17px;
    margin-bottom: 10px;
    color: #121212;
    font-weight: bold;
    position: relative;

	.all,
    .readmore {
	    position: absolute;
	    right: -10px;
	    top: -2px;
	}
}

.all {
	background: url(../../images/mobile/all.svg) no-repeat 0px -6px;
    display: inline-block;
    width: 77px;
    height: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-indent: 3px;
    line-height: 18px;

    &:hover,
    &:active,
    &:focus {
    	color: #fff;
    	text-decoration: none;
    }
}

.readmore {
	background: url(../../images/mobile/readmore.svg) no-repeat 0px -6px;
    display: inline-block;
    width: 110px;
    height: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-indent: 10px;
    line-height: 18px;

    &:hover,
    &:active,
    &:focus {
    	color: #fff;
    	text-decoration: none;
    }
}

.more {
	text-align: center;
	
	a {
		margin-top: 30px;
	}
}

.action-btn,
.more a {
	display: inline-block;
	font-size: 16px;
	line-height: 15px;
	background: #F1543F;
	border-radius: 25px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	border: 1px solid #ED2B31;
	padding: 0 15px;
	box-sizing: border-box;
	min-width: 160px;

	&:hover {
		text-decoration: none;
		color: #121212;
		background: transparent;
	}
}

.shadow-block {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	background: #FFFFFF;
	border-radius: 25px;
	padding: 43px 32px;

	.block-content {
		margin-top: 30px;
	}
}

.big-btn {
	background: #ED2B31;
	box-shadow: 0px 4px 10px rgba(237, 43, 49, 0.25);
	border-radius: 25px;
	font-size: 18px;
	line-height: 17px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 50px;
	padding: 0 25px;
	display: inline-block;

	&:hover {
		text-decoration: none;
		color: #fff;
		background: #bb1f45;
	}
}

img {
	max-width: 100%;
}

.grey-bg {
	background: #F9F9F9;
}

.white-bg {
	background: #fff;
}

.alert {
	padding: 10px;
}

.offcanvas-header {
	font-size: 14px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.54);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .uk-offcanvas-close {
	    width: 20px;
	    height: 20px;
	    background: url(../../images/mobile/search/close.svg) no-repeat center center;
	}
}

.uk-form {
	input[type="radio"],
	input[type="checkbox"] {
		border: 1px solid #E5E5E5;
		box-sizing: border-box;
		border-radius: 2px;
	}
}

.text-line {
	position: relative;

	&:before {
		content: '';
		height: 1px;
		background: #E5E5E5;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -1px;
	}

	span {
		position: relative;
		background: #fff;
		padding: 0 10px;
	}
}