@media screen and (max-width: 580px) {
	.uk-pagination {
		display: none;
	}

	.blog {
		.header {
		    font-size: 24px;
		    line-height: 23px;
		    margin-bottom: 5px;
		}

		.sub-header {
		    font-size: 14px;
		    line-height: 13px;
		    margin-bottom: 12px;
		}

		.item-meta {
			font-size: 12px;
			line-height: 25px;
		}

		.author {
			img {
				width: 25px;
			}
		}

		.related-item {
			.header {
			    font-size: 16px;
			    margin: 20px 0 10px;
			    line-height: 15px;
			    display: block;
			}

			.item-meta {
			    margin: 10px 0 0px;
			    line-height: 17px;
			}
		}

		.blog-item {
			margin-bottom: 30px;
		}

		.item-text {
			margin: 10px 0 10px;
		}

		&.blog-page {
			.item-text {
			    margin-top: 10px;
			}

			.item-meta {
			    margin: 15px 0 15px;
			}
		}

		.tags {
			margin: 0 0 15px;

			li {
				margin-right: 5px;

				a {
					font-size: 14px;
					line-height: 13px;

					&:before {
						font-size: 14px;
					}
				}
			}
		}
	}

	.blog-item h3 {
	    font-size: 16px;
	    margin: 20px 0 10px;
	    line-height: 15px;
	}
}