#main-menu-header {
	height: 60px;
	line-height: 60px;
	padding: 0 10px 0 30px;
	font-size: 14px;
	background: #f9f9f9;

	&.back {
		background: url(../../images/mobile/menu/back.svg) no-repeat 10px center #F9F9F9;
	}
}

#main-menu-close {
	display: block;
	width: 24px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 10px;
	background: url(../../images/mobile/menu/close.svg) no-repeat calc(100% + 4px) center;
}

#menu-modal {
	.uk-offcanvas-bar {
		width: 100%;
		background: #fff;
		overflow-x: hidden;
		top: 40px;
	}

	ul {
		padding: 0;
		list-style: none;
		margin: 0;
	}

	.index {
		transition: left 0.3s ease-out;
		left: 0;
		top: 60px;
		position: fixed;
		width: 100%;

		&.opened {
			left: -100%;
		}

		> li {
			position: relative;

			> a,
			> span {
				background: #F9F9F9;
				display: block;
				display: flex;
				align-items: center;
				color: #000000;
				font-size: 14px;
				padding: 12px 20px;

				.icon {
					margin-right: 10px;

					img {
						height: 35px;
						width: 35px;
					}
				}

				.product-count {
					font-size: 12px;
					line-height: 12px;
					text-align: right;
					color: #757575;
					margin-left: 10px;
				}
			}

			.toggle {
				position: absolute;
				top: 0;
				right: 0;
				width: 50px;
				height: 59px;
				background: url(../../images/mobile/menu/slide-down.svg) no-repeat calc(100% - 10px) center;
			}

			&.opened {
				> .toggle {
					transform: rotate(180deg);
					background-position: 10px center;
				}
			}

			ul {
				display: none;
				padding: 0 10px;

				.product-count {
					font-size: 14px;
					line-height: 14px;
					color: #757575;
					margin-left: 10px;
				}

				li {
					border-bottom: 1px solid #E5E5E5;
					padding: 16px 10px;
					position: relative;

					> a,
					> span {
						display: block;
						color: #000000;
						font-size: 14px;
					}

					.toggle {
						top: 0;
					    right: 0;
					    width: 50px;
					    height: 100%;
					    background: url(../../images/mobile/menu/open.svg) no-repeat right center;
					}
				}
			}
		
			li {	
				ul {
					display: block;
					position: fixed;
					top: 60px;
					transition: left 0.3s ease-out;
					left: 100%;
					width: 100%;
					box-sizing: border-box;

					&.opened {
						left: -100% !important;
						z-index: 10000;
					}
				}

				.current-active {
					> ul {
						padding-bottom: 10px;

						&:after {
							content: '';
						    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
						    border-bottom: 1px solid #ED2B31;
						    position: fixed;
						    left: 0;
						    width: 100%;
						}

						> li {
							&:last-child {
								border-bottom: 0;
							}
						}
					}
				}

				&.active {
					> ul {
						left: 0;
						z-index: 10000;
					}
				}
			}
		}
	}
}

.uk-offcanvas-page {
	.userbar {
		visibility: hidden;
	}
}

.menu-label {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  border-radius: 3px;

  &.label-yellow {
    background: #FFC700;
  }

  &.label-blue {
    background: #0500FF;
  }
}