.uk-modal {
	padding: 20px;
}

.uk-modal-dialog {
	padding: 30px;
}

@media screen and (max-width: 480px) {
	.uk-modal-dialog {
	    padding: 20px;
	}

	.uk-modal-close.uk-close {
	    width: 30px;
	    height: 30px;
	    right: 3px;
	    top: 4px;
	    border-radius: 25px;
	}
}