.news-widget {
	.item {
		&.num-1 {
			img {
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
				border-radius: 25px 25px 0px 25px;
			}
		}

		&.num-2 {
			img {	
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
				border-radius: 0px 25px 25px 25px;
			}
		}

		.desc {
			margin-top: 10px;
		}

		.title {
			font-size: 14px;
			line-height: 19px;
			color: #121212;
			margin-bottom: 5px;
			display: block;
			
			&:hover {
				text-decoration: none;
				color: $red;
			}
		}

		.author {
			font-size: 14px;
			line-height: 13px;
			color: #C9C9C9;
		}

		.stat {
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 14px;
			line-height: 13px;
			margin-top: 7px;
			display: flex;
			justify-content: space-between;

			li {
				display: inline-block;
				list-style: none;
				padding: 0 0 0 25px;
				line-height: 20px;

				&.views {
					background: url(../../images/layout/users.svg) no-repeat left center;
				}

				&.comments {
					background: url(../../images/layout/comments.svg) no-repeat left center;
				}

				&.likes {
					background: url(../../images/layout/like.svg) no-repeat left center;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}