#notifications {
	.uk-button {
	    top: 0;
	    display: flex;
    	align-items: center;

	    i {
	    	color: #fff;
	    	font-size: 25px;
	    }

		.count {
		    display: none;

		    &.active {
		    	font-size: 10px;
		    	line-height: 17px;
		    	width: 17px;
		    	height: 17px;
		    	display: block;
		    	color: $red;
		    	background: #fff;
		    	position: relative;
		    	top: 0;
		    	right: 0;
		    	margin-left: 5px;
		    }
		}
	}
}