.product-page {
	#content-container {
		margin-top: 10px;
	}
}

.main-container {
	.meta-block {
		.name {
		    margin-bottom: 10px;
		    padding-right: 0;
		}
	}
}

#product-tabs-switcher {
	.toggle {
		display: none;
	}
}

.product-body {
	width: 100%;
}

.block-related {
    margin-top: 30px;
}

#product-card {
	position: relative !important;
	top: 0 !important;
	right: 0 !important;
	float: right;

	.img {
		background: no-repeat top left transparent;
		background-size: cover;
		height: 125px;
		position: relative;

		a {
			height: 125px;
		}
	}
}

#product-tabs {
	max-width: 775px;
	margin-right: auto;
	margin-left: auto;

	.uk-tab > li:first-child {
	    margin-left: -15px;
	}
}

.shadow-block {
	padding: 20px 20px;
}

.main-screen {
	display: flex;
	align-items: stretch;
}

.main-container {
	.price {
	    font-size: 36px;
	    line-height: 35px;
	}

	.price-old-wrapper {
	    margin-top: 10px;
	}

	.price-box {
	    margin-bottom: 15px;
	}

	.action {
	    font-size: 18px;
	    line-height: 40px;
	    width: 180px;
	    margin: 0 auto 20px;

		&.start-free-btn {
			display: none;
		}
	}

	.meta-row {
		&.info {
			display: block;

			> div {
	    		margin-right: 0;
	    		margin-bottom: 10px;
	    	}
		}
    }

    .card {
    	min-width: 370px;

    	.inner {
		    padding: 20px 20px 17px;
		}

		.action.bottom {
			display: none;
		}
	}

	.main-screen-inner {
		margin-right: 20px;
		align-items: stretch;
	}

	.meta-block {
		.preview-desc {
			margin: 50px 0 65px;
		}
	}
}

.block-cources {
	margin-top: 40px;

	.num,
	.duration,
	.button.toggle {
		display: none !important;
	}

	> ul .preview {
	    padding-right: 0;
	}
}

.block-authors {
	margin-top: 0;

	.img {
	    float: none;
	    min-width: 170px;
	    margin-right: 40px;
	}

	.personal {
		margin-right: 0;
		padding: 40px 20px 0 40px;
		display: flex;
		align-items: center;
	}

	.item {
		padding-bottom: 40px;
		min-height: 0;
	}

	.block-title {
	    font-size: 24px;
	    line-height: 23px;
	    margin-bottom: 30px;
	}

	.social {
		text-align: right;
		margin-top: 15px;
	}

	.text {
		margin-left: 0;
	}

	.about {
		color: #757575;
	}
}

.block-related {
	.block-title {
	    font-size: 24px;
	    line-height: 23px;
	    margin-bottom: 30px;
	}
}

.product-items {
	.img-cnt {
		a {
    		padding-bottom: 20px;

    		.with-icon {
    			height: 135px;
    		}
		}
	}

	.rate {
	    padding: 30px 0 10px;

		.star {
			background-size: cover;
	    	width: 20px;
		    height: 20px;
		}
	}

	.subtitle {
		font-size: 14px;
	    margin-top: 5px;
	}
}

#all-categories {
	background: #F1543F;
	border-radius: 25px;
	color: #fff;
	font-size: 12px;
	border: 0;
	line-height: 25px;
	display: inline-block;
	margin: 0 auto 20px;
	padding: 0 10px;
}

iframe {
    border: 0;
    max-width: 100%;
    height: auto;
}

.video-wrap {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	iframe {
		min-height: 300px;
	}
}

.meta-block {
	padding: 0;
	border-radius: 25px;
	overflow: hidden;

	.img-cnt {
		display: none;
	}

	.inner {
		padding: 30px 20px 70px;
		border-radius: 25px;
	    position: relative;
	    z-index: 2;
	    background: white;
	}
}

.product-body {
	.img-cnt {
		> div {
			min-height: 115px;
		}
	}
}

.main-screen {
	align-items: flex-start;
}

.video-modal {
	.uk-modal-dialog {
		top: 30px;
		border-radius: 2px;
		padding: 2px;
		max-width: 560px;
		height: 315px;

		iframe {
			height: 315px;
		}
	}

	.uk-modal-close.uk-close {
		right: -3px;
    	top: -4px;
	}
}

.product-items {
	.fav-btn {
		border: 0;
	    text-indent: -9999px;
	    background: url(../../images/mobile/fav-btn.svg) no-repeat 0px 10px transparent;
	    width: 33px;
	    height: 32px;
	    position: absolute;
	    top: 0;
	    right: 0;
	    z-index: 99999;
	    outline: 0;

	    &:focus,
	    &:active {
	    	outline: 0;
	    }

	    &.active {
	    	background-image: url(../../images/mobile/fav-btn-active.svg);
	    }
	}

	.info-icons > * {
	    margin-right: 15px;
	}
}

@media screen and (min-width: 840px) {
	#product-container {
		.img-triggers {
			.title {
				font-size: 14px;
				line-height: 13px;
				margin-top: 10px;
			}

			.item {
				display: flex;
				align-items: flex-start;
				text-align: left;
				width: 320px;
				padding-right: 20px;
				box-sizing: border-box;

				.img {
					min-width: 100px;
					margin-right: 10px;
				}
			}
		}
	}
}

@media screen and (max-width: 780px) {
	.product-items .uk-width-1-4 {
		width: 50%;
	}

	.main-screen {
		flex-wrap: wrap;
	}

	.main-container {
		.meta-block {
			.name {
				h1 {
				    font-size: 33px;
				    line-height: 28px;
				}
			}
		}

		.card {
			width: 100%;
			min-width: 0;
		}

		.main-screen-inner {
			margin-right: 0;
		}
	}

	.main-screen-inner {
		margin-right: 0;
		margin-bottom: 10px;
	}

	#product-card {
		float: none;
	}

	.product-items {
	    margin-left: -10px !important;

	    > * {
		    padding-left: 10px !important;
		}

		.rate {
		    padding: 20px 0 10px;
		    height: 14px;

		    .star {
		    	width: 14px;
		    	height: 14px;
		    }
		}

		.img-cnt {
			img {
			    width: 50px;
			    height: 50px;
			}

			a {
	    		padding-bottom: 25px;

	    		&.with-icon {
	    			height: 80px;
	    		}

				&:after {
					width: 60px;
					height: 60px;
				}
				
				&.video:before {
					width: 30px;
					height: 30px;
				}
			}
		}

		.product-desc {
			.title {
    			line-height: 20px;
			}
		}

		.subtitle {
			display: none;
		}
	}

	#product-container {
		.img-triggers .img {
		    margin-right: 10px;
		}
	}

	.product-banner {
		background: url(../../images/mobile/product-banner.svg) no-repeat calc(100% - 35px) center #fff;
		position: relative;

		.product-banner-badge {
			line-height: 40px;
			text-align: left;
			color: #ED2B31;
			position: absolute;
			top: 35px;
			left: 0;
			background: #ECECEC;
			border-radius: 0px 25px 25px 0px;
			width: 200px;
			box-sizing: border-box;
			padding-left: 35px;
		}

		.product-banner-text {
			background: transparent;
			text-align: left;
			padding: 90px 35px 35px;
			max-width: 290px;
		}
	}
}

@media screen and (max-width: 650px) {
	.you-get.uk-grid {
		margin-left: 0;

		> .uk-width-1-4 {
			width: 100% !important;
			padding-left: 0;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.item {
			display: flex;
			align-items: center;
		}

		.img {
			margin-right: 20px;
			margin-bottom: 0;

			img {
				width: 70px;
			}
		}

		.title {
			font-size: 14px;
    		line-height: 19px;
		}
	}

	#product-tabs {
		.uk-tab {
			> li {
				margin-right: 25px;

				> a {
					padding-left: 55px;

				}

				&:first-child {
					> a {
						padding-left: 15px;
					}
				}
			}
		}
	}

	.experience {
		ul {
			> li {
				width: 100%;
				float: none;
				margin-bottom: 15px;
			}
		}
	}

	.main-container {
		.action {
			&.start-free-btn {
				display: block;
				margin-top: 20px;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.block-related .block-title,
	.block-authors .block-title,
	.main-container .block-title {
	    font-size: 18px;
	    line-height: 17px;
	    margin-bottom: 10px;
	}

	.main-container {
		.meta-block .name {
			h1 {
			    font-size: 33px;
			    line-height: 28px;
		    }
		}
	}
	
	.block-related,
	.block-cources {
	    margin: 20px 0;
	}

	.block-authors {
		.personal {
    		padding: 20px 15px 30px;
    		display: block;
		}

		.img {
			margin-right: 0;
			margin-bottom: 20px;

			img {
				width: 80px;
				height: 80px;
			}
		}

		.about,
		.name {
		    font-size: 14px;
		}

		.social {
			text-align: center;
		}

		.item {
			padding-bottom: 0;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.label {
		font-size: 10px;
		line-height: 20px;
	}

	.block-cources > ul > li {
	    padding: 15px 20px;
	    margin-bottom: 10px;

	    .desc {
	    	padding: 15px 0 0;

	    	.text {
		    	margin-right: 0;
		    }
		}

		.label.free {
		    margin-right: -20px;
		}

		.img {
			img {
				display: none;
			}

			a {
				display: block;
				width: 25px;
			    height: 25px;
			    background: url(../../images/layout/play.svg) no-repeat left top;
			    background-size: cover;
			    position: absolute;
			    top: -6px;
    			right: 0;
			}
		}

	    .preview {
	    	padding-left: 0;

	    	.play-btn {
	    		display: none;
	    	}
	    }
	}

	#product-tabs {
		.uk-tab {
			display: none;
		}
	}

	#product-tabs-switcher {
		background: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
		border-radius: 25px;
		padding: 5px 15px;

		.toggle {
			display: block;
			font-size: 14px;
			padding: 15px 0;
			line-height: 13px;
			color: #BEBEBE;
			font-weight: bold;
			background: url(../../images/mobile/tab/open.svg) no-repeat right center;

			&.active {
				background-image: url(../../images/mobile/tab/close.svg);
			}
		}

		> .item {
			display: block;
			border-bottom: 1px solid #E9E9E9;

			&:last-child {
				border-bottom: 0;
			}
		}

		.content {
			display: none;

			> div {
				padding: 15px 0;
			}
		}
	}

	.you-get {
		text-align: left;
		margin-top: 25px;
	}

	.experience {
		ul {
			> li {
				width: 100%;
				float: none;
				margin-bottom: 15px;
				padding-left: 17px;
				background-position: left 5px;
				background-image: url(../../images/layout/list-point.svg);
			}
		}
	}

	.product-banner {
		background: url(../../images/mobile/product-banner.svg) no-repeat calc(100% - 20px) center #fff;

		.product-banner-badge {
			font-size: 18px;
			padding-left: 20px;
			width: 150px;
		}

		.product-banner-text {
			padding-left: 20px;
			font-size: 18px;
			line-height: 24px;
			max-width: 200px;
		}
	}
}


@media screen and (max-width: 490px) {
	.product-banner {
		background: url(../../images/mobile/product-banner.svg) no-repeat calc(100% + 80px) center #fff;

		.product-banner-badge {
			font-size: 18px;
			padding-left: 20px;
			width: 130px;
			top: 20px;
		}

		.product-banner-text {
			padding-right: 135px;
			padding-top: 70px;
		}
	}
}

@media screen and (max-width: 400px) {
	.main-container .meta-block {
		background: #fff;

		.name {
			padding-right: 0;

			h1 {
			    font-size: 18px;
				line-height: 17px;
		    }
		}
	}

	.rate .star {
	    width: 15px;
	    height: 15px;
	    background-size: contain;
	}

	.main-container {
		.meta-block .preview-desc {
		    font-size: 14px;
		    line-height: 19px;
		    margin: 10px 0;
		}

		.price {
		    font-size: 24px;
		    line-height: 23px;
		}

		.price-old {
		    font-size: 18px;
		    line-height: 17px;

		    &:after {
			    top: -10px;
			}
		}

		.discount {
		    font-size: 14px;
			line-height: 17px;
		}

		.meta-row {
			font-size: 14px;
			line-height: 13px;

			&.info {
				font-size: 12px;
				line-height: 12px;

				> div {
			    	width: 100%;

			    	&:last-child {
			    		margin-bottom: 0;
			    	}
			    }
		    }
		}

		.meta-block {
			padding: 0;

			.inner {
				padding: 20px 20px 40px;
			}

			.img {
			    background: no-repeat top left transparent;
			    background-size: cover;
			    height: 125px;
			    position: relative;

				a {
					height: 125px;
				}
			}

			.play-video {
			    display: block;
			    position: relative;
			    text-align: center;

			    &:after {
				    content: '';
				    position: absolute;
				    top: 50%;
				    left: 50%;
				    margin-top: -31px;
				    margin-left: -31px;
				    width: 62px;
				    height: 62px;
				    background: url(../../images/layout/play-big.svg) no-repeat center center;
				}
			}
		}

		.card {
			.action {
				&.top {
					display: none;
				}

				&.bottom {
					margin-top: 20px;
					display: block;
				}
			}
		}
	}

	#product-card {
		.img {
			display: none;
		}
	}

	.product-items {
		.uk-width-1-4 {
		    width: 100%;
		    margin-bottom: 10px;
		}
	}

	.card {
		.img-cnt {
			display: none;
		}

		.inner {
			margin-top: 0 !important;
		}
	}

	.meta-block {
		.inner {
			padding: 20px 15px 25px !important;

			&.with-icon {
				margin-top: -25px !important;
			}
		}

		.img-cnt {
			display: block;
		}
	}
}