#search-modal {
	.uk-offcanvas-bar {
		padding: 40px 0 20px;
		width: 100%;
		background: #fff;
		box-sizing: border-box;
	}

	.search-form {
		margin-top: 0;

		button {
			background-image: url(../../images/mobile/search/search.svg);
			width: 35px;
			height: 35px;
		}
	}

	.search-header {
		position: sticky;
		top: 0;
		left: 0;
		background: #fff;
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
	}
}

#search-box {
	border: 1px solid #E6E6E6;
	height: 35px;
	line-height: 35px;
	box-shadow: none;
	font-size: 16px;
}

.autocomplete-results {
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 25px;
	padding: 0;
	margin: 5px 0 0;
	overflow-x: visible;

    > div {
    	overflow-y: auto;
    	max-height: calc(100vh - 170px);
    	padding: 10px 10px 10px 0;
	    margin-right: -10px;
    }

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	.header {
		color: #757575;
		padding-left: 25px;
		font-size: 14px;
		margin: 0 20px 12px;

		&.star {
			background: url(../../images/layout/search/star.svg) left center no-repeat;
		}

		&.cash {
			background: url(../../images/layout/search/cash.svg) left center no-repeat;
		}
	}

	li {
		a {
			font-size: 14px;
			line-height: 16px;
			color: #121212;
			text-decoration: none;
			display: flex;
			padding: 12px 20px;
			justify-content: space-between;
			align-items: center;

			.bold {
				font-weight: bold;
			}

			.total {
				font-size: 12px;
				line-height: 14px;
				color: #FF0000;
			}

			&:hover,
			&:active {
				background: #F8F8F8;
			}
		}
	}

	.category-arrow,
	.category-title {
		display: none;
	}

	.nav {
		margin-bottom: 20px;
	}

	.more-inner {
		text-align: center;
	}
}

#search-header-bar {
	font-size: 14px;
	line-height: 14px;
	color: rgba(0, 0, 0, 0.54);
	padding: 0 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	a {
		width: 20px;
		height: 20px;
		background: url(../../images/mobile/search/close.svg) no-repeat center center;
	}
}

.search-page {
	.search-form {
		margin: 10px 0 20px;
	
		input[type=text] {
			box-shadow: none;
		}
	}

	.sorting-nav-sm {
		justify-content: flex-start;
	}
}