.slider {
	position: relative;

	.text {
		position: absolute;
		top: 30px;
		width: 100%;
		box-sizing: border-box;
		padding: 0 10px;
		background: #fff;
	}

	.title {
		font-size: 16px;
		line-height: 20px;
		font-weight: bold;
		margin-bottom: 5px;
	}

	.desc {
		font-size: 11px;
		line-height: 16px;
		color: #000;
	}

	.img {
		text-align: right;
		position: relative;
	}

	&.owl-loaded {
		.text {
			background: transparent;
			z-index: 2;
		}
	}
}

#content-container {
	.owl-carousel .owl-item .img img {
		width: auto;
		display: inline-block;
	}

	.owl-nav {
		display: none;
	}

	.owl-theme .owl-dots .owl-dot {
		margin: 0 3px;

		span {
			border: 1px solid $red;
			background: #fff;
			width: 6px;
			height: 6px;
			margin: 0;
		}
	}

	.owl-theme .owl-dots .owl-dot.active span, 
	.owl-theme .owl-dots .owl-dot:hover span {
	    background: $red;
	}
}