.sort-btn {
	width: 100%;
    line-height: 30px;
    height: 30px;
    color: #121212;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    background: #fff;
    padding: 0 5px 0 10px;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(95, 125, 149, 0.1);
    border-radius: 10px;
	border: 1px solid #F5F5F5;

	&:hover,
	&:active,
	&:focus {
		color: #000;
		text-decoration: none;
	}

    &:after {
    	content: '';
    	display: inline-block;
    	width: 10px;
    	height: 15px;
    	margin-right: 5px;
    	background: transparent no-repeat center center;
		margin-left: -8px;
    }
}

#sort-links {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		list-style: none;
		border-top: 1px solid #E8E8E8;

		a {
			display: flex;
			align-items: center;
			color: #000;
			text-decoration: none;
			background: #fff;
			height: 33px;
			line-height: 33px;
			padding: 0 10px;

			&.active {
				background: url(../../images/mobile/filter/selected.svg) no-repeat calc(100% - 10px) center #F5F5F5;
			}

			&:hover {
				color: #000;
				text-decoration: none;
			}

		    &:before {
		    	content: '';
		    	display: inline-block;
		    	width: 17px;
		    	height: 15px;
		    	background-repeat: no-repeat;
		    	background-position: center center;
				margin-right: 10px;
		    }
		}
	}
}

.sort-by-popular {
	&:before,
    &:after {
    	background-image: url(../../images/mobile/sorting/popular.svg);
    }
}

.sort-by-lower-price {
	&:before,
    &:after {
    	background-image: url(../../images/mobile/sorting/cheap.svg);
    }
}

.sort-by-higher-price {
	&:before,
    &:after {
    	background-image: url(../../images/mobile/sorting/expensive.svg);
    }
}

.sort-by-so-skidkoy {
	&:before,
    &:after {
    	background-image: url(../../images/mobile/sorting/discount.svg);
    }
}

#sort-links-modal {
	display: none;
	position: fixed;
	z-index: 1001;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);

	&.active {
		display: block;
	}

	.inner {
		background: #fff;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}

	.header {
		font-size: 16px;
		line-height: 34px;
		text-align: left;
		padding: 0 10px;

        a {
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            width: 14px;
            height: 14px;
            background: url(../../images/mobile/sorting/close.svg) no-repeat center center;
        }
	}
}

.sorting-nav-sm {
	background: #fff;
    padding: 20px 10px;
    margin: 0 -10px;
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 4px 10px rgba(95, 125, 149, 0.1);

	> div {
		width: calc(50% - 5px);
	}
}