.img-triggers {
	display: flex;
	justify-content: space-between;

	.item {
		width: 220px;
		text-align: center;

		&.item-warranty {
			width: 250px;
		}
	}

	.title {
		font-weight: bold;
	    margin: 0 0 10px 0;
	    font-size: 17px;
	    line-height: 19px;
	    color: #121212;
	}

	.desc {
		font-size: 15px;
    	line-height: 20px;
		color: #000;
	}

	.img {
		min-height: 165px;
	    vertical-align: middle;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
}

@media screen and (max-width: 740px) {
	.img-triggers {
		display: block;
		margin: 0 auto;
		max-width: 500px;

		.item {
			width: 100%;
			text-align: left;
			margin-bottom: 30px;
			display: flex;
    		align-items: center;

			&.item-warranty {
				width: 100%;
			}
		}

		> .item {
    		&:last-child {
    			margin-bottom: 0;
    		}
		}

		.title {
			text-align: left;
		}

		.desc {
			font-size: 16px;
			line-height: 19px;
		}

		.item-work {
			.desc {
				max-width: 250px;
			}
		}

		.item-warranty {
			.desc {
				max-width: 350px;
			}
		}

		.item-cashback {
			.desc {
				max-width: 250px;
			}
		}

		.img {
			min-width: 110px;
			min-height: 0;
			margin-right: 10px;
		    vertical-align: middle;
		    display: block;
		}
	}
}

@media screen and (max-width: 530px) {
	.img-triggers {
		.item {
			margin-bottom: 20px;
		}

		.img {
			min-width: 90px;
		}
	}
}