.image-manager {
  .img-item {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    position: relative;

    .remove-img {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 10;
    }

    input[type=radio] {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
    }
  }
}