.ui-menu {
    .ui-menu-item {
        margin: 0;
        padding: 5px 6px;
        list-style: none;
        line-height: 15px;
        word-wrap: break-word;
        -webkit-touch-callout: none;

        &.ui-state-focus {
            background-color: #3875d7;
            background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
            background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
            background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
            background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
            background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
            color: #fff;
            border: 0px;
        }
    }
}

.chosen-container-multi {
    .chosen-choices {
        padding: 2.5px 12px;
    }
}