.item-actions {
    display: inline-block;
    float: right;
}

div.Tokenize {
    width: 100%;
}

div.Tokenize ul.TokensContainer li.Token,
div.Tokenize ul.TokensContainer li.TokenSearch {
    line-height: 14px;
}