.invisible-checkbox {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

.color-checkbox > [type="checkbox"]:disabled + label {
    color: #aaa;
    cursor: not-allowed;
}

.loadmore {
    border: 0;
    outline: none;
}

.loadmore .disabled {
    text-align: center;
}

.loadmore.disabled {
    text-align: center;
}

.loadmore.disabled.bigBut.ico i {
     position: relative;
     font-size: 12px;
     float: none;
     top: 0;
 }

#filter-results {
    position: relative;
}

#filter-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.5;
}

.prodPrice .priceBlock.attribute-price {
    display: none;
}

.attribute-characteristics {
    display: none;
}

.form button[type="submit"] {
    display: block;
    border: none;
    min-width: 200px;
    margin: 0 auto;
}

.form {
    margin-bottom: 30px;
}

.qq-upload-list li {
    display: block;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 12px !important;
    margin: 10px 0;
}

.qq-upload-list li::after {
    display: block;
    content: ' ';
    clear: both;
}

.qq-upload-button {
    font-size: 12px;
    height: 35px;
    line-height: 35px !important;
    padding: 0 10px;
    text-transform: uppercase;
    width: 140px;
}

.form .form-group input,
.form.form-group textarea {
    border-radius: 0;
}

.bigBut.yellow {
    border: 0;
}

.basketCheck.has-error {
    color: #a94442;
}

.contact-map {
    margin-top: 15px;
}

#to-warranty-form {
    position: relative;
    top: -100px;
    height: 1px;
    width: 100%;
    display: block;
}

.form-group textarea {
    border-radius: 0;
}


@keyframes fadeInUp {
    from {
        opacity: 1;
        transform: none;
    }

    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}

.contact .contBut .one .but {
    min-width: 140px;
}

#sort-links .active {
    color: #00a9c2;
}

.reply-carousel .reply .replyTxt .collapse, .reply-carousel .reply .replyTxt .collapse [aria-expanded="false"] {
    margin-bottom: 0;
}

.btn-toggler[aria-expanded="true"] .less {
    display: inline;
}

.btn-toggler[aria-expanded="true"] .more {
    display: none;
}

.btn-toggler[aria-expanded="false"] .less {
    display: none;
}

.btn-toggler[aria-expanded="false"] .more {
    display: inline;
}

.breadcrumbs a {
    position: relative;;
}

.breadcrumbs .back .txt {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 10px 0 25px;
    box-sizing: border-box;
    text-align: left;
}

.specOffer .subtitle span,
.catProds .subtitle span,
.catProds .title span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.error-msg {
    display: none;
}

.has-error .error-msg {
    color: #a94442;
    display: block;
    font-size: 11px;
    margin-top: 5px;
}

.fastCat .dropdown-backdrop {
    display: none;
}

@media screen and (max-width:320px) {
    button.bigBut,
    button.bigBut.ico {font-size:11px; float:none;}
    button.bigBut.ico i {font-size: 20px; top: 10px;}
}

.dark #hide-offcanvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.basketForm textarea.form-control {
    outline: none;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: none;
    background: #fff;
    color: #000;
    font-weight: bold;
    padding-left: 30px;
    transition: all 0.3s ease;
    resize: none;
    padding-top: 10px;
}

.basketForm textarea:focus,
.basketForm textarea:active {
    outline: none;
    box-shadow: none;
    background: #f5fbfe;
    border-bottom: 1px solid #e6e6e6;
}

#time-reserve {
    background: #f2f2f2;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
}

#time-reserve .remain {
    color: #f05858;
}

.timer-reserve-block {
    margin-bottom: 20px;
}

.mm-panels>.mm-panel {
    padding: 0;
}

.mm-menu {
    background: #fff;
}

.mm-menu.mm-offcanvas {
    width: 90%;
}

html.mm-opening .mm-menu.mm-opened~.mm-slideout {
    -webkit-transform: translate(90%,0);
    -ms-transform: translate(90%,0);
    transform: translate(90%,0);
    -webkit-transform: translate3d(88%,0,0);
    transform: translate3d(90%,0,0);
}

#mm-blocker {
    background: rgba(0, 0, 0, 0.5);
}

.subscribe .input-group-btn {
    text-align: right;
}

.notify-content {
    background: #fff;
    position: relative;
    padding: 12px 15px;
}

#product-added-notify .title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
}

#product-added-notify .modal-dialog {
    top: 30%;
}

#product-added-notify .product-price {
    margin: 0 0 20px;
    text-align: center;
}

#product-added-notify .product-title {
    text-align: center;
    margin: 20px 0 0;
}

.article-content img {
    max-width: 100%;
    height: auto !important;
}

.specOffer .img {
    display: block;
    height: auto;
}

.specOffer .img img {
    position: relative;
    display: block;
    height: auto;
    max-width: 100%;
}

@media screen and (max-width: 415px) {
    .prodInfo ul.nav-tabs li {
        width: auto;
        margin: 0 0px 0 15px;
    }

    .prodInfo ul.nav-tabs li a {
        padding: 0 20px;
    }
}

.bigBut {
    margin-bottom: 15px;
}

.homeInfo .bigBut.marg {
    margin-top: 15px;
}

.comagic-sitephone-label {
    display: none!important;
}

.accept-lbl {
    color: #a2a2a2;
    font-size: 12px;
}

.custom-checkbox.accept-lbl > [type="checkbox"]:not(:checked) + label:before, 
.custom-checkbox.accept-lbl > [type="checkbox"]:checked + label:before {
    top: 10px;
}

.custom-checkbox.accept-lbl > [type="checkbox"]:not(:checked) + label:after, 
.custom-checkbox.accept-lbl > [type="checkbox"]:checked + label:after {
    top: 10px;
}

.custom-checkbox.has-error > [type="checkbox"]:checked:focus + label:before, 
.custom-checkbox.has-error > [type="checkbox"]:not(:checked):focus + label:before {
    border-color: #a94442;
}

.icon-categories {
    text-align: center;
    margin-bottom: 20px;
}

.icon-categories .col-xs-6 {
    margin-bottom: 20px;
}

.icon-categories a {
    color: #000;
    text-decoration: none;
}

.icon-categories a.active {
    color: #00a9c2;
    font-weight: bold;
}

.icon-categories .title {
    display: block;
    margin-top: 10px;
}

.form-control {
    font-size: 16px !important;
}

/*
.fotorama {
    min-height: 0;
}
*/

.menu-uppercase span,
.menu-uppercase a {
    text-transform: uppercase;
}

.mm-menu.mm-offcanvas {
    max-width: 290px;
}

html.mm-opening .mm-menu.mm-opened~.mm-slideout {
    -webkit-transform: translate(290px,0);
    -ms-transform: translate(290px,0);
    transform: translate(290px,0);
    -webkit-transform: translate3d(290px,0,0);
    transform: translate3d(290px,0,0);
}

.fotorama__arr {
    background-image: none !important;
}

.video {
    max-width: 100%;
    height: auto;
}

.info-box {
    background: #eee;
    margin: 0 0 15px;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    position: relative;
    padding: 0 15px;
}

.info-box i {
    margin-top: 3px;
    font-size: 32px;
    margin-bottom: 0;
    margin-right: 15px;
    float: left;
}

.info-box a {
    color: #000;
    text-decoration: underline;
    font-size: 14px;
    display: block;
    line-height: 20px;
}

#filter-total-text {
    position: relative;
    bottom: 0;
}

.comagic-с-sitephone-label {
    display: none !important;
}

.reply-carousel .replyName, .reply-carousel .date {
    height: auto;
}

.contact-button {
    display: block;
    text-align: center;
    position: absolute;
    top: calc(50% - 20px);
    width: 100%;
}

.contact-button span {
    display: inline-block;
    text-align: center;
    background: rgba(0,0,0,.7);
    font-weight: 700;
    padding: 12px 35px;
    color: #fff;
    text-transform: uppercase;
}

.offcanvas-search {
    padding: 0 15px 15px;
}

.youtube {
    background: #e14e42;
}

.menu-uppercase span, .menu-uppercase a {
    text-transform: none;
}

.menu-uppercase > li > span, .menu-uppercase > li > a {
    text-transform: uppercase;
}

.menu-uppercase .total-products {
    display: none;
    color: #000;
}

.menu-uppercase > li.active {
    background: #f1f1f1;
}

.menu-uppercase li li li .total-products {
    display: block;
    position: absolute;
    right: 14px;
    top: calc(50% - 12px);
    width: 37px;
    padding: 0;
    text-align: center;
    border: 1px solid #eee;
    font-size: 14px;
}

.catalog-menu ul li a, .catalog-menu ul li > span {
    height:auto;
}

.catalog-menu li.active > div > a,
.catalog-menu li.active > div > span {
    color: #00a9c2;
}

.menu-uppercase .link-holder {
    position: relative;
}

.menu-uppercase > li > ul > li > ul {
    border-left-color: #00a9c2;
    border-left-style: solid;
    border-left-width: 2px;
    padding-left: 0 !important;
    margin-left: 20px;
    background: #fff;
}

.catalog-menu {
    position: relative;
}

.catalog-menu ul li a, .catalog-menu ul li > span {
    padding: 10px 60px 10px 15px;
}

.catalog-menu ul li .toggle[aria-expanded="true"]:before, .catalog-menu ul li .toggle[aria-expanded="true"]:before {
    content: "\f077";
}

.catalog-menu ul li .toggle:before, .catalog-menu ul li .toggle:before {
    content: "\f078";
}

#drop-catalog-menu {
    display: none;
    width: 100%;
}

.managers .person {
    padding: 12px 16px;
    background: #f5f5f5;
    border: 1px solid #dfdfdf;
    width: 180px;
    margin: 0 auto 30px;
    box-sizing: border-box;
}

.managers .person-cont {
    display: inline-block;
    width: 50%;
    float: left;
}

.managers .name {
    display: block;
    margin: 18px 0 0;
    font-weight: bold;
}

.managers .post {
    display: block;
    color: #666;
}

.managers .subtitle {
    text-align: center;
    margin-bottom: 25px;
}

.prodInfo .tab-content .tab-pane table td .title {
    font-weight: normal; 
}

.prodInfo .tab-content .tab-pane table td {
    padding: 6px;
    font-size: 12px;
}

.prodInfo .tab-content {
    padding: 0px 22px 0 15px;
}

.prodInfo .tab-content .tab-pane {
    border-top: 0;
    padding-top: 0;
    background-color: #fff;
    border-radius: 8px;
    -moz-box-shadow: 3px 3px 6px rgba(0,0,0,.1);
    -webkit-box-shadow: 3px 3px 6px rgba(0,0,0,.1);
    box-shadow: 3px 3px 6px rgba(0,0,0,.1);
    margin-bottom: 30px; 
}

.header .call a {
    font-size: 0;
    text-decoration: none;
}

.header .call a.fa-phone:before {
    content: "\f095";
    font-size: 40px;
    line-height: 75px;
}

.catalog-menu > ul > li > a, 
.catalog-menu > ul > li > span,
.catalog-menu > ul > li > div > a, 
.catalog-menu > ul > li > div > span {
    text-transform: uppercase;
}

.menu-header {
    font-weight: bold;
    font-size: 16px;
    padding-left: 15px; 
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 20px;
}

.catalog-menu ul li a.sale {
    padding-left: 0;
    padding-right: 0;
}

.has-error .form-control {
    background: #ffe6e6;
}

.category-overlay-boxes,
.category-readmore-boxes {
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 400px;
}

.category-overlay-boxes .fa {
    background: #01a9c1;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    top: calc((100% - 32px) / 2);
    position: relative;
}

.category-readmore-boxes .carousel-control .fa {
    background: #01a9c1;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    top: calc((100% - 32px) / 2);
    position: relative;
}

.category-readmore-boxes .title .fa  {
    float: right;
    position: absolute;
    right: 10px;
    top: 5px;
}

.category-overlay-boxes .carousel-control,
.category-readmore-boxes .carousel-control {
    display: none;
    text-shadow: none;
    opacity: 1;
}

.category-overlay-boxes .carousel-control.left,
.category-readmore-boxes .carousel-control.left {
    background-image: none;
    filter: none;
}

.category-overlay-boxes img,
.category-readmore-boxes img {
    max-width: 100%;
    max-height: 80px;
}

.category-overlay-boxes .block-area,
.category-readmore-boxes .block-area  {
  padding: 17px 19px;
  position: relative;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  text-align: center;
}

.category-readmore-boxes .block-area {
  padding: 0;
}

.category-overlay-boxes .container,
.category-readmore-boxes .container {
  padding: 0 15px;
}

.category-overlay-boxes .title {
  position: absolute;
  top: calc((100% - 48px) / 2);
  background: rgba(0, 162, 185, 0.7);
  font-weight: bold;
  color: #fff;
  width: 135px;
  box-sizing: border-box;
  line-height: 16px;
  left: calc((100% - 135px) / 2 );
  text-align: center;
}

.category-readmore-boxes .title  {
    margin: 0;
}

.category-readmore-boxes .block-area > a {
    padding: 5px;
    display: block;
}

.category-readmore-boxes .title a {
    text-align: left;
    background: #fef420;
    font-size: 12px;
    font-weight: 700;
    transition: all .3s ease;
    text-decoration: none;
    display: inline-block;
    padding: 0 0 0 15px;
    height: 23px;
    line-height: 23px;
    color: #2b2b2b;
    padding: 0 10px;
    display: block;
    position: relative;
}

.category-overlay-boxes .title a {
    color: #fff;
    width: 135px;
    height: 48px;
    display: block;
    padding: 8px 0px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.short-tag {
    color: #999;
    font-size: 12px;
    margin: 10px 0 -5px 0;
}

@media screen and (max-width: 420px) {
    .managers .person-cont {
        width: 100%;
    }

    .managers .person {
        width: 200px;
        padding: 18px 24px;
    }
}

@media screen and (max-width: 680px) {
    .managers .person-cont:last-child {
        width: 100%;
    }
}

@media screen and (min-width: 680px) {
    .managers .person-cont {
        width: 33.33%;
    }

    .managers .person {
        width: 200px;
    }

    .category-overlay-boxes .carousel-control,
    .category-readmore-boxes .carousel-control {
        display: block;
    }
}

@media screen and (min-width: 1000px) {
    .managers .person-cont {
        width: 25%;
    }
    
    .managers .person-cont:last-child {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    #product-grid .row-2 {
        content: ' ';
        display: block;
        clear: both;
        width: 100%;
    }

    #product-grid .row-3 {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #product-grid .row-2 {
        display: none;
    }

    #product-grid .row-3 {
        content: ' ';
        display: block;
        clear: both;
        width: 100%;
    }
}

@media screen and (min-width: 580px) {
    .breadcrumbs .fastCat .dropdown-menu {
        width: calc(100% - 5px);
        left: 5px;
    }
}