@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontello.eot?10473663');
  src: url('../fonts/fontello.eot?10473663#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?10473663') format('woff2'),
       url('../fonts/fontello.woff?10473663') format('woff'),
       url('../fonts/fontello.ttf?10473663') format('truetype'),
       url('../fonts/fontello.svg?10473663#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?10473663#fontello') format('svg');
  }
}
*/

.fa {
  font: normal normal normal 14px/1 FontAwesome;
  speak: none;
  display: inline-block;
  font-variant: normal;
  text-transform: none;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.fa-attach:before { content: '\e807'; } /* '' */
.fa-check:before { content: '\e013'; } /* '' */
.fa-mail:before { content: '\e800'; } /* '' */
.fa-truck:before { content: '\e801'; } /* '' */
.fa-wrench:before { content: '\e802'; } /* '' */
.fa-star:before { content: '\e803'; } /* '' */
.fa-clock-o:before { content: '\e804'; } /* '' */
.fa-times-circle:before { content: '\e805'; } /* '' */
.fa-asterisk:before { content: '\e806'; } /* '' */
.fa-shopping-cart:before { content: '\e808'; } /* '' */
.fa-heart:before { content: '\e80b'; } /* '' */
.fa-heart-o:before { content: '\e80c'; } /* '' */
.fa-question-circle:before { content: '\e812'; } /* '' */
.fa-info-circled:before { content: '\e813'; } /* '' */
.fa-inbox:before { content: '\e814'; } /* '' */
.fa-map-marker:before { content: '\e815'; } /* '' */
.fa-plus-circle:before { content: '\e816'; } /* '' */
.fa-search:before { content: '\e817'; } /* '' */
.fa-star-1:before { content: '\f005'; } /* '' */
.fa-chevron-left:before { content: '\f053'; } /* '' */
.fa-chevron-right:before { content: '\f054'; } /* '' */
.fa-plus:before { content: '\f067'; } /* '' */
.fa-minus:before { content: '\f068'; } /* '' */
.fa-certificate:before { content: '\f069'; } /* '' */
.fa-up-open:before { content: '\f077'; } /* '' */
.fa-down-open:before { content: '\f078'; } /* '' */
.fa-phone:before { content: '\f095'; } /* '' */
.fa-twitter:before { content: '\f099'; } /* '' */
.fa-arrow-circle-right:before { content: '\f0a9'; } /* '' */
.fa-arrow-circle-up:before { content: '\f0aa'; } /* '' */
.fa-arrow-circle-down:before { content: '\f0ab'; } /* '' */
.fa-filter:before { content: '\f0b0'; } /* '' */
.fa-bars:before { content: '\f0c9'; } /* '' */
.fa-envelope:before { content: '\f0e0'; } /* '' */
.fa-angle-left:before { content: '\f104'; } /* '' */
.fa-angle-right:before { content: '\f105'; } /* '' */
.fa-angle-up:before { content: '\f106'; } /* '' */
.fa-angle-down:before { content: '\f107'; } /* '' */
.fa-smile-o:before { content: '\f118'; } /* '' */
.fa-frown-o:before { content: '\f119'; } /* '' */
.fa-location-arrow:before { content: '\f124'; } /* '' */
.fa-shield:before { content: '\f132'; } /* '' */
.fa-file-text:before { content: '\f15c'; } /* '' */
.fa-youtube:before { content: '\f167'; } /* '' */
.fa-vk:before { content: '\f189'; } /* '' */
.fa-child:before { content: '\f1ae'; } /* '' */
.fa-instagram:before { content: '\f31e'; } /* '' */