
.icon-check:before { content: '\e013'; } /* '' */
.icon-mail:before { content: '\e800'; } /* '' */
.icon-truck:before { content: '\e801'; } /* '' */
.icon-wrench:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-clock-o:before { content: '\e804'; } /* '' */
.icon-times-circle:before { content: '\e805'; } /* '' */
.icon-asterisk:before { content: '\e806'; } /* '' */
.icon-shopping-cart:before { content: '\e808'; } /* '' */
.icon-heart:before { content: '\e80b'; } /* '' */
.icon-heart-o:before { content: '\e80c'; } /* '' */
.icon-question-circle:before { content: '\e812'; } /* '' */
.icon-info-circled:before { content: '\e813'; } /* '' */
.icon-inbox:before { content: '\e814'; } /* '' */
.icon-map-marker:before { content: '\e815'; } /* '' */
.icon-plus-circle:before { content: '\e816'; } /* '' */
.icon-search:before { content: '\e817'; } /* '' */
.icon-star-1:before { content: '\f005'; } /* '' */
.icon-chevron-left:before { content: '\f053'; } /* '' */
.icon-chevron-right:before { content: '\f054'; } /* '' */
.icon-plus:before { content: '\f067'; } /* '' */
.icon-minus:before { content: '\f068'; } /* '' */
.icon-certificate:before { content: '\f069'; } /* '' */
.icon-up-open:before { content: '\f077'; } /* '' */
.icon-down-open:before { content: '\f078'; } /* '' */
.icon-phone:before { content: '\f095'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-arrow-circle-right:before { content: '\f0a9'; } /* '' */
.icon-arrow-circle-up:before { content: '\f0aa'; } /* '' */
.icon-arrow-circle-down:before { content: '\f0ab'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-bars:before { content: '\f0c9'; } /* '' */
.icon-envelope:before { content: '\f0e0'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-smile-o:before { content: '\f118'; } /* '' */
.icon-frown-o:before { content: '\f119'; } /* '' */
.icon-location-arrow:before { content: '\f124'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-file-text:before { content: '\f15c'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-vk:before { content: '\f189'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */