@charset "UTF-8";

@font-face {
  font-family: "fontcustom";
  font-display: swap;
  src:url("../fonts/fontcustom.eot");
  src:url("../fonts/fontcustom.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fontcustom.woff") format("woff"),
    url("../fonts/fontcustom.ttf") format("truetype"),
    url("../fonts/fontcustom.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fontcustom" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontcustom" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ruble:before {
  content: "\61";
}
.icon-car:before {
  content: "\62";
}
.icon-delivery:before {
  content: "\63";
}
.icon-filter:before {
  content: "\64";
}
.icon-filter-1:before {
  content: "\65";
}
.icon-filter-2:before {
  content: "\66";
}
.icon-guy:before {
  content: "\67";
}
.icon-location:before {
  content: "\68";
}
.icon-path:before {
  content: "\69";
}
.icon-question:before {
  content: "\6a";
}
.icon-tools:before {
  content: "\6b";
}
.icon-furniture:before {
  content: "\6c";
}
.icon-quality:before {
  content: "\6d";
}
.icon-sale:before {
  content: "\6e";
}
.icon-heart:before {
  content: "\70";
}
.icon-basket:before {
  content: "\6f";
}
