/*Product image*/
.prodImage {}
.prodImage .carousel-inner {padding-bottom: 5px;}
.prodImage .wrap {
	padding:10px 15px;
	padding-top: 0px;
}
.prodImage .img {width: 100%;}
.prodImage .img {text-align:center;}
.prodImage .img img {display:inline-block;}
.prodImage .carousel-control .left, 
.prodImage .carousel-control .right {
	position: relative;
    top: 32.3%;
}
.prodImage .tag,
.prodImage .saleTag,
.ramaCont .tag,
.ramaCont .saleTag {
    position: absolute;
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
	z-index:2;
}
.prodImage .tag,
.ramaCont .tag {
	background: #ff2a2a;
	top: 10px;
    left: 15px;
}
.prodImage .saleTag,
.ramaCont .saleTag {
	background: #01a9c1;
	top: 10px;
    right: 15px;
}

/*.prodImage .carousel-indicators {
    position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    left: 0;
	padding: 0px 13px;
    margin-left: 0px;
	bottom:2px;
}*/

/*Card product image gallery*/
.ramaCont {
	position:relative;
	display: flex;
    align-items: center;
    justify-content: center;
	padding: 0px 15px;
	margin-bottom:15px;
}
.fotorama__arr--prev,
.fotorama__arr--next {
	background-color:#01a9c1 !important;
	opacity:1 !important;
}
.fotorama__arr--prev {left:0px !important;}
.fotorama__arr--next {right:0px !important;}
.fotorama__arr--prev:before,
.fotorama__arr--next:before {
	position:relative;
	display:flex;
	align-items:center;
	justify-content:center;
	font-family: FontAwesome;
	font-size:20px;
	color:#fff;
	width:32px;
	height:32px;
	left:0;
	top:0;
}
.fotorama__arr--prev:before {content:"\f053"; padding-right:3px;}
.fotorama__arr--next:before {content:"\f054"; padding-left:3px;}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus),
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus) {transform: translate3d(0px,0,0) !important;}


.prodImage .carousel-indicators {
	position: relative;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    width: 90.5%;
    left: 15px;
    margin-left: 0px;
    bottom: 2px;
    background: red;
    overflow: hidden;
}
.prodImage .carousel-indicators li {
	border: none;
	width:74px;
	min-width:74px;
	height: inherit;
	margin:0px;
	border-radius:0px;
}
.prodImage .carousel-indicators .active {
    /*width: 12px;
    height: 12px;*/
    margin: 0;
    background-color: #00a9c2;
}
.prodImage .carousel-indicators li .thumbnail {
	padding:0px;
	margin-bottom:0px;
	border-radius:0px;
	border:2px solid #fff;
}
.prodImage .carousel-indicators .active .thumbnail {
	border:2px solid #00a9c2;
}

/*product price block*/
.prodPrice {
	background: #f8f8f8;
	padding: 20px 15px;
	margin-bottom: 15px;
	text-align:center;
}
.prodPrice.noMarg {margin-bottom:0px;}
.prodPrice.bord {border-bottom: 1px solid #e6e6e6;}
.prodPrice .price {
	width: 100%;
	font-weight: bold;
	font-size: 36px;	
}
.prodPrice .price-act,
.prodPrice .priceBlock,
.prodPrice .price-small,
.prodPrice .price-meter {
	display:inline-block;
	width:100%;
	float:left;
}
.prodPrice .priceBlock {
	display:flex;
	align-items:center;
	justify-content:center;
	height:35px;
	line-height:35px;
	margin-bottom:10px; 
}
.prodPrice .price-old {font-size:18px;}
.prodPrice .price-sale {font-size:25px;}
.prodPrice .price-old,
.prodPrice .price-old * {text-decoration:line-through;}
.prodPrice .price-sale {
	color: #ff2a2a;
	margin-left:10px;
}
.prodPrice .price-small {
	font-size:20px;
	font-weight: bold;
    margin-bottom: 10px;
}
.prodPrice .price-meter {font-size:14px;}
.prodPrice .price-meter .blue {
	color:#00a9c2;
	margin-left:5px;
}
.prodPrice .price-act {font-size:25px;}

/*product size block*/
.sizePrice {padding-bottom:20px;}
.sizePrice .title,
.prodColor .title,
.cardModule .title {
	width:100%;
	font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
	padding: 0px 10px 18px 10px;
}
.sizePrice span.selectpicker {display:none;}
.sizePrice .bootstrap-select {
	width:100% !important;
}
.sizePrice .bootstrap-select .btn {
	height:40px;
	line-height:40px;
	border:none;
	border-radius:0px;
	font-size: 15px;
    font-weight: bold;
	background:#f8f8f8;
	padding: 0px 15px;
}
.sizePrice .bootstrap-select .btn:focus {outline:none !important;}
.bootstrap-select.btn-group .dropdown-toggle .caret {right:20px;}
.sizePrice .bootstrap-select .btn[aria-expanded="true"],
.sizePrice .bootstrap-select .dropdown-menu li.selected a {
	color:#fff;
	outline:none;
}
.sizePrice .bootstrap-select .btn[aria-expanded="true"] {background:#008ca1;}
.sizePrice .bootstrap-select .dropdown-menu li.selected a {background:#11c1db;}
.sizePrice .bootstrap-select .dropdown-menu {
	border:none;
	border-radius:0px;
	padding:0px;
	margin:0px;
}
.sizePrice .bootstrap-select .dropdown-menu li a {
	height:40px;
	line-height:40px;
	font-size: 15px;
    font-weight: bold;
	padding:0px 15px;
}
.sizePrice .bootstrap-select.show-tick .dropdown-menu li.selected a span.check-mark {
    right: 20px;
    margin-top: 10px;
}

.cardBuyBut,
.prodColor,
.prodInfo,
.cardModule {margin-bottom:20px;}

.cardBuyBut2 {
	padding-bottom:15px;
	border-bottom: 1px solid #e6e6e6;
}
.cardBuyBut2 .container {
	display: flex;
    justify-content: center;
}
.cardBuyBut2 a {
	text-decoration:none;
	max-width: 290px;
	margin-bottom:0px;
}

/*product color block*/
.prodColor {
	padding: 0px 15px;
	border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.prodColor .btn {
	width:40px;
	height:40px;
	border:none;
	border-radius:50%;
	overflow:hidden;
	padding:0px;
	margin:0px 10px 10px 10px;
}
.prodColor .btn:focus,
.prodColor .btn:active {
	outline:none; 
	box-shadow:none;
	background:#fff;
}
.prodColor .btn.active {box-shadow: 0 0 0 3px #11c1db;}
.prodColor .btn img {
	width:40px;
	height:40px;
}

/*product info block*/
.prodInfo .table-responsive,
.prodInfo ul.nav-tabs,
.prodInfo ul.nav-tabs li a,
.prodInfo ul.nav-tabs li.active a,
.prodInfo .tab-content .tab-pane table td {
	border:none;
	border-radius:0px;
}
.prodInfo ul.nav-tabs li a {
	color:#000;
	font-size:13px;
	font-weight:bold;
	font-stretch: condensed;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    height: 50px;
	background: #ededed;
	padding:0px 20px;
}
.prodInfo ul.nav-tabs li.active a {
    background: #f9f9f9;
}
.prodInfo .tab-content .tab-pane table {margin-bottom:0px;}
.prodInfo .tab-content .tab-pane table td {
	padding:15px;
	font-size:12px;
}
.prodInfo .tab-content .tab-pane table td .title {font-weight:bold;}
.prodInfo .tab-content .tab-pane table td p {margin:0px;}
.prodInfo .tab-content .tab-pane table td a {color:#000; text-decoration:underline;}

/*product service block*/
.prodService {
	border-bottom: 1px solid #e6e6e6;
	padding-bottom:20px;
	margin-bottom: 15px;
}
.prodService .row {
    margin-right: 0px;
    margin-left: 0px;
}
.prodService .wrap1 {padding-right:5px;}
.prodService .wrap2 {padding-left:5px;}
.prodService .wrapMarg {margin-top:10px;}
.prodService .inner {
	color:#000;
	text-decoration:none;
}
.prodService .inner .title {
    display: flex;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.prodService .inner .title .icon {
	height: 40px;
    font-size: 35px;
    line-height: 50px;
    margin-right: 5px;
    float: left;
}

.extraGoods {
	padding-top:5px;
	margin-bottom:15px;
}
.extraGoods2 {margin-bottom:50px;}
.extraGoods2 .product .img img {width:100%;}

/*card module*/
.cardModule .subTitle {
	width:100%;
	font-size: 14px;
	color: #a2a2a2;
    font-weight: bold;
	text-transform:uppercase;
    text-align: center;
	padding: 0px 10px 20px 10px;
}
.cardModule .module {
	border:2px solid #fff;
	border-radius:0px;
	overflow:hidden;
}
.cardModule .module.active {border:2px solid #00a9c2;}
.cardModule .module img {}
.cardModule .container {height:100%;}
.cardModule .collapse,
.cardModule .collapse [aria-expanded="false"] {
	height:0px;
    display: block;
	margin-bottom: 10px;
    overflow: hidden;
	transition:all 0.3s ease;
}
.cardModule .collapse.in {height:100% !important;}
.cardModule .moduleMore {
	width:100%; 
	text-align:center;
}
.cardModule .moduleMore:focus,
.cardModule .moduleMore:active {box-shadow:none;} 
.cardModule .moduleMore span {
	text-transform:uppercase;
	font-weight:bold;
	font-size: 14px;
	color:#00a9c2;
	border-bottom: 2px solid #00a9c2; 
	cursor: pointer;
}
.cardModule .moduleMore[aria-expanded="false"] .less,
.cardModule .moduleMore[aria-expanded="true"] .more {display:none;}
.cardModule .moduleMore[aria-expanded="true"] .less,
.cardModule .moduleMore[aria-expanded="false"] .more, {display:block;}
.cardModule .txt {
	padding:0px 2px;
	font-weight:bold;
	margin-top: 15px;
}
.cardModule .br {display:none;}
.cardSpecOffer {margin-bottom:15px !important;}

.notify {
	position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1040;
    width: 350px;
}
.notify {
    position: fixed;
    width: 94%;
    right: 0;
    margin: 0 auto;
    padding: 15px;
    background: #444;
    top: 10px;
    left: 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}





