/*.homeCategories {margin-bottom: 50px;}
.homeCategories a,
.homeCategories button {
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #00a9c2;
	font-size:15px;
	font-weight: bold;
	text-decoration: none;
	text-align:left;
	border-top: 1px solid #e6e6e6;
	padding: 0px 20px;
}
.homeCategories button.last {
    height: 41px;
    background: #fff;
    border-right: none;
    border-left: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.homeCategories a:hover,
.homeCategories a:focus,
.homeCategories a:active,
.homeCategories button:hover,
.homeCategories button:focus,
.homeCategories button:active {
	background: #00a9c2;
	color: #fff;
	outline: none;
}
.homeCategories a .ico,
.homeCategories button .ico {
	width: 39px;
	height: 39px;
	background: url(../img/homeCategories.svg) no-repeat;
	margin-right: 20px;
	float: left;
}
.homeCategories a .ico2 {background-position-y: 20%;}
.homeCategories a .ico3 {background-position-y: 40%;}
.homeCategories a .ico4 {background-position-y: 60%;}
.homeCategories a .ico5 {background-position-y: 80%;}
.homeCategories a .ico6 {background-position-y: 99%;}
.homeCategories a:hover .ico,
.homeCategories a:focus .ico,
.homeCategories a:active .ico {background-position-x:100%;}
.homeCategories a i {
	position: absolute;
	right: 20px;
    top: 10px;
    font-size: 20px;
}
.homeCategories button.last .ico {
	background: none;
    text-align: center;
}*/

.homeCategories {margin-bottom:20px;}
.homeCategories.bigMarg {margin-bottom:50px;}
.homeCategories .inner {
	max-width: 768px;
    margin-left: auto;
    margin-right: auto;
	float:none;
}
.homeCategories .cat {padding: 15px 0px 0px 0px;}
.homeCategories .cat.padLeft {padding-right:7px;}
.homeCategories .cat.padRight {padding-left:7px;}
.homeCategories .cat4,
.homeCategories .cat5 {padding-bottom:0px;}
.homeCategories .cat .catA {
	position: relative;
    display: inline-block;
    width: 100%;
    /*height: 135px;*/
	height: 130px;
    background: #000;
    overflow: hidden;
	float: left;
}
.homeCategories .cat .catA .img {
	display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.homeCategories.fullSet .cat .catA .img {justify-content:center;}
.homeCategories .cat .catA .img:before {
	position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    /*background: rgba(255, 255, 255, 0.5);*/
	background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.homeCategories .cat .catA img {
	display: block;
    width: 100%;
}
.homeCategories .cat .catA .txtBlock {
	position: absolute;
    bottom: 0px;
    z-index: 2;	
}
.homeCategories .cat .catA .txtBlock .title,
.homeCategories .cat .catA .txtBlock .subtitle {
    color: #fff;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}
.homeCategories .cat .catA .txtBlock .title {
	font-weight: bold;
    font-size: 20px;
}
.homeCategories .cat .catA .txtBlock .subtitle {font-size: 12px;}
.homeCategories .cat .catA .txtArrow {
	position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2;
}
.homeCategories .cat .catA .txtArrow i {
	font-size: 25px;
    color: #fef420;
    transition: all 0.3s ease;
}















