.service {margin-bottom: 50px;}
.service .wrap {border-bottom: 1px solid #e6e6e6;}
.service .wrap:last-child {border-bottom:none;}
.service .wrap:first-child a {padding-top:0px;} 
.service .wrap:last-child a {padding-bottom:0px;}
.service .inner {
	display:flex;
	max-width: 400px;
	align-items:center;
	justify-content: center;
	text-decoration:none;
	color:#000;
	padding:20px 15px;
	margin: 0 auto;
	float:none;
}
.service .inner .icon {
    min-width: 40px;
    font-size: 40px;
    display: inherit;
    margin: 0px 7%;
}
.service .inner .txt .title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.service .inner .txt .desc {font-size:15px;}