.infoPage.bord {
	border-bottom: 1px solid #e6e6e6;
	margin-bottom:25px;
}
.infoPage.smMarg {margin-bottom:15px;}
.infoPage.lowMarg {margin-bottom:10px;}
.infoPage .bannerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 150px;
    background-color: #f5f5f5;
    text-align: center;
	margin-bottom:15px;
	overflow:hidden;
}
.infoPage .bannerTitle img {
	position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 0.3;
}
.infoPage .bannerTitle.shift img {
	opacity: 0.5;
}
.infoPage .bannerTitle .bigTxt,
.infoPage .bannerTitle .txt {
	position:relative;
	display:inline-block;
	width:100%;
	font-weight:bold;
	z-index:1;
}
.infoPage .bannerTitle .bigTxt {
    font-size: 16px;
    font-weight: 700;
	text-transform:uppercase;
    padding: 6px 10px;
}
.infoPage .bannerTitle .txt {
    margin-top: 5px;
    font-size: 15px;
}

.infoPage .servBlock {margin-bottom:15px;}
.infoPage .servBlock.noMarg {margin-bottom:0px;}
.infoPage .servBlock.over {overflow:hidden;}
.infoPage .servBlock.bord {border: 1px solid #e6e6e6;}
.infoPage .servBlock .inner {
	display:flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
	text-align:center;
	padding:15px;
	border-bottom: 1px solid #e6e6e6;
}
.infoPage .servBlock .inner.noBord {border-bottom:none;}
.infoPage .servBlock .inner span {
	display:inline-block;
	width:100%;
	font-size:12px;
}
.infoPage .servBlock .inner.title,
.infoPage .servBlock .inner.title span {
	background:#f4f5f5;
	font-size:14px;
}
.infoPage .servBlock .inner span.marg {margin-bottom:15px;}
.infoPage .servBlock .inner .price,
.infoPage .servBlock .inner .bigPrice {font-weight:bold;}
.infoPage .servBlock .inner .price {font-size:14px;}
.infoPage .servBlock .inner .bigPrice {font-size:18px;}
.infoPage .servBlock .inner .price i,
.infoPage .servBlock .inner .bigPrice i {margin-left:5px;}
.infoPage .servBlock .inner .price i {font-size:12px;}
.infoPage .servBlock ul {color:#00a9c2;}
.infoPage .servBlock ul,
.infoPage .servBlock ol {padding-left: 17px;}
.infoPage .servBlock ul li {font-size: 18px;}
.infoPage .servBlock ul li p {
	font-size:14px; 
	color:#000;
	margin-bottom: 15px;
}
.infoPage .servBlock p.align {text-align:center;}
.infoPage .servBlock .form-group input,
.infoPage .servBlock .form-group textarea {border-radius:0px;}
.infoPage .servBlock .form-group input[type="file"]::-webkit-file-upload-button {
	height:40px;
	line-height:40px;
	font-size:12px;
	background: #eee;
	padding: 0px 15px;
	text-transform:uppercase;
	border:none;
}
.infoPage .servBlock button[type="submit"] {
    display: block;
    border: none;
    /*max-width: 300px;*/
    min-width: 200px;
    margin: 0 auto;
}

/*Rating*/
.servBlock .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.servBlock .rating input {
    position: absolute;
    left: -999999px;
}

.servBlock .rating label {
    display: inline-block;
    font-size: 0;
	margin: 0px 5px;
}

.servBlock .rating > label:before {
    position: relative;
    font: 30px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.servBlock .rating > label:hover:before,
.servBlock .rating > label:hover ~ label:before,
.servBlock .rating > label.selected:before,
.servBlock .rating > label.selected ~ label:before {
    color: #faf157;
    background: #faf157;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.infoPage .servBlock table td {word-break: break-word;}
.infoPage .servBlock .table-responsive {margin-bottom:0px;}






















