.categoryFilter {
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 5px;
}
.categoryFilter .wrap {
    max-width: 300px;
    min-width: 200px;
    margin: 0 auto;
}

.categoryFilter .section1 {display:none;}
/*
.categoryFilter .section1 a {
	color: #000;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
	text-decoration:none;
	text-align:center;
    line-height: 40px;
    height: 60px;
}
.categoryFilter .section1 a span {
	display:inline-block;
	width:100%;
	height:30px;
	line-height:30px;
	float:left;
}

.categoryFilter .section1 a:hover,
.categoryFilter .section1 a:focus,
.categoryFilter .section1 a:active,
.categoryFilter .section1 a.active {color:#00a9c2;}
.categoryFilter .section1 a .txt {font-stretch: condensed;}
.categoryFilter .section1 a .icon {
    position: relative;
    font-size: 16px;
    margin-right: 5px;
    top: 3px;
}
.categoryFilter .section1 a .icon-guy {margin-right:0px;}
*/

.categoryFilter .section2 {
	text-align: center;
	/*margin-top:20px;*/
}
.categoryFilter .section2.sec2_1,
.categoryFilter .section2.sec2_2 {margin-bottom:10px;}
.categoryFilter .section2.sec2_1 {padding-right:5px;}
.categoryFilter .section2.sec2_2 {padding-left:5px;}
.categoryFilter .section2.sec2_2_2 {padding-left:0px;}
.categoryFilter .section2 a {
 	background-color: #fff94d;
    color: #000;
    margin-bottom: 0px;
    text-decoration: none;

}
.categoryFilter .section2 a:focus,
.categoryFilter .section2 a:active {
	outline:none;
}
.categoryFilter .section2 a .icon,
.categoryFilter .section2.sec2_1 a i {
	font-size: 20px;
    position: relative;
    margin-right: 5px;
}
.categoryFilter .section2 a .icon:before {
	position:relative;
	top:3px;
}
.categoryFilter .section2.sec2_1 a i:before {
	position:relative;
	top:2px;
}
.categoryFilter .section2 a .txt {
	position: relative;
    height: 40px;
    line-height: 40px;
	font-size:12px;
    text-transform: none;
    top: -2px;
}
.categoryFilter .section2.sec2_1 .txt {top:0px;}
.categoryFilter .section2.sec2_1 .dropdown-menu {
	top: 50px;
	left: -1px;
    width: 201%;
    float: none;
    max-width: none;
    border-radius: 0px;
    padding: 0px;
}
.categoryFilter .section2.sec2_1 .dropdown-menu a {
	position:relative;
	width:100%;
	background:#fff;
	padding:3px 15px;
	font-weight:bold;
}
.categoryFilter .section2.sec2_1 .dropdown-menu a:before {
	position:absolute;
	content:"";
	width:100%;
	height:1px;
	background:#e6e6e6;
	bottom:0px;
	left:0px;
}
.categoryFilter .section2.sec2_1 .dropdown-menu li:last-child a:before {background: rgba(0,0,0,0);}
.categoryFilter .section2.sec2_1 .dropdown-menu a:hover,
.categoryFilter .section2.sec2_1 .dropdown-menu a:focus,
.categoryFilter .section2.sec2_1 .dropdown-menu a:active {background:#fff94d;}
.categoryFilter .section2.sec2_1 .dropdown-menu a:hover:before,
.categoryFilter .section2.sec2_1 .dropdown-menu a:focus:before,
.categoryFilter .section2.sec2_1 .dropdown-menu a:active:before,
.categoryFilter .section2.sec2_1 .dropdown-menu li:last-child a:hover:before,
.categoryFilter .section2.sec2_1 .dropdown-menu li:last-child a:focus:before,
.categoryFilter .section2.sec2_1 .dropdown-menu li:last-child a:active:before {
	top:-1px;
	background: #fff94d;
}
.categoryFilter .section2.sec2_1 .dropdown-menu li:first-child a:hover:before,
.categoryFilter .section2.sec2_1 .dropdown-menu li:first-child a:focus:before,
.categoryFilter .section2.sec2_1 .dropdown-menu li:first-child a:active:before {background:#e6e6e6;}
.categoryFilter .section2.sec2_1 .dropdown-menu a .icon {margin-right:10px;}

.categoryFilter .section2.sec2_2_2 a .txt {
	text-transform:uppercase;
	top:0px;
}



.categoryFilter .total-products {
	padding:25px 0px;
	color: #d4d4d4;
	font-size: 14px;
	text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}




