@media screen and (max-width:1024px) {
	.infoPage .bannerTitle img {
		/*max-height:100%;*/
		max-width:none;
		/*width:initial;*/
		left:0;
		right:0;
		margin:0 auto;
	}
	.notify {max-width: 390px;}
}

@media screen and (max-width:798px) {
	.homeCategories .cat {padding: 15px 15px 0px 15px;}
	.homeCategories .cat.padLeft {padding-right:7px;}
	.homeCategories .cat.padRight {padding-left:7px;}
}
@media screen and (max-width:767px) {
	.banner .inner {padding: 20% 0px;}
	.specOffer .product:nth-child(2n+1) {border-right:1px solid #e6e6e6;}
	.buyList .item .ttl1 {padding-left: 0px;}
	.buyList .item.bord {margin-bottom:10px;}
	.news.last {
		padding-bottom:0px;
		border-bottom:none;
	}
	.news.noBordnoMarg2 {
		padding-bottom: 30px;
    	border-bottom: 1px solid #e6e6e6;
	}
}
@media screen and (max-width:590px) {
	.homeCategories.fullSet .cat .catA img {height:auto}
	.categoryFilter .wrap {
		max-width:none;
		padding:0px 10px;
	}
}
@media screen and (max-width:540px) {
	.homeInfo.hItxt .blogImg {
		float: none;
		margin-right: 0px;
		padding-bottom: 10px;
		margin: 0 auto;
	}
}
@media screen and (max-width:415px) {
	.prodInfo ul.nav-tabs li {width:100%;}
	.prodInfo ul.nav-tabs li a {
		margin:0px; 
		font-size:12px;
	}
	.notify {max-width: none;}
}
@media screen and (max-width:399px) {
	.homeCategories .cat .catA .txtBlock .title {font-size: 16px;}
	.prodImage .img {height:auto;}
	.prodImage .img img {width:100%;}
	.prodInfo ul.nav-tabs li a {
		line-height: 40px;
    	height: 40px;
		font-size:10px; 
		font-stretch:normal;
		padding:0px 10px;
	}
	.content-title .br,
	.cardModule .br {display:inline;}
	.content-title .space,
	.cardModule .space {display:none;}
}
@media screen and (max-width:380px) {
	.reply-carousel .date {display:none;}
	.reply-carousel .replyName,
	.reply-carousel .rate {width:50%;}
	.reply-carousel .replyName {text-align:left; font-weight:14px;}
	.reply-carousel .rate {text-align:right;}
}
@media screen and (max-width:349px) {
	.pagi .pagination {display:none;}
	.pagi .pagiXS {
		display: block;
		width: 100%;
	}
	.service .inner .txt .title .full {width:100%;}
}
@media screen and (max-width:330px) {
	#allFilters .modal-body .block {font-size:4vw;}	
	.mixSubSearch .form-control::-webkit-input-placeholder {font-size:12px;}
	.mixSubSearch .form-control:-moz-placeholder {font-size:12px;}
	.mixSubSearch .form-control::-moz-placeholder {font-size:12px;}
	.mixSubSearch .form-control:-ms-input-placeholder {font-size:12px;}
	.infoPage .bannerTitle img {
		max-height: none;
		max-width:100%;
		width:100%;
		left:0;
		right:0;
		margin:0 auto;
	}
}
@media screen and (max-width:320px) {
	.specOffer .product,
	.homeInfo .wrap {text-align:center;}
	.reply-carousel .replyLink {width:100%;}
	.reply-carousel .replyLink,
	a.bigBut,
	a.bigBut.ico {font-size:11px; float:none;}
	.categoryFilter .total-products,
	.pagi .total-products {font-size:11px;}
	.reply-carousel .replyLink i,
	a.bigBut.ico i {font-size: 20px; top: 10px;}
	.prodService .inner .txt .desc {font-size:12px;}
}
@media screen and (max-width:313px) {
	.footMenu ul li a.long {
		line-height: 16px;
		padding-top: 12px;
		height: 55px;
	}
	
	
}
@media screen and (max-width:310px) {
	.homeCategories .cat .catA .img {justify-content:center;}
	.homeCategories .cat .catA img {
		height: 100%;
    	width: initial;
	}
}
@media screen and (max-width:295px) {
	.service .inner .icon,
	.prodService .inner .icon {
		width: 55px;
		margin: 0px 5%;
	}
}
@media screen and (max-width:286px) {
	.breadcrumbs h1 {
		font-size: 14px;
		width: 83%;
}
}




