.header .call,
.header .logo {
	height: 75px;
	line-height: 75px;
}
.header {text-align: center;}
.header .logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.header .logo a {margin: 0 auto;}
.header .logo a img {height:42px;}
.header .call a {
	top: 0px;
	width: 50px;
    height: 75px;
    font-size: 40px;
    color: #2b2b2b;
}



.header .cart a {
    width: 50px;
    height: 31px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.header .cart a:hover,
.header .cart a:focus,
.header .cart a:active {
	text-decoration:none;
	outline:none;
} 
/*.header .cart a span.icon*/
.header .cart a i {
    position: relative;
    z-index: 5;
    border-radius: 100%;
    font-size: 20px;
}
.header .cart a.favor i {color: #1ba9bf;}
.header .cart a.basket i {
	color:#2b2b2b;
	font-size: 21px;
}
.header .cart a .num {
	position: absolute;
    width: 20px;
    height: 20px;
    line-height: 19px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #2b2b2b;
    top: 6px;
	right: 22px;
}
.header .cart a.empty {opacity:0.3;}
.header .cart .inner {
	display: flex;
    padding-top: 19px;
	padding-right: 15px;
}




.headMenu {
	height: 40px;
	line-height: 40px;
	background: #00a9c2;
	text-align: center;
}
.headMenu a,
.headMenu button {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}
.headMenu button i,
.headMenu a i {margin-right: 10px;}
.headMenu button.l-Col {border-right: 1px solid #11c1db;}
.headMenu a.r-Col {border-left: 1px solid #008ca1;}
