.buyList .item.bord {
	margin-bottom:15px;
	border-bottom: 1px solid #e6e6e6;
}

.buyList .item .img,
.buyList .item .ttl,
.buyList .item .sum,
.buyList .item .ttl .subTtl-group {margin-bottom:15px;}
.buyList .item .img {
    display: flex;
    align-items: center;
    justify-content: center;
	padding-top: 5px;
}
.buyList .item .ttl,
.buyList .item .ttl1 {padding-left: 15px;}
.buyList .item .ttl a {
	font-weight: bold;
    font-size: 14px;
	text-decoration:none;
	color:#000;
	margin-bottom:5px;
}
.buyList .item .ttl a:hover,
.buyList .item .ttl a:active,
.buyList .item .ttl a:focus {color:#ccc;}
.buyList .item .ttl .subTtl {
	font-size: 14px;
    color: #a2a2a2;
}

.number-spinner {
	width: 115px;
	margin: 0 auto;
	margin-bottom:15px;
	float:left !important;
}
.number-spinner * {border:none;}
.number-spinner .text-center,
.number-spinner button[data-dir="dwn"],
.number-spinner button[data-dir="up"] {
	height:35px; 
	line-height:35px; 
	padding:0px;
	border-radius:0px;
}
.number-spinner .text-center {
	font-weight: bold;
    font-size: 18px;
	color:#000;
	background:#f5f5f5;
}
.number-spinner button[data-dir="dwn"],
.number-spinner button[data-dir="up"] {
	color:#fff;
	width:35px;
}
.number-spinner button[data-dir="dwn"] {background: #bdbdbd;}
.number-spinner button[data-dir="up"] {background: #00a9c2;}
.number-spinner button[data-dir="dwn"]:focus,
.number-spinner button[data-dir="up"]:focus {outline:none;}
.number-spinner input {top:5px;}
.buyList .item .sum {
	height: 45px;
    line-height: 45px;
}
.buyList .item .sum .price {
	font-size: 20px;
	font-weight:bold;
	float:left;
}
.buyList .item .sum .cartDelete {
	position: relative;
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    border: none;
    float: right;
    top: 2px;
}
.buyList .item .sum .cartDelete:focus,
.buyList .item .sum .cartDelete:active {
	outline:none;
	background:none;
	box-shadow:none;
}
.buyList .item .sum .cartDelete i {
	font-size:30px;
	color: #bdbdbd;
}
.buyList .item .sum .cartDelete:focus i,
.buyList .item .sum .cartDelete:active i {color:#00a9c2;}

.basketForm1 {margin-bottom:15px;}
.basketForm input {
	height: 40px;
    line-height: 40px;
    border-radius: 0px;
    border: none;
	border-bottom: 1px solid #e6e6e6;
	box-shadow: none;
	background: #fff;
	color: #000;
	font-weight: bold;
	padding-left: 30px;
	transition:all 0.3s ease;
}
.basketForm .form-control::-webkit-input-placeholder {#999;font-size:14px;font-weight:100;}
.basketForm .form-control:-moz-placeholder {#999;font-size:14px;font-weight:100;}
.basketForm .form-control::-moz-placeholder {#999;font-size:14px;font-weight:100;}
.basketForm .form-control:-ms-input-placeholder {#999;font-size:14px;font-weight:100;}

.basketForm input:focus,
.basketForm input:active {
	outline: none;
	box-shadow: none;
	background: #f5fbfe;
	border-bottom: 1px solid #e6e6e6;
}
.basketForm .inputContainer:before {
    position: absolute;
    font-family: FontAwesome;
    content: "\f069";
    color: red;
    font-size: 10px;
    top: 7px;
    left: 10px;
}
#basketComment {padding:0px 10px;}
.basketBoolButs textarea {border-radius:0px;}

.basketBoolButs {margin-bottom:20px;}
.basketBoolButs .btn {
	height: 40px;
    line-height: 40px;
    background: #e6e6e6;
    text-align: center;
	border-radius:0px;
	color: #999;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}
.basketBoolButs .btn.active {
	background:#00a9c2;
	color: #fff;
}
.basketBoolButs .btn:focus,
.basketBoolButs .btn:active,
.basketBoolButs .btn.active {
	outline:none;
	box-shadow:none;
}
.basketBoolButs .l-Col {border-right:1px solid #fff;}
.basketBoolButs .r-Col {border-left:1px solid #fff;}
.basketBoolButs .l-Col.active {border-right: 1px solid #008ca1;}
.basketBoolButs .r-Col.active {border-left: 1px solid #008ca1;}

.basketBoolButs .custom-checkbox {
	margin-top:20px;
	margin-bottom:0px;
}
.basketBoolButs .custom-checkbox,
.basketCheck.custom-checkbox {padding: 0px 30px;}
.basketCheck.custom-checkbox {margin-bottom:20px;}
.basketCheck.custom-checkbox a {text-decoration:underline;}


























