.homeSearch {
	margin-top: 15px;
    padding: 0px 15px;
}
.homeSearch .input-group {
	width: 100%;
    outline: 1px solid #00a9c2;
}
.homeSearch input,
.homeSearch .input-group-addon {
	height: 40px;
	line-height: 40px;
	border-radius: 0px;
	border:none;
	padding: 0px;
}
.homeSearch .input-group-addon {
	position: absolute;
    width: 60px;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    left: 0;
    top: 0;
    z-index: 10;
}
.homeSearch .input-group-addon i {
	font-size: 18px;
	color: #999;
}
.homeSearch input {
	box-shadow: none;
	/*background: #eeeeee;*/
	background: #fff;
	padding-left: 60px;
	color: #000;
	font-weight: bold;
	transition:all 0.3s ease;
}
/*.homeSearch .form-control::-webkit-input-placeholder {#999;font-weight: bold; font-size:15px;}
.homeSearch .form-control:-moz-placeholder {#999;font-weight: bold; font-size:15px;}
.homeSearch .form-control::-moz-placeholder {#999;font-weight: bold; font-size:15px;}
.homeSearch .form-control:-ms-input-placeholder {#999;font-weight: bold; font-size:15px;}*/
.homeSearch input:focus,
.homeSearch input:active {
	outline: none;
	box-shadow: none;
	background: #f5fbfe;
}


/*Searc page*/
.mixSubSearch {
	/*margin-top: 0px;*/
    margin-bottom: 10px !important;
    max-width: 980px;
    padding: 0px 10px !important;
}
.mixSubSearch2 {margin-top:0px;}
.mixSubSearch .inner {max-width:none !important;}
.mixSubSearch input {padding-left:10px;}
.mixSubSearch .input-group-btn .btn {min-width: 100px;}



















