.homeInfo {margin-bottom: 50px;}
.homeInfo.smallMarg {margin-bottom:30px;}
.homeInfo.tinyMarg {margin-bottom:10px;}


.homeInfo .wrap {
	max-width: 290px;
    min-width: 200px;
    margin: 0 auto;
	text-align:center;
}
.homeInfo .wrap.wrap2 {max-width: 300px;}
.homeInfo .infoCall {width: 100%;}
.homeInfo .infoCall {
    font-size: 18px;
    color: #00a9c2;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
.homeInfo p {
	font-size: 16px;
	text-align: center;
	margin-bottom: 20px;
}
.homeInfo p.noMarg {margin-bottom:0px;}
.homeInfo .bigBut.marg {
	margin-top: 5px; 
	margin-bottom: 0px;
}

.homeInfo.noMarg {
	margin-bottom: 5px;
    border-bottom: 1px solid #e6e6e6;
}
.homeInfo.hItxt {padding:0px 15px;}
.homeInfo.hItxt1 {padding-top:50px;}
.homeInfo.hItxt * {
	text-align:left;
	margin-bottom:15px;
}
.homeInfo.hItxt span.title {
	min-width:100%;
	font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.homeInfo.hItxt span.title.center {text-align:center;}
.homeInfo.hItxt span.title.low {text-transform:none;}
.homeInfo.hItxt span.title.ico {
	display: flex;
    align-items: center;
    justify-content: center;
	max-height:55px;
	font-size:55px;
}
.homeInfo.hItxt span.title.ico i {margin:0px;}
.homeInfo.hItxt .img {padding:0px 5px;}
.homeInfo.hItxt .noMarg {margin-bottom:0px;}
.homeInfo.hItxt .blogImg {float:left; margin-right:10px;}
.homeInfo.hItxt .row {
    margin-right: -5px;
    margin-left: -5px;
}
.homeInfo.hItxt1 .wrap {
    max-width: 290px;
    min-width: 200px;
    margin: 0 auto;
}



