.allFilt,
.callBck {
	position:fixed;
	display:flex;
    align-items: center;
    justify-content: center;
	bottom:25px;
	width:54px;
	height:54px;
	background:#fff94d;
	border-radius:50%;
	z-index:1000;
}
.allFilt {
	right: 25px;
	box-shadow:0 0 0 0 rgba(52,152,219,0),0 .05em .1em rgba(0,0,0,.2)
}

.callBck {
	left:25px;
	-webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
}
.callBck.animated {
	-webkit-animation-name: phone-outer;
	animation-name: phone-outer;
	-webkit-animation: phone-outer 3s infinite;
    animation: phone-outer 3s infinite;
}
@-webkit-keyframes phone-outer {
 	0% {
		-webkit-transform:translate3d(0,0,0) scale(1);
 		transform:translate3d(0,0,0) scale(1);
 		box-shadow:0 0 0 0 rgba(52,152,219,0),0 .05em .1em rgba(0,0,0,.2)
	}
 	33.3333% {
	 -webkit-transform:translate3d(0,0,0) scale(1.1);
	 transform:translate3d(0,0,0) scale(1.1);
	 box-shadow:0 0 0 0 rgba(52,152,219,.1),0 .05em .1em rgba(0,0,0,.5)
	}
	66.6666% {
	-webkit-transform:translate3d(0,0,0) scale(1);
	transform:translate3d(0,0,0) scale(1);
	box-shadow:0 0 0 .5em rgba(52,152,219,0),0 .05em .1em rgba(0,0,0,.2)
	}
	100% {
	 -webkit-transform:translate3d(0,0,0) scale(1);
	 transform:translate3d(0,0,0) scale(1);
	 box-shadow:0 0 0 0 rgba(52,152,219,0),0 .05em .1em rgba(0,0,0,.2)
 	}
}

.allFilt:hover,
.allFilt:focus,
.allFilt:active,
.callBck:hover,
.callBck:focus,
.callBck:active {
	text-decoration:none;
	outline:none !important;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.allFilt .icon {
	font-size:25px;
	height: 27px;
}
.callBck i {
	display: inline-block;
    font-size: 32px;
    height: 27px;
    color: #000;
}
.callBck i:before {
	position: relative;
    top: -1px;
}

#allFilters {overflow:hidden;}
#allFilters .modal-dialog,
#allFilters .modal-dialog .modal-content {min-height:100vh;}
#allFilters .modal-dialog {
	margin:0px;
	width: 100%;
}
#allFilters .modal-dialog .modal-content {
	border-radius:0px;
	border:none;
	box-shadow:none;
}
#allFilters .modal-header {
	height:40px;
	line-height:40px;
	padding:0px 25px;
	-webkit-box-shadow: 0 0 20px -5px rgba(132,132,132,.51);
	box-shadow: 0 0 20px -5px rgba(132,132,132,.51);
}
#allFilters .modal-body {
	position: absolute;
    top: 40px;
    bottom: 70px;
    width: 100%;
	padding:40px 25px;
    overflow: auto;
}
#allFilters .modal-footer {
    position: fixed;
	bottom:0px;
	width: 100%;
    background-color:#fff;
	text-align: center;
    border-top: none;
	padding: 15px;
	-webkit-box-shadow: 0px 5px 5px 5px rgba(132,132,132,.51);
	box-shadow: 0px 5px 5px 5px rgba(132,132,132,.51);
}

#allFilters .modal-header * {display:inline-block;}
#allFilters .modal-header .align {text-align:center;}
#allFilters .modal-header .align .icon {font-size:20px;}
#allFilters .modal-header .align .icon:before {
	position:relative;
	top:2px;
}
#allFilters .modal-header .align a {
	text-transform:uppercase;
	text-decoration:none;
	color: #333;
}
#allFilters .modal-header .align a span {
	position: relative;
    top: -2px;	
	line-height: 20px;
    border-bottom: 1px solid #333;
}
#allFilters .modal-body .block {
	border-bottom: 6px solid #f6f6f6;
    padding-bottom: 20px;
	margin-bottom: 20px;
}
#allFilters .modal-body .block:last-child {
	border-bottom: none;
    padding-bottom: 0px;
	margin-bottom: 0px;
}
#allFilters .modal-body .title {
	font-weight:bold;
	margin-bottom:20px;
}
.color-checkbox {
	position: relative;
    left: -2px;
    width: 100%;
    height: 24px;
    padding: 2px;
    margin-bottom: 10px;
}
.color-checkbox .colorCheck,
.color-checkbox label {float:left;}
.color-checkbox label {
	font-weight:200;
	height:20px;
	line-height:20px;
	margin-bottom:0px;
}
.colorCheck {
	width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    padding: 0px;
    margin-right: 10px;
}
.colorCheck:focus,
.colorCheck:active {
	outline:none !important; 
	background:#fff;
}
.colorCheck.active {box-shadow: 0 0 0 2px #11c1db;}
.colorCheck img {
	width:22px;
	height:22px;
}


/*Checkbox*/
.checkbox,
.custom-checkbox, 
.radio {
    margin-top: 0px;
    margin-bottom: 10px;
}
.custom-checkbox > [type="checkbox"],
.custom-checkbox > label {
	margin-bottom:0px !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.custom-checkbox > label {font-weight:normal;}
.custom-checkbox > [type="checkbox"]:not(:checked),
.custom-checkbox > [type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label,
.custom-checkbox > [type="checkbox"]:checked + label {
	position: relative;
	padding-left: 27px;
	cursor: pointer;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label:before,
.custom-checkbox > [type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left:0; 
	top: 50%;
	margin-top:-9px;
	width: 17px; 
	height: 17px;
	border: 1px solid #ddd;
	background: #ffffff;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label:after,
.custom-checkbox > [type="checkbox"]:checked + label:after {
	font: normal normal normal 12px/1 'FontAwesome';
	content: '\e013';
	position: absolute;
	top: 50%;
	margin-top:-7px;
	left: 2px;
	color: #1ba9bf;
	xtransition: all .2s;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
.custom-checkbox > [type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
.custom-checkbox > [type="checkbox"][data-indeterminate] + label:after,
.custom-checkbox > [type="checkbox"][data-indeterminate] + label:after {
	content: '\2212';
	left: 2px;
	opacity: 1;
	transform: scale(1);
}
.custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:before,
.custom-checkbox > [type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	background-color: #eeeeee;
	border-color: #eeeeee;
	cursor: not-allowed;
	opacity: 1;
	color: #dadada;
}
.custom-checkbox > [type="checkbox"]:disabled:checked + label:after {
	color: #dadada; cursor: not-allowed;
}
.custom-checkbox > [type="checkbox"]:disabled + label {
	color: #aaa; cursor: not-allowed;
}
.custom-checkbox > [type="checkbox"]:checked:focus + label:before,
.custom-checkbox > [type="checkbox"]:not(:checked):focus + label:before {
	border: 1px solid #66afe9;
}
.custom-checkbox > label:hover:before {
	border: 1px solid #88D2FF !important;
}
.custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:hover:before,
.custom-checkbox > [type="checkbox"]:disabled:checked + label:hover:before{
	border: 1px solid #E4E4E4 !important;
}


















