.specOffer {margin-bottom: 50px;}
.specOffer .wrap {
    max-width: 290px;
    min-width: 200px;
    margin: 0 auto;
    text-align: center;
}
.specOffer .wrap .bigBut {margin-top:15px; margin-bottom:0px;}
/*.specOffer .product {
	max-width: 290px;
	min-width: 200px;
	margin: 0 auto;
}*/
/*.specOffer .item {padding:0px 5px;}*/
.specOffer .product {
	padding:15px; 
	border-bottom:1px solid #e6e6e6;
}
.specOffer .product {border-right:1px solid #e6e6e6;}
.specOffer .product:last-child {border-right:none;}
.specOffer .img,
.specOffer .product a {width: 100%;}
.specOffer .product a {text-decoration: none;}
.specOffer .img {
	position: relative;
    display: flex;
    justify-content: center;
    height: 120px;
    overflow: hidden;
}
.specOffer .img img {
	position: relative;
    display: block;
    height: 100%;
    max-width: none;
}
.specOffer .img .tag,
.specOffer .img .saleTag {
    position: absolute;
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}
.specOffer .img .tag {
	background: #ff2a2a;
	top: 0;
    left: 0;
}
.specOffer .img .saleTag {
	background: #01a9c1;
	top: 0;
    right: 0;
}
.specOffer .title,
.specOffer .subtitle,
.specOffer .price {
	/*font-size: 18px;
	text-align: center;*/
	
	font-size: 12px;
    text-align: left;
    margin-top: 5px;
}
.specOffer .title {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	color: #00a9c2;
    font-weight: bold;
    /*text-transform: uppercase;*/
	margin-top: 10px;
    /*margin-top: 20px;
	font-size:16px;*/
}
.specOffer .subtitle {
	color: #999;
	/*margin-top: 5px;
	font-size: 15px;
	font-weight: bold;*/
}
.specOffer .price {
	color: #000;
	font-weight: bold;
	/*margin-top: 5px;*/
	margin-bottom: 10px;
}
/*.specOffer .price .oldPrice,
.specOffer .price .sale {width: 100%;}*/
.specOffer .price .oldPrice {text-decoration: line-through; margin-right:10px;}
.specOffer .price .sale {color:#ff2a2a;}

.specOffer .carousel-control .left, 
.specOffer .carousel-control .right {
	position: relative;
	top: 43.3%;
	visibility:hidden;
}
.specOffer .carousel-control .left {left:10px;} 
.specOffer .carousel-control .right {right:10px;}
.specOffer .carousel-indicators {
	position: relative;
    bottom: inherit;
	margin-top:15px;
}
.specOffer .carousel-indicators li {border: 1px solid #00a9c2;}
.specOffer .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #00a9c2;
}




