.footer {}
.footMenu {
	background: #00a9c2;
	padding: 30px 0px;
}
.footMenu ul {}
.footMenu ul li {
	text-align: center;
	padding-left:15px;
}
.footMenu ul li a {
	width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
	text-decoration:none;
    text-align: left;
    padding: 0px ;
}
.footMenu ul li a:hover,
.footMenu ul li a:focus,
.footMenu ul li a:active {
	background: #00a9c2;
	color: #fff;
}

.footInfo {
	padding: 45px 0px;
	background: #000;
	color: #fff;
}
.footInfo .title,
.footInfo .soc,
.footInfo .soc a,
.footInfo .desktop,
.footInfo .subtitle {text-align: center;}
.footInfo .title {
	font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
}
.footInfo .soc a {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    margin: 0px 5px;
    margin-bottom: 30px;
}
.footInfo .soc a.vk {background:#2d76a6;}
.footInfo .soc a.tw {background:#00aef1;}
.footInfo .soc a.inst {background:radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);}

.footInfo .desktop {
	width: 100%;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 30px;
}
.footInfo .subtitle {
	width: 100%;
	color: #999;
	font-size: 16px;
}