.contact {
	padding: 0px 15px;
	margin-bottom:50px;
}
.contact .shop {margin-bottom:15px;}
.contact .title,
.contact .address,
.contact .subtitle,
.contact .txt,
.contact .bold {margin-bottom:10px;}
.contact .address {
	padding:10px;
	background:#fef420;
	font-weight: bold;
}
.contact .address:before {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
	border-color: transparent transparent #fef420 transparent;
    top: -10px;
    left: 35px;
}
.contact .img {
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.contact .img a {
	width:100%;
	height:100%;
}
.contact .img img {
	width:100%;
	/*border:1px solid #2b2b2b;*/
}
/*.contact .img a.more {
    position: absolute;
    display: flex;
	align-items:center;
	justify-content:center;
	background: #fef420;
	border-radius:50%;
    width: 54px;
    height: 54px;
    line-height: 50px;
	color: #2b2b2b;
    transition: all 0.2s ease;
	z-index:5;
}
.contact .img a.more i {font-size: 25px;}
.contact .img a.more:hover,
.contact .img a.more:focus,
.contact .img a.more:active {
	background: #ffdb4d;
	text-decoration:none;
}
.contact .img a.link:before {
	position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
    transition: all 0.3s ease;
}*/
.contact .img a.more {
	position: absolute;
    background: #fef420;
    width: 50%;
    height: 40px;
    color: #2b2b2b;
    transition: all 0.2s ease;
    z-index: 5;
    margin-bottom: 0px;
}

.contact div.more .wrap {
	display: flex;
    max-width: 290px;
    min-width: 200px;
    margin: 0 auto;
}
.contact div.more .wrap a {margin-bottom:10px;}

.contact .bold {font-weight:bold;}
.contact .block {
	text-align:center;
	padding: 20px 15px;
	border-bottom: 1px solid #e6e6e6;
}
.contact .block.block1 {padding-top:0px;}
.contact .block:last-child {
	border-bottom: none;
	padding-bottom:0px;
}
.contact .wrap {
	display:inline-block;
	/*text-align:left;*/
}
.contact .title {height:31px;}
.contact .title .wrap {
	font-weight: bold;
    color: #2b2b2b;
    font-size: 22px;
}
.contact .title .metro {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 5px;
    top: -3px;
}
.contact .title .metro.mol {background: #0252a2;}
.contact .title .metro.medv {background: #fbaa33;}
.contact .block a {
    color: #2b2b2b;
	font-weight:bold;
	text-decoration:none;	
}
.contact .block a:hover,
.contact .block a:active,
.contact .block a:focus {color: #ccc;}
.contact .block a span {border-bottom:2px solid #2b2b2b;}
.contact .block a:hover span,
.contact .block a:active span,
.contact .block a:focus span {border-bottom:2px solid #ccc;}
.contact .block a.call {font-size:20px;}
.contact .subtitle {
	font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.contact .txt i {margin-right:5px;}
.contact .jivo {margin-top:10px;}

.contact .contBut {
	border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
	margin-bottom:50px;
}
.contact .contBut.last {
	padding-bottom:0px;
	border-bottom:none;
}
.contact .contBut .but {
    display: inline-block;
    width: initial;
    max-width: 140px;
    height: 40px;
    color: #fff;
}

.contact .contBut .one .but {
	float:right;
	background:#2b2b2b;
}
.contact .contBut .two .but {
	float:left;
	background:#00a9c2;
}
.contact .contBut .one {padding-right:5px;}
.contact .contBut .two {padding-left:5px;}
.contact .contBut .but .icon,
.contact .contBut .but .txt {float:left;}
.contact .contBut .but .icon {
	display:flex;
	align-items:center;
	justify-content:center;
	width:35%;
	height:40px;
	font-size:30px;
}
.contact .contBut .but .txt {
	width: 65%;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px;
}























