.catProds {
	padding-bottom:5px;
	border-bottom: 1px solid #e6e6e6;
}
.catProds.marg {margin-bottom:25px;}
.catProds.favor {margin-bottom:20px;}
.catProds .container {
	max-width: 980px;
    padding: 0px 5px;
	margin-left: auto;
    margin-right: auto;
}
.catProds .row {
	margin-right: 0px;
    margin-left: 0px;
}
.catProds .product {padding:5px;}
.catProds .img,
.catProds .product a {width: 100%;}
.catProds .product a {text-decoration: none;}
.catProds .img {
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /*height: 250px;*/
    overflow: hidden;
}
.catProds .img img {
    /*position: relative;
    display: block;
    height:100%;
    max-width: none;*/
}
.catProds .img .tag,
.catProds .img .saleTag {
    position: absolute;
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}
.catProds .img .tag {
	background: #ff2a2a;
	top: 0;
    left: 0;
}
.catProds .img .saleTag {
	background: #01a9c1;
	top: 0;
    right: 0;
}
.catProds .img .favor {
	position: absolute;
    display: block;
    height: 35px;
    line-height: 35px;
    font-size: 35px;
    top: 4px;
    left: 5px;
    color: #00a9c2;
}
.catProds .img .favor:hover:before,
.catProds .img .favor:active:before,
.catProds .img .favor:focus:before {
    display: block;
    position: absolute;
    content: "\f0e7";
    font-family: FontAwesome;
    color: #fff;
    font-size: 20px;
    width: 35px;
    text-align: center;
    top: -2px;
}


.catProds .title,
.catProds .subtitle,
.catProds .price,
.catProds .price .txtPrice {
	font-size: 12px;
	/*text-align: center;*/
	margin-top: 5px;
}
.catProds .title {margin-top:10px;}
.catProds .title {
	color: #00a9c2;
	font-weight: bold;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
@-moz-document url-prefix() {
    .catProds .title > span {
		float: left;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: inherit;
		width: 100%;		
	}
}
.catProds .subtitle {color: #999;}
.catProds .price {
	min-height:50px;
    color: #000;
    font-weight: bold;
}
.catProds.compose .price {
	min-height:0px;
	margin-bottom:15px;
}
.catProds .product > .buy {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
	text-decoration:none;	
}
.catProds .price .oldPrice {
	text-decoration: line-through; 
	margin-right: 10px;
}
.catProds .price .sale {color:#ff2a2a;}
.catProds .price .txtPrice {
	width:100%;
	font-weight:normal;
}
.catProds .product.last .buy {
	margin-bottom: 0px;
    border-bottom: none;
    padding-bottom: 0px;
}

.pagi {text-align:center;}
.pagi .wrap {
    max-width: 290px;
    min-width: 200px;
    margin: 0 auto;
}
.pagi .total-products {
    padding: 25px 0px;
    color: #d4d4d4;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.pagi .separate {padding-top:25px;}
.pagi .buyAll {margin-top:15px; margin-bottom:0px;}
/*.pagi .showMore,
.pagi .showMore:hover,
.pagi .showMore:active,
.pagi .showMore:focus {
	margin-bottom:0px;
	outline:2px solid #00a9c2;
	background:#fff;
	color:#00a9c2;
	float: none;
}*/

.pagi .pagination,
.pagi .pagiXS {
	width: 90%;
	margin:25px 0px 50px 0px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    overflow: hidden;
}
.pagi .pagiXS {display:none;}
.pagi .pagination>li:first-child>a, 
.pagi .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.pagi .pagination>li:last-child>a, 
.pagi .pagination>li:last-child>span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.pagi .pagination>li {
	display:inline-block;
	font-size:18px;
	font-weight:bold;
	margin:0px 5px;
}
.pagi .pagination>li>a, 
.pagi .pagination>li>span {
    display: inline-block;
    min-width: 20px;
    padding: 0 10px;
    line-height: 40px;
    text-decoration: none;
    box-sizing: content-box;
    text-align: center;
}
.pagi .pagination>li>a, 
.pagi .pagination>li>span {border:none;}
.pagi .pagination>li>a {
	color:#000;
	background: #f8f8f8;
}
.pagi .pagination>li>a:hover,
.pagi .pagination>li>a:focus,
.pagi .pagination>li>a:active,
.pagi .pagiXS .but:hover,
.pagi .pagiXS .but:focus,
.pagi .pagiXS .but:active {
	color: #fff;
	background: #00a9c2;
}
.pagi .pagination>li.active>span {
	color: #000;
	background: #f9f94d;
}
.pagi .pagination>li i {font-size:16px;}
.pagi .pagiXS .but {
	display: inline-block;
    min-width: 20px;
    padding: 0px 10px;
    line-height: 40px;
	background: #f8f8f8;
    color: #000;
	font-weight:bold;
    text-decoration: none;
	text-transform:uppercase;
    box-sizing: content-box;
    text-align: center;
}
.pagi .pagiXS .but i {font-size:12px;}
.pagi .pagiXS .back {float:left;}
.pagi .pagiXS .forw {float:right;}
.pagi .pagiXS .back i {margin-right:5px;}
.pagi .pagiXS .forw i {margin-left:5px;}













