.newsBlock .container {padding:0px;}
.newsBlock .container2 {padding: 0px 10px;}
.newsBlock .row {
	margin-right: -5px;
    margin-left: -5px;
}
.news {
	margin-bottom: 15px;
	padding-left:15px;
	padding-right:15px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e6e6e6;
}
.news.noBordnoMarg {
	padding-bottom: 0px;
	border-bottom: none;
}
.news2 {
	padding:5px; 
	border-bottom:none;
	margin-bottom:0px;
}
.news2 .inner {background:#f3f3f3; padding:10px;}

.news2.last {
	padding-bottom:10px;
}
.news .title {
	color:#2b2b2b;
	font-size: 16px;
    line-height: 25px;
    font-weight: bold;
	margin-top:0px;
	margin-bottom:15px;
}
.news .date {
	position:absolute;
	top:0;
	left:0;
	color: #fff;
	background:#00a9c2;
	padding:5px;
	margin-bottom:15px;
}
.news .img {
	overflow:hidden;
	margin-bottom:15px;
}
.news .img img {max-width:100%;}
.news .desc p {margin-bottom:15px;}
.news .desc a {
	font-weight: bold;
    font-size: 14px;
    color: #00a9c2;
    border-bottom: 2px solid #00a9c2;
    cursor: pointer;
	text-decoration:none;
}
.news .link2 a {margin-bottom:0px;}
.news2 .container {max-width:100%;}
.news2 .catProds {border-bottom:none; padding-bottom:0px;}
