.banner {
    text-align: center;
    margin-top: 15px;
    /*margin-bottom: 50px;*/
    padding: 0px 15px;
}
#banner {margin-bottom: 50px;}
.banner .inner {
	padding: 150px 0px;
    /*background: url(../img/banner.jpg) no-repeat center top;
    background-size: cover;*/
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
	overflow:hidden;
    float: none;
}
.banner .inner .blur {
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background: url(../img/banner.jpg) no-repeat center top;
    background-size: cover;
	-webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    filter: url("https://gist.githubusercontent.com/amitabhaghosh197/b7865b409e835b5a43b5/raw/1a255b551091924971e7dee8935fd38a7fdf7311/blur".svg#blur);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');	
}
.banner .inner .blur:before {
	position:absolute;
	display:block;
	content:"";
	width:100%;
	height:100%;
	left:0;
	top:0;
	/*background:rgba(255,255,255,0.7);*/
	background: rgba(0,0,0,0.2);
	z-index:1;
} 

.banner .txtWrap {
	position:relative;
	z-index:2;
}
/*.banner .img,*/
.banner .txtWrap,
.banner .bigTxt,
.banner .txt {width: 100%;}
.banner .bigTxt,
.banner .txt {font-weight: bold;}
.banner .txt {
	color:#fff;
	margin-top: 5px;
	font-size: 15px;
}
/*.banner .txt1 {text-transform: uppercase;}*/
.banner .bigTxt {
	/*margin-top: 15px;*/
    font-size: 16px;
    text-transform: uppercase;
    /*color: #00a9c2;*/
	color: #fafa4d;
    /*background: rgba(255, 255, 255, 1);*/
    padding: 6px 0px;
}


.banner-carousel .carousel-indicators {
	position: relative;
    bottom: inherit;
	margin-top:15px;
}
.banner-carousel .carousel-indicators li {border: 1px solid #00a9c2;}
.banner-carousel .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #00a9c2;
}