.reply-carousel {
	margin-bottom: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
}
.reply-carousel2 {
	margin-bottom: 15px;
    padding-bottom: 15px;
}
.reply-carousel .wrap {
	max-width: 290px;
    min-width: 200px;
    margin: 0 auto;
}
.reply-carousel .wrap1 {
    max-width: 980px;
    min-width: 200px;
    padding: 0px 15px;
    margin: 0 auto;	
}
.replyList .item {
	border-bottom: 1px solid #e6e6e6;
	margin-bottom:15px;
}
.replyList .item.last {
	border-bottom: none;
	margin-bottom:0px;
}

/*.reply-carousel .rate,*/
.reply-carousel .reply.short {
	margin-bottom:15px;
}
.reply-carousel .replyName,
.reply-carousel .date,
.reply-carousel .reply .replyName {margin-bottom: 15px;}
.reply-carousel .rate {text-align:center;}
.reply-carousel .rate i {
	font-size: 15px;
    color: #faf157;
}
.reply-carousel .replyName,
.reply-carousel .date {
	height:22px;
	line-height:22px;
}
.reply-carousel .replyName {
	font-weight: bold;
    font-size: 16px;
	text-align:left;
}
.reply-carousel .date {
	font-size: 12px;
    color: #a2a2a2;
	text-align:right;
}
.reply-carousel .reply .replyName {
	font-weight: bold;
    font-size: 16px;
}
.reply-carousel .replyLink {
    background: #fef420;
    color: #000;
    text-align: left;
    padding: 0px 15px;
    margin-bottom: 0px;
}
.reply-carousel .replyLink2 {
	width: 50% !important;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
	text-decoration:none;
    background: #fef420;
    color: #000;
    text-align: left;
    padding: 0px 15px;
    margin-bottom: 0px;
}
.reply-carousel .replyLink:hover,
.reply-carousel .replyLink:focus,
.reply-carousel .replyLink:active {background: #ffdb4d;}
.reply-carousel .replyLink i {
	position: relative;
    font-size: 25px;
    float: right;
    top: 8px;
}
.reply-carousel .replyLink2 i {
	font-size:20px !important;
	top:5px !important;
}
.reply-carousel .carousel-control .left, 
.reply-carousel .carousel-control .right {
	position: relative;
	top: 43.3%;
}
.reply-carousel .carousel-control .left {left:10px;}
.reply-carousel .carousel-control .right {right:10px;}

/*.reply-carousel .reply .replyTxt .collapse,
.reply-carousel .reply .replyTxt .collapse [aria-expanded="false"] {
	height: 82px !important;
    display: block;
	margin-bottom: 10px;
    overflow: hidden;
	transition:all 0.3s ease;
}
.reply-carousel .reply .replyTxt .collapse.in {height:100% !important;}*/
.reply-carousel .reply .replyTxt .showMore {
	width:100%; 
	text-align:center;
	margin: 15px 0px;
}
.reply-carousel .reply .replyTxt .showMore:focus,
.reply-carousel .reply .replyTxt .showMore:active {box-shadow:none;} 
.reply-carousel .reply .replyTxt .showMore span {
	text-transform:uppercase;
	font-weight:bold;
	font-size: 14px;
	color:#00a9c2;
	border-bottom: 2px solid #00a9c2; 
	cursor: pointer;
}
.reply-carousel .reply .replyTxt .showMore[aria-expanded="false"] .less,
.reply-carousel .reply .replyTxt .showMore[aria-expanded="true"] .more {display:none;}
.reply-carousel .reply .replyTxt .showMore[aria-expanded="true"] .less,
.reply-carousel .reply .replyTxt .showMore[aria-expanded="false"] .more, {display:block;}

.reply-carousel .showMore2 {
	margin-top: 15px;
    height: 30px;
    border-radius: 0px;
    margin-bottom: 15px;
}
.reply-carousel .showMore2:focus,
.reply-carousel .showMore2:active {box-shadow:none;} 
.reply-carousel .showMore2 span {
	text-transform:uppercase;
	font-weight:bold;
	/*font-size: 14px;*/
	font-size: 12px;
	color:#00a9c2;
	border-bottom: 2px solid #00a9c2; 
	cursor: pointer;
}
.reply-carousel .showMore3 {
	border-radius:0px;
	margin-bottom:0px;
}
.reply-carousel .showMore2[aria-expanded="false"] .less,
.reply-carousel .showMore2[aria-expanded="true"] .more,
.reply-carousel .showMore3[aria-expanded="true"] i.fa-arrow-circle-down,
.reply-carousel .showMore3[aria-expanded="false"] i.fa-arrow-circle-up {display:none;}
.reply-carousel .showMore2[aria-expanded="true"] .less,
.reply-carousel .showMore2[aria-expanded="false"] .more,
.reply-carousel .showMore3[aria-expanded="false"] i.fa-arrow-circle-down,
.reply-carousel .showMore3[aria-expanded="true"] i.fa-arrow-circle-up {display:inline-block;}






























