.breadcrumbs {
	padding: 0px 10px 25px 10px;
    margin-top: 10px;
}
.breadcrumbs .back * {float:left;}
.breadcrumbs .back {padding-right:5px;float:left;}
.breadcrumbs .back a {
	width:100%;
    background: #f3f3f3;
    color: #000;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    font-weight: bold;
	padding: 0px 10px;
	float:left;
}
.breadcrumbs .back a i {
	height: 40px;
    line-height: 40px;
    margin-right: 10px;
}
.breadcrumbs .back a:hover i,
.breadcrumbs .back a:active i,
.breadcrumbs .back a:focus i {color: #11c1db;}
.breadcrumbs h1 {
	display: block;
    width: 100%;
    text-align: left;
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
	padding: 0px 5px;
    margin-top: 25px;
    margin-bottom: 0px;
}
.breadcrumbs h1.align {text-align:center;}

.breadcrumbs .fastCat {
	padding-left: 5px;
	float:right;
}
.breadcrumbs .fastCat .btn {
	width:100%;
	border-radius:0px;
	padding:0px 10px;
	height: 40px;
    line-height: 40px;
}
.breadcrumbs .fastCat .btn-default:hover,
.breadcrumbs .fastCat .btn-default.active, 
.breadcrumbs .fastCat .btn-default:active, 
.breadcrumbs .fastCat.open > .dropdown-toggle.btn-default {
	background:#fff;
	outline:none;
}

.breadcrumbs .fastCat .btn .txt {
	height:38px;
	line-height:38px;
	color:#000;
	font-size: 12px;
    font-weight: bold;
	float:left;
}
.breadcrumbs .fastCat .btn .caret {
	margin-top: 16px;
	float:right;
}
.breadcrumbs .fastCat .dropdown-menu {
    width: 201%;
    min-width: 155px;
    border-radius: 0px;
    padding: 0px;
    left: -100.5%;
    z-index: 10;
}
.breadcrumbs .fastCat .dropdown-menu li {width:100%;}
.breadcrumbs .fastCat .dropdown-menu li a {
	width: 100%;
    background: #fff;
    padding: 3px 10px;
    font-weight: bold;
	text-align:left;
	line-height: 34px;
}
.breadcrumbs .fastCat .dropdown-menu li a:hover,
.breadcrumbs .fastCat .dropdown-menu li a:active,
.breadcrumbs .fastCat .dropdown-menu li a:focus {
	background: #f3f3f3;
}
.breadcrumbs .fastCat .dropdown-menu .divider {margin:0px;}
















