.subscribe {
	padding: 0px 15px;
	margin-bottom:50px;
}
.subscribe .inner {
	position: relative;
	max-width: 768px;
    margin-left: auto;
    margin-right: auto;
	float:none;
}
.subscribe .input-group {outline: 1px solid #00a9c2;}
.subscribe input,
.subscribe .btn {
	height: 40px;
	line-height: 40px;
	border-radius: 0px;
	border:none;
}
.subscribe .btn {
    background: #00a9c2;
    padding: 0px 10px;
    color: #fff;
	text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}
.subscribe .btn:focus,
.subscribe .btn:active {
	color:#fff;
	background:#008ca1;
	outline:none;
}

.subscribe input {
	box-shadow: none;
	/*background: #eeeeee;*/
	background: #fff;
	color: #000;
	font-weight: bold;
	transition:all 0.3s ease;
}
/*.subscribe .form-control::-webkit-input-placeholder {#999;font-weight: bold; font-size:15px;}
.subscribe .form-control:-moz-placeholder {#999;font-weight: bold; font-size:15px;}
.subscribe .form-control::-moz-placeholder {#999;font-weight: bold; font-size:15px;}
.subscribe .form-control:-ms-input-placeholder {#999;font-weight: bold; font-size:15px;}*/
.subscribe input:focus,
.subscribe input:active {
	outline: none;
	box-shadow: none;
	background: #f5fbfe;
}

.subscribe .feedback {
	position:absolute;
	width: 100%;
	padding:10px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	margin-top:20px;
	z-index:1;
}
.subscribe .feedback.success {background:#66CC33;}
.subscribe .feedback.error {background:#ff2a2a;}
.subscribe .feedback:before {
	position:absolute;
	direction:block;
	content:"";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	top:-10px;
	left:0;
	right:0;
	margin:0 auto;
}
.subscribe .feedback.success:before {border-color: transparent transparent #66CC33 transparent;}
.subscribe .feedback.error:before {border-color: transparent transparent #ff2a2a transparent;}










