body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}
body.dark:before {
	position: absolute;
	display: block;
	content: "";
	width: 100%;
	height: 1000vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.1);
	z-index: 1;
}
[class*="col-"],
[class*="container"] {
	padding: 0px;
	margin: 0px;
}
.container {
	max-width: 980px;
    padding: 0 10px;
	margin-left: auto;
    margin-right: auto;
}
.container1 {
	max-width: 290px;
    min-width: 200px;
    margin: 0 auto;
    text-align: center;
}
.infoPage.bigMarg {margin-bottom:20px;}
.affix {
	position: fixed;
	width: 100%;
    top: 0;
    z-index: 999;
	box-shadow: 0 1px 5px 2px rgba(0,0,0,.15);
}
a {
	display: inline-block;
	position: relative;
	text-decoration: none;
	outline:none;
}
span {display: inline-block;}
.navbar-toggle {
	display: block;
    float: left;
    border: none;
    border-radius: 0px;
}
.carousel-control.left,
.carousel-control.right {
	width: 40px;
	background: none;
	background-image: none;
}
.carousel-control .left,
.carousel-control .right {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.carousel-control .left {background: #00a9c2; left:15px;}
.carousel-control .right {background: #00a9c2; right:15px;}
.carousel-control .left i,
.carousel-control .right i {font-size: 20px;}
.content-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
	padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}
.content-title.noMarg {margin-bottom:0px;}
.content-title.noBord {border-bottom:none;}
.content-title.margTop {margin-top:50px;}
.content-title .br {display:none;}
.bigBut {
	width: 100%;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background: #00a9c2;
    margin-bottom: 5px;
}
.bigBut.ico {
	text-align: left;
    padding: 0px 15px;
}
.bigBut.ico i {
	position: relative;
    font-size: 25px;
    float: right;
    top: 8px;
}
.bigBut.last {margin-bottom: 0px;}
.bigBut.yellow {
	background: #fef420;
	color:#000;
}
.bigBut:hover, 
.bigBut:focus,
.bigBut:active {text-decoration:none;}
.bigBut.yellow:hover, 
.bigBut.yellow:focus,
.bigBut.yellow:active {
	background: #ffdb4d;
	text-decoration:none;
}
.bigBut.noMarg {margin-bottom:0px;} 


