.offcanvas-search {padding:15px;}
.navmenu-default, 
.navbar-default .navbar-offcanvas {
	background-color: #fff;
    border:none;
    font-size: 16px;
}
.offcanvas-phone,
.offcanvas-address,
.offcanvas-copys {padding: 0px 20px;}
.offcanvas-phone {
	margin: 15px 0px 15px 0px;
	text-align: center;
}
.offcanvas-phone a {
	font-size: 24px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}
.offcanvas-address,
.offcanvas-time {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 15px;
}
.offcanvas-address i ,
.offcanvas-time i {font-size: 16px;}

.offcanvas-address span {
	width: 50%;
    text-align: center;
    float: left;
}
/*.offcanvas-address i {margin-right: 7px;}*/
.offcanvas-address .metro {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    padding: 0;
    margin-right: 5px;
    top: 3px;
}
.offcanvas-address .metro.mol {
    background: url(../img/metro.png) center no-repeat;
    background-position-y: 0;
}
.offcanvas-address .metro.medv {
    background: url(../img/metro.png) center no-repeat;
    background-position-y: 100%;
}

.offcanvas-time i {margin-right: 1px;}
.offcanvas-time,
.offcanvas-cart {text-align: center;}
.offcanvas-cart.ofc1 {padding-left:15px;}
.offcanvas-cart.ofc2 {padding-right:15px;}
.offcanvas-cart a {
	font-weight: bold;
	color: #00a9c2;
	text-decoration: none;
}
.offcanvas-cart a i {
	position: relative;
    font-size: 30px;
    margin-right: 12px;
    float: left;
}
.offcanvas-cart a .num {
    position: absolute;
    width: 26px;
    height: 26px;
    line-height: 23px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    background: #00a9c2;
    border: 3px solid #fff;
    border-radius: 50%;
    color: #fff;
    left: 14px;
    top: -5px;
}
.offcanvas-cart a .sum {
	margin-right: 5px;
    font-size: 14px;
    line-height: 30px;
}
.offcanvas-cart a .curr {font-size:12px;}

.offcanvas-search .input-group {
	width: 100%;
	outline: 1px solid #00a9c2;
}
.offcanvas-search input,
.offcanvas-search .input-group-addon {
	height: 40px;
	line-height: 40px;
	border-radius: 0px;
	border:none;
	padding: 0px;
}
.offcanvas-search .input-group-addon {
	position: absolute;
    width: 40px;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    left: 0;
    top: 0;
    z-index: 10;
}
.offcanvas-search .input-group-addon i {
	font-size: 18px;
	color: #c4c4c4;
}
.offcanvas-search input {
	box-shadow: none;
	background: #fff;
	padding-left: 40px;
	color: #000;
	font-weight: bold;
	transition:all 0.3s ease;
}
/*
.offcanvas-search .form-control::-webkit-input-placeholder {#999;font-weight: bold;}
.offcanvas-search .form-control:-moz-placeholder {#999;font-weight: bold;}
.offcanvas-search .form-control::-moz-placeholder {#999;font-weight: bold;}
.offcanvas-search .form-control:-ms-input-placeholder {#999;font-weight: bold;}
*/
.offcanvas-search input:focus,
.offcanvas-search input:active {
	outline: none;
	box-shadow: none;
	background: #f5fbfe;
}

/*Catalogue menu*/
.catalog-menu {}
.catalog-menu ul li {position:relative;}
.catalog-menu ul.ls2 {padding-left: 20px;}
.catalog-menu ul li.saleWrap {padding:0px 15px;}
.nav-stacked > li + li {margin-top: 0px;}
.catalog-menu ul li a,
.catalog-menu ul li > span {
    width: 100%;
    height: 40px;
    line-height: 20px;
	padding: 10px 15px;
	padding-left: 20px;
    color: #000;
    text-decoration: none;
    border-radius: 0px;
    border-bottom: 1px solid #eee;
}
.catalog-menu ul li a.bTop {border-top: 1px solid #eee;}
.catalog-menu ul li a:hover,
.catalog-menu ul li a:focus {background: none;}
.catalog-menu ul li a[aria-expanded="true"],
.catalog-menu ul li a.last {border-bottom: 1px solid rgba(0, 0, 0, 0);}

/*Убрать .catalog-menu ul li a .toggle по окончании всей верстки*/
.catalog-menu ul li a .toggle,
.catalog-menu ul li .toggle {
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	padding:0px;
	cursor:pointer;
	z-index: 1000;
}
.catalog-menu ul li .toggle:before,
.catalog-menu ul li .toggle:before {
	position: relative;
	font-family: FontAwesome;
	content: "\f067";
	font-size: 10px;
	color: #999;
}
.catalog-menu ul li .toggle[aria-expanded="true"]:before,
.catalog-menu ul li .toggle[aria-expanded="true"]:before {
	position: relative;
	font-family: FontAwesome;
	content: "\f068";
	font-size: 10px;
    color: #999;
}
.catalog-menu ul li a.sale {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
	margin:15px 0px;
}

.offcanvas-copys .copy1,
.offcanvas-copys .copy2 {
	color: #999;
}
.offcanvas-copys .copy1 {margin-top: 30px;}
.offcanvas-copys .copy2 {
	margin-top: 15px; 
	margin-bottom: 30px;
}