.page-nav {
	font-size: 18px;
	margin-bottom: 40px !important;
	font-weight: 600;
	text-align: center;
}

.page-nav a {
	color: #afafaf;
	text-decoration: none;
}

.page-nav a:hover {
	color: #000;
	text-decoration: none;
}

.adv-block {
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}

.adv-block > div {
	margin-bottom: 30px;
}

.contact-point {
	width: 360px;
}

.show-more { 
    font-size: 12px !important;
    min-width: 110px !important;
}

.partnership-page {
	padding-top: 30px;
	max-width: 780px;
	margin: 0 auto;
}

.contact-box {
	background: #d9d9d9;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	max-width: 320px;
	box-sizing: border-box;
	margin-bottom: 60px;
}

.contact-box .btn-popup {
	border: 1px solid #000;
    display: inline-block;
    padding: 0 0 0 15px;
    background: #fef420;
    height: 40px;
    line-height: 40px;
    color: #2b2b2b;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    min-width: 215px;
    margin-top: 10px;
}

.contact-box .btn-popup:hover,
.contact-box .btn-popup:focus,
.contact-box .btn-popup:active {
    background: #ffdb4d;
    text-decoration: none;
}

.uk-list-line li {
	padding: 5px 0;
}

.uk-list>li:before {
    margin: 15px 0 0;
}

.partnership-page .uk-margin-large-top {
	margin-top: 60px !important;
}

.mnf-block .title {
	margin: 10px 0 10px;
	font-weight: 600;
}

.mnf-block > div {
	margin-bottom: 30px;
}

.mnf-block img {
	height: 45px;
}

.contacts-container .gallery .main-image,
.contacts-container .gallery .previews a {
    max-width: 100%;
}

.previews  {
	margin-right: 20px;
}

.gallery {
	margin-bottom: 60px;
}

.shop.margin-large {
	margin-bottom: 50px !important;
}