ul.treeselect,
ul.treeselect li {
    margin: 0;
    padding: 0;
}
ul.treeselect {
    margin-top: 8px;
}
ul.treeselect li {
    padding: 2px 10px 2px;
    list-style: none;
}
ul.treeselect i.treeselect-toggle {
    line-height: 18px;
}
ul.treeselect label {
    font-size: 1em;
    margin-left: 8px;
}
ul.treeselect label.nav-header {
    padding: 0;
}
ul.treeselect input {
    margin: 2px 0 0 8px;
}
ul.treeselect .treeselect-menu {
    margin: 0 6px;
}
ul.treeselect ul.dropdown-menu {
    margin: 0;
}
ul.treeselect ul.dropdown-menu li {
    padding: 0 5px;
    border: none;
}

.treeselect-sub .fa.pull-left {
    margin-right: 0;
}

.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #999;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    text-transform: uppercase;
}

.btn-group > .btn-micro {
    font-size: 10px;
    padding: 0;
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
}

.treeselect-sub {
    padding-left: 10px;
}