.checkbox {
    visibility: hidden;
    width: 17px;
    border: 0;
    margin-right: 5px !important;
}

.clearfix:before,
.clearfix:after{
    content:"";
    display:table
}

.clearfix:after{
    clear:both
}

.clearfix{
    *zoom:1
}

.prettycheckbox,
.prettyradio{
    display:inline-block;
    padding:0;
    margin:0
}

.prettycheckbox>a,
.prettyradio>a{
    height: 15px;
    width: 15px;
    display:inline-block;
    float: left;
    cursor:pointer;
    margin:0;
    background: #fff;
    border: 1px solid #d9d9d9;
    top: 1px;
    position: relative;
    margin-right: 5px;
}

.filter-form .prettycheckbox>a {
    top: 3px;
}

.prettycheckbox label,
.prettyradio label{
    cursor:pointer
}

.prettycheckbox a.disabled,
.prettycheckbox label.disabled,
.prettyradio a.disabled,
.prettyradio label.disabled{
    cursor:not-allowed
}

.prettycheckbox>a.checked{
    background: url('../../images/layout/check.png') no-repeat center center #fff;
}

.prettycheckbox>a.checked.disabled{
    opacity: 0.6;
}

.prettycheckbox>a.disabled{
    opacity: 0.6;
}
