.is_clickable {
  cursor: hand;
  cursor: pointer;
}

.nstSlider-holder {
  height: 25px;
  width: 180px;
  position: relative;
  margin-bottom: 15px;
}

.nstSlider {
  cursor: hand;
  cursor: pointer;
  position: relative;
  width: 180px;
  height: 6px;
  background: #c9c9c9;
  top: 8px;

  .rightGrip,
  .leftGrip {
    cursor: e-resize;
    position: absolute;
    top: -9px;

    &:hover {
      @extend .icon-range-grip-active;
    }
  }

  .rightGrip {
//    margin-left: 3px;
  }

  .leftGrip {
//    margin-left: -2px;
  }

  .bar {
    position: absolute;
    height: 6px;
    top: 0;
    background: $color-second;
  }

  .highlightPanel {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    height: 20px;
    top: 0;
  }
}