.user-page {
	.uk-form-horizontal .uk-form-label {
	    float: left;
	    font-size: 14px;
	    color: #757575;
	    font-weight: normal;
	}

	.user-account {
	    padding: 30px 0;
	}
}

#user-nav {
	.uk-container {
		overflow: hidden;
	}
}

@media screen and (max-width: 480px) {
	.user-nav {
	    margin-bottom: 20px;

	    a {
	    	font-size: 14px;
	    }

	    li {
		    margin-right: 30px;
		}
	}

	.user-page {
		.uk-form-horizontal {
			.uk-form-label {
			    float: none;
			    margin-bottom: 0;
			    line-height: 13px;
			    margin-bottom: 5px;
			}
		}

		h1 {
			font-size: 24px;
			line-height: 23px;

			.karma {
				font-size: 14px;
			}
		}

		.user-img {
		    margin-right: 10px;
		}

		.user-account-data {
			font-size: 14px;
			line-height: 13px;

			> div:first-child {
				margin-bottom: 10px;
			}
		}

		.user-account-main {
			margin-bottom: 20px;
		}

		.user-account {
		    padding: 30px 0 20px;
		}

		input {
			font-size: 14px;
		}

		#comments .comment-title {
		    font-size: 16px;
		    line-height: 18px;
		}

		.comment-body {
			font-size: 14px;
			line-height: 16px;

			.img {
				margin-right: 15px;
			}
		}

		.empty-results {
			line-height: 24px;
			font-size: 16px;

			span {
				display: block;
			}
		}
	}

	.user-edit-form {
		label {
			max-width: 100%;
		}

		.uk-form-controls {
	    	margin-left: 0;

	    	input {
	    		max-width: 100%;
	    	}
		}
	}

	.user-account-main {
		display: block;

		h1 {
			margin-top: 10px;
		}
	}
}

@media screen and (max-width: 375px) {
	.user-page {
		.user-settings-btn {
		    width: 30px;
		    height: 30px;
		    background-size: 20px;
		    top: 0;
		}

		h1 {
			font-size: 18px;
			line-height: 17px;
		}

		.user-img {
			img {
				height: 45px;
			}
		}

		#comments .comment-body .img {
			margin-right: 10px;
			
			img {
				width: 45px;
			}
		}
		
		.empty-results {
			padding: 30px 0;
		}
	}
}