.first-level {
  text-transform: uppercase;
  font-size: 18px;
  color: #000;
  line-height: 22px;
}

@mixin vert_menu() {
  transform: rotate(90deg) scale(1) skew(1deg) translate(0px);
  -webkit-transform: rotate(90deg) scale(1) skew(1deg) translate(0px);
  -moz-transform: rotate(90deg) scale(1) skew(1deg) translate(0px);
  -o-transform: rotate(90deg) scale(1) skew(1deg) translate(0px);
  -ms-transform: rotate(90deg) scale(1) skew(1deg) translate(0px);
}

.search-secondary {
  input[type=text] {
    background: #efefef;
    display: block;
    height: 40px;
    border: 0;
    width: 100%;
    padding-left: 15px;
  }

  .uk-button {
    text-align: center;
    height: 40px;
    text-transform: uppercase;
    width: 140px;
    margin-left: 40px;
    float: right;
  }

  .text-box {
    margin-right: 180px;
  }
}

.digit-404 {
  width: 735px;
  height: 295px;
  float: right;

  > div {
    width: 205px;
    height: 245px;
    position: relative;
  }

  a {
    line-height: 15px;
    display: block;

    &:hover {
      text-decoration: none;
    }
  }
}

#digit-first {
  float: left;

  .row-0 {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 0px;
    top: 3px;

    a {
      line-height: 17px;
    }

    #dig-link-163 {
      text-indent: 52px;
    }

    #dig-link-264 {
      text-indent: 25px;
    }
  }

  .row-1 {
    @include vert_menu();
    position: absolute;
    left: 78px;
    top: 59px;
    width: 165px;
  }

  .row-2 {
    position: absolute;
    width: 145px;
    left: 83px;
    top: 163px;
    text-align: center;
  }
}

#dig-link-165 {
  text-indent: 95px;
}

#dig-link-259 {
  text-indent: 83px;
}

#dig-link-166 {
  text-indent: 76px;
}

#dig-link-164 {
  text-indent: 67px;
}

#dig-link-167 {
  text-indent: 53px;
}

#dig-link-163 {
  text-indent: 78px;
}

#dig-link-170 {
  text-indent: 35px;
}

#dig-link-264 {
  text-indent: 24px;
}

#dig-link-280 {
  text-indent: 18px;
}

#dig-link-168 {
  text-indent: 3px;
}

#dig-link-323 {
  text-indent: 2px;
}

#dig-link-126 {
  text-indent: 10px;
}

#dig-link-135 {
  position: absolute;
  top: -2px;
  left: 52px;
}

#dig-link-83 {
  text-indent: 38px;
  line-height: 15px;
}

#dig-link-112 {
  text-indent: 21px;
}

#dig-link-119 {
  text-indent: -63px;
}

#dig-link-229 {
  position: absolute;
  left: 75px;
  top: 30px;
}

#dig-link-219 {
  text-indent: 7px;
}

#digit-second {
  float: left;
  margin-left: 60px;
  top: -5px;

  > div {
    position: relative;
  }

  #dig-link-167 {
    text-indent: 25px;
  }

  .row-1 {
    position: absolute;
    top: 13px;
    left: 110px;

    #dig-link-163 {
      text-indent: 21px;
    }
  }

  .row-2 {
    @include vert_menu();
    position: absolute;
    top: 115px;
    left: -50px;

    #dig-link-163 {
      text-indent: 51px;
      position: absolute;
      top: 0px;
      left: 60px;
    }
  }

  .row-3 {
    position: absolute;
    top: 210px;

    #dig-link-386 {
      text-indent: 65px;
    }

    #dig-link-282 {
      text-indent: 80px;
    }
  }

  .row-4 {
    @include vert_menu();
    position: absolute;
    width: 175px;
    top: 115px;
    left: 90px;

    #dig-link-172 {
      text-indent: 35px;
      position: absolute;
      top: 45px;
      left: 90px;
    }

    #dig-link-136 {
      text-indent: 13px;
    }
  }

  .row-5 {
    position: absolute;
    top: 213px;
    left: 95px;

    #dig-link-170 {
      text-indent: 35px;
      position: relative;
      top: 17px;
    }
  }
}

#digit-third {
  float: left;
  margin-left: 60px;
  top: 10px;

  .row-0 {
    #dig-link-280 {
      text-indent: 57px;
    }

    #dig-link-386 {
      text-indent: 35px;
    }

    #dig-link-170 {
      text-indent: 22px;
    }

    #dig-link-166 {
      text-indent: 20px;
    }

    #dig-link-169 {
      text-indent: -2px;
    }

    #dig-link-164 {
      text-indent: -4px;
    }

    #dig-link-167 {
      text-indent: -20px;
    }
  }

  .row-1 {
    @include vert_menu();
    position: absolute;
    top: 16px;
    left: 104px;

    #dig-link-163 {
      text-indent: 0px;
    }

    #dig-link-168 {
      text-indent: 3px;
      position: absolute;
      top: 0;
      width: 140px;
      left: 48px;
    }

    #dig-link-205 {
      position: absolute;
      right: -129px;
      bottom: 46px;
    }

    #dig-link-193 {
      position: absolute;
      top: -16px;
      right: -131px;
    }
  }

  .row-2 {
    position: absolute;
    bottom: 0;

    #dig-link-259 {
      text-indent: 110px;
    }

    #dig-link-170 {
      text-indent: 110px;
    }

    #dig-link-164 {
      text-indent: 111px;
    }
  }

  .row-3 {
    #dig-link-169 {
      position: absolute;
      top: 165px;
      left: 33px;
    }
  }
}

#dig-link-265 {
  text-indent: 68px;
}

#dig-link-386 {
  text-indent: 55px;
}

#dig-link-172 {
  text-indent: 35px;
}

#dig-link-68 {
  text-indent: -18px;
}

#dig-link-171 {
  position: absolute;
  top: 20px;
  left: 45px;
}

#dig-link-110 {
  text-indent: 30px;
}

#dig-link-75 {
  text-indent: 50px;
}

#dig-link-282 {
  text-indent: 75px;
}

#dig-link-128 {
  position: absolute;
  top: 14px;
  left: 110px;
}

#dig-link-195 {
  text-indent: 25px;
}

#dig-link-282 {
  text-indent: 13px;
}

#dig-link-131 {
  text-indent: 8px;
}

#dig-link-139 {
  text-indent: 72px;
}

#dig-link-264 {
  text-indent: 42px;
}

#dig-link-74 {
  text-indent: -23px;
}

#dig-link-279 {
  text-indent: -13px;
}

#dig-link-129 {
  position: absolute;
  top: 14px;
  width: 130px;
  left: 65px;
}

#dig-link-144 {
  position: absolute;
  top: 30px;
  left: 65px;
}

.block-404 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}