@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin bold_text() {
  color: #000;
  font-weight: bold;
}

@mixin triangle($size) {
  @include square(0);
  border-style: solid;
  border-width: $size $size 0 0;
}

@mixin triangle_down($width, $height, $bg) {
  @include square(0);
  border-style: solid;
  border-width: $width+px $height/2+px 0 $height/2+px;
  border-color: $bg transparent transparent transparent;
}

@mixin control_link() {
  color: #000;
  background: none;
}