$red: #ED2B31;
$base-body-font-family: 'GT Walsheim Pro';
$base-body-font-size: 16px;
$base-body-color: #121212;

$utility-container-padding-horizontal:           15px;
$utility-container-large-max-width:              1200px;
$utility-container-large-padding-horizontal:     15px;

$form-advanced-checked-color:                  #ED2B31;

$base-link-color:                              $red;
$base-link-text-decoration:                    none;
$base-link-hover-color:                        $red;
$base-link-hover-text-decoration:              none;