@import "_variables";

.user-page {
	background: #f9f9f9;

	.empty-results {
		font-size: 18px;
		line-height: 17px;
		text-align: center;
		color: #757575;
		padding: 80px 0;
	}

	header {
		margin-bottom: 0;
		box-shadow: 0px 3px 4px rgba(95, 125, 149, 0.13);
		position: relative;
    	z-index: 99999;
	}

	.user-account {
		padding: 35px 0;
	}

	.user-account-main {
		display: flex;
		width: 100%;
		position: relative;
		align-items: center;
		margin-bottom: 30px;
	}

	.user-img {
		margin-right: 20px;

		img {
			border-radius: 100px;
		}
	}

	h1 {
		font-size: 36px;
		line-height: 35px;
		font-weight: bold;
		margin: 0;
		position: relative;

		.karma {
			margin-left: 10px;
			color: $red;
			font-size: 16px;
			line-height: 15px;
			position: absolute;
			top: -3px;
			font-weight: normal;
		}
	}

	.user-settings-btn {
		position: absolute;
		border: 1px solid #E5E5E5;
		box-sizing: border-box;
		box-shadow: 0px 3px 4px rgba(95, 125, 149, 0.13);
		border-radius: 2px;
		background: url(../../images/layout/user/settings.svg) no-repeat center center #FFFFFF;
		display: block;
		width: 40px;
		height: 40px;
		right: 0;

		&.active {
			box-shadow: 0;
			border-color: #ED2B31;
		}
	}

	.user-account-data {
		font-size: 16px;

		span {
			font-weight: bold;
			margin-right: 10px;
		}
	}

	.uk-pagination {
		position: relative;
		margin-top: 40px;
	}

	#comments {
		#comment-items {
			> .review {
				margin-bottom: 20px;
				padding-bottom: 20px;
			}
		}

		.uk-pagination {
			margin: 30px 0 0;
		}
	}
}

.user-dashboard {
	background: #fff;
}

.user-nav {
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: 30px;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
	}

	li {
		margin-right: 50px;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		color: #757575;
		text-decoration: none;
		line-height: 55px;
		font-weight: bold;
		display: block;
	    height: 55px;
	    box-sizing: border-box;
	    margin-bottom: -1px;
	    white-space: nowrap;

		span {
			font-weight: normal;
		}
		
		&.active,
		&:hover,
		&:active {
			color: #121212;
			text-decoration: none;
			border-bottom: 2px solid #ED2B31;
		}
	}
}

.user-edit-form {
	.shadow-block {
		padding: 30px
	}

	.form-title {
		margin-bottom: 15px;
	}

	label {
		color: #757575;
		font-size: 14px;
		max-width: 130px;
		line-height: 40px;
		margin-top: 0 !important;
	}

	.uk-form-controls {
		margin-left: 140px;

		input {
			height: 40px;
			border: 1px solid #E6E6E6;
			box-sizing: border-box;
			border-radius: 2px;
			padding: 4px 15px;
			max-width: 400px;
		}
	}

	.separator {
		border-bottom: 1px solid #E5E5E5;
		margin: 30px 0;
	}
}

#upload-drop {
	&:hover {
		img {
			opacity: 0.5;
		}
	}

	&.loading {
		opacity: 0.8;
	}
}

#upload-select {
	cursor: pointer;
}