.qq-upload-button {
    background: #eee;
    font-size: 12px;
    color: #000;
    border-bottom: 0;
    margin-right: 15px;
}

.qq-upload-list li,
.qq-upload-list li.qq-in-progress,
.qq-upload-list li.qq-upload-success {
    background: none;
    color: #000;
    display: inline-block;
    font-size: 12px;
    padding: 0;
    vertical-align: top;
}

.qq-upload-list li {
    margin: 10px 0 0;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}    

.qq-upload-cancel {
    background: url('/images/layout/delete.png') no-repeat center 1px;
    border: 0;
    font-size: 0;
    width: 10px;
    height: 10px;
    display: inline-block;
    float: left;
    margin-right: 3px;
    position: relative;
    top: 1px;
    outline: 0;
    cursor: pointer;
}

.qq-file-info {
	float: left;
    width: calc(100% - 35px);
}

.qq-upload-drop-area-selector {
	height: 75px;
	text-align: center;
	border: 3px solid #bad6db;
	background: #f7f7f7;
    position: relative;
    top: 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.qq-drag-cont {
    position: relative;
}

.qq-grag-text {
    position: absolute;
    z-index: 5;
    top: 35px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    top: 43px;
}